<a href="https://colab.research.google.com/github/sinaseyfi73/ECF_homework_SinaSeyfi/blob/main/ECF_hm3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Is the relationship between equity issuance and market liquidity just a matter of region?

This code has been written by Anh Nguyen and Sina Seyfi, for the course Empirical Corporate Finance 2021, assignment 3. We replicate results from the Paper Hanselaar, Rogier M, Rene M Stulz, and Mathijs A Van Dijk, 2019, Do firms issue more equity when markets become more liquid?, *Journal of Financial Economics* 133, 64–82. 

If there are any questions contact authors.


Anh Nguyen ([Email:anh.thi.nguyen@hanken.fi](mailto:anh.thi.nguyen@hanken.fi)) is a Finance Ph.D. student in Hanken School of Economics.

Sina Seyfi ([Email:sina.seyfi@aalto.fi](mailto:sina.seyfi@aalto.fi)) is a Finance Ph.D. student from Aalto University, School of Business.

# Introduction

In [ ]:
import numpy as np
import pandas as pd
import stat
import matplotlib.pyplot as plt
!pip install linearmodels

# Perform PooledOLS
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS

In this part, we read the data. In order to be able to run the codes afterward, you need to change tha path of the data to the excel file that we provided.

# Table 2 - Replication

We define the Issues data, Liquidity and returns:

In [ ]:
path = '/content/drive/MyDrive/PhD/ECF/Hanselaar_Stulz_vanDijk_data/Hanselaar_Stulz_vanDijk_data.xlsx'
Issues = pd.read_excel(path, sheet_name='Issues', skiprows=5)
Issues = Issues.set_index(['YearQuarter']) 
Issues = Issues.diff()
Issues_1 = Issues.shift()
Issues_2 = Issues.shift(2)
Issues_3 = Issues.shift(3)
 
Liquidity = pd.read_excel(path, sheet_name='Liquidity', skiprows=5)
Liquidity = Liquidity.set_index(['YearQuarter'])  
Liquidity = Liquidity.diff()
Liquidity_2p = Liquidity.shift(-2)
Liquidity_1p = Liquidity.shift(-1)
Liquidity_1 = Liquidity.shift(1)
Liquidity_2 = Liquidity.shift(2)
Liquidity_3 = Liquidity.shift(3)
Liquidity_4 = Liquidity.shift(4)
Liquidity_5 = Liquidity.shift(5)
Liquidity_6 = Liquidity.shift(6)

 
Market_returns = pd.read_excel(path, sheet_name='Market returns', skiprows=5)
Market_returns = Market_returns.set_index(['YearQuarter'])  

Market_returns_1p = Market_returns.shift(-1)
Market_returns_1 = Market_returns.shift(1)
Market_returns_2 = Market_returns.shift(2)
Market_returns_3 = Market_returns.shift(3)
Market_returns_4 = Market_returns.shift(4)
 




names_of_variables = [Issues, 
                      Liquidity_2p, Liquidity_1p, Liquidity,
                      Liquidity_1, Liquidity_2, Liquidity_3, Liquidity_4,
                      Liquidity_5, Liquidity_6,
                      Market_returns_1p, Market_returns, Market_returns_1,
                      Market_returns_2, Market_returns_3, Market_returns_4,
                      Issues_1, Issues_2, Issues_3]

list_of_variables = ['Issues', 
                      'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                      'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4',
                      'Liquidity_5', 'Liquidity_6',
                      'Market_returns_1p', 'Market_returns', 'Market_returns_1',
                      'Market_returns_2', 'Market_returns_3', 'Market_returns_4',
                      'Issues_1', 'Issues_2', 'Issues_3']

i = 0
for data in names_of_variables:
  data  = pd.DataFrame(data.stack(dropna = False ), columns=[list_of_variables[i]])
  data.index = data.index.set_names(['YearQuarter', 'Country'])
  if i == 0: new_name_of_variables = pd.DataFrame(index = data.index, columns= list_of_variables)
  new_name_of_variables[list_of_variables[i]] = data
  i += 1


panel_data = pd.concat([new_name_of_variables,
                        pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(0) % 10, 
                                                index = new_name_of_variables.index)['YearQuarter'])], axis = 1)



panel_data

                         Issues  Liquidity_2p  Liquidity_1p  ...  2  3  4
YearQuarter Country                                          ...
19901       ARG             NaN           NaN           NaN  ...  0  0  0
            AUS             NaN           NaN           NaN  ...  0  0  0
            AUT             NaN           NaN           NaN  ...  0  0  0
            BEL             NaN           NaN           NaN  ...  0  0  0
            BRA             NaN           NaN           NaN  ...  0  0  0
...                         ...           ...           ...  ... .. .. ..
20144       SWE        1.498864           NaN           NaN  ...  0  0  1
            THA        1.521491           NaN           NaN  ...  0  0  1
            USANASDAQ  1.481866           NaN           NaN  ...  0  0  1
            USANYSE    0.079183           NaN           NaN  ...  0  0  1
            ZAF        2.606112           NaN           NaN  ...  0  0  1

[4000 rows x 23 columns]

In [ ]:
panel_data = panel_data.reset_index().set_index(['Country', 'YearQuarter'])

panel_data

                         Issues  Liquidity_2p  Liquidity_1p  ...  2  3  4
Country   YearQuarter                                        ...
ARG       19901             NaN           NaN           NaN  ...  0  0  0
AUS       19901             NaN           NaN           NaN  ...  0  0  0
AUT       19901             NaN           NaN           NaN  ...  0  0  0
BEL       19901             NaN           NaN           NaN  ...  0  0  0
BRA       19901             NaN           NaN           NaN  ...  0  0  0
...                         ...           ...           ...  ... .. .. ..
SWE       20144        1.498864           NaN           NaN  ...  0  0  1
THA       20144        1.521491           NaN           NaN  ...  0  0  1
USANASDAQ 20144        1.481866           NaN           NaN  ...  0  0  1
USANYSE   20144        0.079183           NaN           NaN  ...  0  0  1
ZAF       20144        2.606112           NaN           NaN  ...  0  0  1

[4000 rows x 23 columns]

Summary Statistic

In [ ]:
panel_data.dropna()[['Issues', 'Liquidity', 'Liquidity_1',
                            'Market_returns', 'Market_returns_1', 'Issues_1']].corr()

                    Issues  Liquidity  ...  Market_returns_1  Issues_1
Issues            1.000000   0.116113  ...         -0.031545 -0.661083
Liquidity         0.116113   1.000000  ...         -0.203004 -0.103994
Liquidity_1      -0.015939  -0.547862  ...          0.176800  0.113211
Market_returns    0.098701   0.178499  ...          0.047959 -0.051111
Market_returns_1 -0.031545  -0.203004  ...          1.000000  0.100155
Issues_1         -0.661083  -0.103994  ...          0.100155  1.000000

[6 rows x 6 columns]

Panel regressions

## table 2 model 1

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5', 'Liquidity_6', 'Issues_2', 'Issues_3']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4747
Estimator:                   PanelOLS   R-squared (Between):             -0.3087
No. Observations:                3028   R-squared (Within):               0.4748
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4747
Time:                        12:13:50   Log-likelihood                   -4943.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      170.06
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(16,3011)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             169.09
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(16,3011)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0198     0.0231    -0.8548     0.3927     -0.0652      0.0256
Liquidity             0.0954     0.0335     2.8473     0.0044      0.0297      0.1611
Liquidity_1           0.1024     0.0381     2.6844     0.0073      0.0276      0.1772
Liquidity_2           0.0305     0.0380     0.8033     0.4219     -0.0440      0.1050
Liquidity_3           0.0388     0.0324     1.1975     0.2312     -0.0247      0.1023
Liquidity_4           0.0077     0.0218     0.3517     0.7251     -0.0350      0.0504
Market_returns_1p    -0.0357     0.0256    -1.3915     0.1642     -0.0860      0.0146
Market_returns        0.0685     0.0254     2.6999     0.0070      0.0188      0.1182
Market_returns_1      0.0888     0.0260     3.4131     0.0007      0.0378      0.1398
Market_returns_2     -0.1576     0.0260    -6.0680     0.0000     -0.2085     -0.1067
Market_returns_3     -0.0269     0.0260    -1.0327     0.3018     -0.0779      0.0242
Market_returns_4      0.0172     0.0259     0.6666     0.5051     -0.0335      0.0680
Issues_1             -0.6323     0.0142    -44.612     0.0000     -0.6601     -0.6045
1                    -0.3269     0.0469    -6.9675     0.0000     -0.4189     -0.2349
2                     0.2174     0.0472     4.6070     0.0000      0.1249      0.3100
3                    -0.0839     0.0479    -1.7529     0.0797     -0.1778      0.0100
4                     0.1856     0.0474     3.9168     0.0001      0.0927      0.2785
=====================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5', 'Liquidity_6', 'Issues_2', 'Issues_3']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4558
Estimator:                   PanelOLS   R-squared (Between):             -0.7399
No. Observations:                4000   R-squared (Within):               0.4558
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4558
Time:                        12:13:50   Log-likelihood                   -6209.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      208.49
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(16,3983)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             208.43
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(16,3983)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0209     0.0188    -1.1149     0.2650     -0.0577      0.0159
Liquidity             0.0878     0.0264     3.3315     0.0009      0.0361      0.1395
Liquidity_1           0.1020     0.0301     3.3940     0.0007      0.0431      0.1610
Liquidity_2           0.0458     0.0301     1.5190     0.1288     -0.0133      0.1049
Liquidity_3           0.0514     0.0262     1.9629     0.0497   6.098e-05      0.1027
Liquidity_4           0.0069     0.0184     0.3740     0.7084     -0.0291      0.0429
Market_returns_1p    -0.0292     0.0200    -1.4587     0.1447     -0.0684      0.0100
Market_returns        0.0505     0.0199     2.5338     0.0113      0.0114      0.0895
Market_returns_1      0.0728     0.0204     3.5657     0.0004      0.0328      0.1128
Market_returns_2     -0.1222     0.0205    -5.9617     0.0000     -0.1623     -0.0820
Market_returns_3     -0.0284     0.0206    -1.3768     0.1687     -0.0688      0.0120
Market_returns_4      0.0332     0.0206     1.6099     0.1075     -0.0072      0.0736
Issues_1             -0.6309     0.0124    -50.917     0.0000     -0.6552     -0.6066
1                    -0.2285     0.0373    -6.1320     0.0000     -0.3016     -0.1554
2                     0.1647     0.0378     4.3542     0.0000      0.0905      0.2388
3                    -0.0865     0.0378    -2.2897     0.0221     -0.1605     -0.0124
4                     0.1729     0.0376     4.6025     0.0000      0.0993      0.2466
=====================================================================================

## table 2 model 2

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5', 'Liquidity_6']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6426
Estimator:                   PanelOLS   R-squared (Between):             -0.2467
No. Observations:                3028   R-squared (Within):               0.6427
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6426
Time:                        12:13:50   Log-likelihood                   -4360.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      300.56
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(18,3009)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             299.30
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(18,3009)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0237     0.0191    -1.2414     0.2145     -0.0612      0.0137
Liquidity             0.0796     0.0276     2.8797     0.0040      0.0254      0.1338
Liquidity_1           0.1255     0.0315     3.9873     0.0001      0.0638      0.1872
Liquidity_2           0.1153     0.0314     3.6662     0.0003      0.0536      0.1769
Liquidity_3           0.1087     0.0269     4.0449     0.0001      0.0560      0.1614
Liquidity_4           0.0307     0.0180     1.7036     0.0886     -0.0046      0.0660
Market_returns_1p     0.0023     0.0212     0.1091     0.9131     -0.0392      0.0439
Market_returns        0.0695     0.0210     3.3179     0.0009      0.0284      0.1106
Market_returns_1      0.0955     0.0215     4.4475     0.0000      0.0534      0.1375
Market_returns_2     -0.0872     0.0215    -4.0546     0.0001     -0.1294     -0.0451
Market_returns_3     -0.0379     0.0215    -1.7597     0.0786     -0.0801      0.0043
Market_returns_4     -0.0660     0.0215    -3.0744     0.0021     -0.1081     -0.0239
Issues_1             -1.0740     0.0166    -64.613     0.0000     -1.1066     -1.0415
Issues_2             -0.8003     0.0213    -37.565     0.0000     -0.8421     -0.7586
Issues_3             -0.4216     0.0166    -25.336     0.0000     -0.4542     -0.3889
1                    -0.2398     0.0392    -6.1133     0.0000     -0.3166     -0.1629
2                     0.1417     0.0392     3.6138     0.0003      0.0648      0.2186
3                    -0.1158     0.0398    -2.9112     0.0036     -0.1938     -0.0378
4                     0.2047     0.0396     5.1677     0.0000      0.1271      0.2824
=====================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5', 'Liquidity_6']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6273
Estimator:                   PanelOLS   R-squared (Between):             -4.6129
No. Observations:                4000   R-squared (Within):               0.6276
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6273
Time:                        12:13:50   Log-likelihood                   -5451.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      372.31
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             372.22
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0155    -1.5058     0.1322     -0.0539      0.0071
Liquidity             0.0700     0.0218     3.2079     0.0013      0.0272      0.1128
Liquidity_1           0.1164     0.0249     4.6777     0.0000      0.0676      0.1652
Liquidity_2           0.1181     0.0250     4.7216     0.0000      0.0690      0.1671
Liquidity_3           0.1157     0.0218     5.3170     0.0000      0.0731      0.1584
Liquidity_4           0.0281     0.0152     1.8446     0.0652     -0.0018      0.0579
Market_returns_1p    -0.0047     0.0166    -0.2845     0.7760     -0.0372      0.0278
Market_returns        0.0538     0.0165     3.2620     0.0011      0.0215      0.0862
Market_returns_1      0.0792     0.0169     4.6871     0.0000      0.0461      0.1123
Market_returns_2     -0.0707     0.0170    -4.1556     0.0000     -0.1040     -0.0373
Market_returns_3     -0.0358     0.0171    -2.0949     0.0362     -0.0693     -0.0023
Market_returns_4     -0.0370     0.0171    -2.1589     0.0309     -0.0706     -0.0034
Issues_1             -1.0627     0.0144    -73.552     0.0000     -1.0911     -1.0344
Issues_2             -0.7907     0.0185    -42.799     0.0000     -0.8269     -0.7545
Issues_3             -0.4249     0.0145    -29.264     0.0000     -0.4533     -0.3964
1                    -0.1601     0.0311    -5.1445     0.0000     -0.2211     -0.0991
2                     0.1248     0.0315     3.9672     0.0001      0.0631      0.1865
3                    -0.0996     0.0314    -3.1659     0.0016     -0.1612     -0.0379
4                     0.1719     0.0314     5.4758     0.0000      0.1104      0.2335
=====================================================================================

## table 2 model 3

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6432
Estimator:                   PanelOLS   R-squared (Between):             -0.2894
No. Observations:                3028   R-squared (Within):               0.6433
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6432
Time:                        12:13:51   Log-likelihood                   -4357.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      258.06
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(21,3006)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             256.98
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(21,3006)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_2p          0.0346     0.0187     1.8507     0.0643     -0.0021      0.0712
Liquidity_1p          0.0217     0.0289     0.7494     0.4537     -0.0351      0.0784
Liquidity             0.1305     0.0357     3.6575     0.0003      0.0606      0.2005
Liquidity_1           0.1789     0.0393     4.5501     0.0000      0.1018      0.2560
Liquidity_2           0.1708     0.0406     4.2119     0.0000      0.0913      0.2504
Liquidity_3           0.1633     0.0383     4.2624     0.0000      0.0882      0.2384
Liquidity_4           0.0815     0.0335     2.4362     0.0149      0.0159      0.1471
Liquidity_5           0.0439     0.0273     1.6082     0.1079     -0.0096      0.0973
Liquidity_6           0.0197     0.0185     1.0643     0.2873     -0.0166      0.0561
Market_returns_1p    -0.0019     0.0213    -0.0900     0.9283     -0.0437      0.0399
Market_returns        0.0760     0.0215     3.5374     0.0004      0.0339      0.1181
Market_returns_1      0.0979     0.0216     4.5328     0.0000      0.0556      0.1403
Market_returns_2     -0.0859     0.0216    -3.9791     0.0001     -0.1282     -0.0436
Market_returns_3     -0.0344     0.0216    -1.5936     0.1111     -0.0768      0.0079
Market_returns_4     -0.0619     0.0216    -2.8727     0.0041     -0.1042     -0.0197
Issues_1             -1.0749     0.0166    -64.668     0.0000     -1.1075     -1.0423
Issues_2             -0.8021     0.0213    -37.635     0.0000     -0.8439     -0.7603
Issues_3             -0.4230     0.0167    -25.398     0.0000     -0.4557     -0.3903
1                    -0.2379     0.0396    -6.0092     0.0000     -0.3155     -0.1603
2                     0.1396     0.0395     3.5356     0.0004      0.0622      0.2170
3                    -0.1150     0.0401    -2.8689     0.0041     -0.1936     -0.0364
4                     0.2039     0.0398     5.1207     0.0000      0.1258      0.2819
=====================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6276
Estimator:                   PanelOLS   R-squared (Between):             -4.9267
No. Observations:                4000   R-squared (Within):               0.6278
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6276
Time:                        12:13:51   Log-likelihood                   -5450.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      319.22
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(21,3978)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             319.15
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(21,3978)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_2p          0.0177     0.0152     1.1624     0.2451     -0.0121      0.0475
Liquidity_1p         -0.0024     0.0221    -0.1064     0.9152     -0.0457      0.0410
Liquidity             0.0933     0.0265     3.5170     0.0004      0.0413      0.1453
Liquidity_1           0.1414     0.0292     4.8420     0.0000      0.0841      0.1986
Liquidity_2           0.1452     0.0302     4.8019     0.0000      0.0859      0.2045
Liquidity_3           0.1445     0.0291     4.9683     0.0000      0.0875      0.2015
Liquidity_4           0.0577     0.0263     2.1941     0.0283      0.0061      0.1092
Liquidity_5           0.0283     0.0222     1.2774     0.2015     -0.0151      0.0717
Liquidity_6           0.0141     0.0157     0.9005     0.3679     -0.0166      0.0449
Market_returns_1p    -0.0062     0.0166    -0.3705     0.7111     -0.0387      0.0264
Market_returns        0.0569     0.0168     3.3794     0.0007      0.0239      0.0899
Market_returns_1      0.0798     0.0170     4.7000     0.0000      0.0465      0.1130
Market_returns_2     -0.0708     0.0171    -4.1490     0.0000     -0.1042     -0.0373
Market_returns_3     -0.0349     0.0171    -2.0391     0.0415     -0.0685     -0.0013
Market_returns_4     -0.0356     0.0172    -2.0710     0.0384     -0.0693     -0.0019
Issues_1             -1.0631     0.0145    -73.564     0.0000     -1.0914     -1.0347
Issues_2             -0.7916     0.0185    -42.824     0.0000     -0.8278     -0.7554
Issues_3             -0.4256     0.0145    -29.289     0.0000     -0.4541     -0.3971
1                    -0.1604     0.0314    -5.1110     0.0000     -0.2219     -0.0989
2                     0.1226     0.0316     3.8762     0.0001      0.0606      0.1847
3                    -0.0987     0.0317    -3.1182     0.0018     -0.1608     -0.0367
4                     0.1729     0.0315     5.4850     0.0000      0.1111      0.2348
=====================================================================================

## table 2 model 4

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_1p', 'Liquidity_4',
                                                   'Liquidity_5','Liquidity_6', 'Market_returns_1p']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6419
Estimator:                   PanelOLS   R-squared (Between):             -0.2519
No. Observations:                3028   R-squared (Within):               0.6420
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6419
Time:                        12:13:51   Log-likelihood                   -4363.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      359.98
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(15,3012)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             354.52
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(15,3012)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
Liquidity            0.0958     0.0181     5.2852     0.0000      0.0602      0.1313
Liquidity_1          0.1276     0.0246     5.1938     0.0000      0.0794      0.1758
Liquidity_2          0.1003     0.0246     4.0754     0.0000      0.0520      0.1485
Liquidity_3          0.0832     0.0183     4.5363     0.0000      0.0472      0.1191
Market_returns       0.0741     0.0208     3.5588     0.0004      0.0333      0.1149
Market_returns_1     0.1067     0.0207     5.1659     0.0000      0.0662      0.1472
Market_returns_2    -0.0826     0.0213    -3.8756     0.0001     -0.1245     -0.0408
Market_returns_3    -0.0388     0.0214    -1.8126     0.0700     -0.0809      0.0032
Market_returns_4    -0.0690     0.0213    -3.2469     0.0012     -0.1107     -0.0274
Issues_1            -1.0726     0.0166    -64.617     0.0000     -1.1051     -1.0400
Issues_2            -0.7989     0.0213    -37.552     0.0000     -0.8406     -0.7572
Issues_3            -0.4195     0.0166    -25.274     0.0000     -0.4521     -0.3870
1                   -0.2431     0.0392    -6.2008     0.0000     -0.3200     -0.1662
2                    0.1396     0.0388     3.6007     0.0003      0.0636      0.2156
3                   -0.1160     0.0395    -2.9356     0.0034     -0.1934     -0.0385
4                    0.2091     0.0393     5.3247     0.0000      0.1321      0.2861
====================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_1p', 'Liquidity_4',
                                                   'Liquidity_5','Liquidity_6', 'Market_returns_1p']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6266
Estimator:                   PanelOLS   R-squared (Between):             -4.5186
No. Observations:                4000   R-squared (Within):               0.6269
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6266
Time:                        12:13:51   Log-likelihood                   -5455.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      445.78
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(15,3984)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             445.67
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(15,3984)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
Liquidity            0.0857     0.0151     5.6834     0.0000      0.0561      0.1152
Liquidity_1          0.1194     0.0201     5.9554     0.0000      0.0801      0.1587
Liquidity_2          0.1060     0.0201     5.2665     0.0000      0.0665      0.1455
Liquidity_3          0.0937     0.0153     6.1209     0.0000      0.0637      0.1237
Market_returns       0.0569     0.0164     3.4657     0.0005      0.0247      0.0891
Market_returns_1     0.0881     0.0164     5.3727     0.0000      0.0560      0.1203
Market_returns_2    -0.0679     0.0169    -4.0157     0.0001     -0.1011     -0.0348
Market_returns_3    -0.0357     0.0170    -2.0956     0.0362     -0.0691     -0.0023
Market_returns_4    -0.0383     0.0171    -2.2479     0.0246     -0.0718     -0.0049
Issues_1            -1.0615     0.0144    -73.543     0.0000     -1.0898     -1.0332
Issues_2            -0.7897     0.0185    -42.772     0.0000     -0.8259     -0.7535
Issues_3            -0.4237     0.0145    -29.211     0.0000     -0.4521     -0.3952
1                   -0.1619     0.0311    -5.2003     0.0000     -0.2229     -0.1008
2                    0.1251     0.0311     4.0280     0.0001      0.0642      0.1860
3                   -0.1001     0.0314    -3.1904     0.0014     -0.1616     -0.0386
4                    0.1746     0.0312     5.6026     0.0000      0.1135      0.2357
====================================================================================

## table 2 model 6

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5','Liquidity_6', 'Market_returns',
                                                   'Market_returns_1p', 'Market_returns_1', 'Market_returns_2',
                                                   'Market_returns_3', 'Market_returns_4']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6357
Estimator:                   PanelOLS   R-squared (Between):             -0.3229
No. Observations:                3028   R-squared (Within):               0.6358
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6357
Time:                        12:13:51   Log-likelihood                   -4389.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      438.48
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(12,3015)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             424.21
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(12,3015)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
Liquidity_1p    -0.0279     0.0176    -1.5832     0.1135     -0.0624      0.0066
Liquidity        0.1167     0.0246     4.7361     0.0000      0.0684      0.1649
Liquidity_1      0.2047     0.0279     7.3377     0.0000      0.1500      0.2594
Liquidity_2      0.1907     0.0282     6.7731     0.0000      0.1355      0.2460
Liquidity_3      0.1645     0.0250     6.5762     0.0000      0.1155      0.2136
Liquidity_4      0.0497     0.0178     2.7870     0.0054      0.0147      0.0847
Issues_1        -1.0726     0.0166    -64.515     0.0000     -1.1052     -1.0400
Issues_2        -0.7988     0.0213    -37.567     0.0000     -0.8405     -0.7571
Issues_3        -0.4207     0.0167    -25.183     0.0000     -0.4535     -0.3880
1               -0.2032     0.0391    -5.2003     0.0000     -0.2798     -0.1266
2                0.1246     0.0389     3.2053     0.0014      0.0484      0.2009
3               -0.1212     0.0391    -3.1014     0.0019     -0.1977     -0.0446
4                0.1925     0.0392     4.9161     0.0000      0.1157      0.2693
================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues', 'Liquidity_2p',
                                                   'Liquidity_5','Liquidity_6', 'Market_returns',
                                                   'Market_returns_1p', 'Market_returns_1', 'Market_returns_2',
                                                   'Market_returns_3', 'Market_returns_4']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6220
Estimator:                   PanelOLS   R-squared (Between):             -4.7676
No. Observations:                4000   R-squared (Within):               0.6223
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6220
Time:                        12:13:52   Log-likelihood                   -5480.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      546.78
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(12,3987)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             544.77
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(12,3987)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
Liquidity_1p    -0.0303     0.0146    -2.0750     0.0380     -0.0590     -0.0017
Liquidity        0.0932     0.0200     4.6531     0.0000      0.0540      0.1325
Liquidity_1      0.1709     0.0228     7.5027     0.0000      0.1263      0.2156
Liquidity_2      0.1660     0.0231     7.2004     0.0000      0.1208      0.2112
Liquidity_3      0.1494     0.0207     7.2262     0.0000      0.1089      0.1900
Liquidity_4      0.0406     0.0152     2.6819     0.0074      0.0109      0.0703
Issues_1        -1.0613     0.0144    -73.462     0.0000     -1.0897     -1.0330
Issues_2        -0.7905     0.0184    -42.853     0.0000     -0.8267     -0.7543
Issues_3        -0.4241     0.0146    -29.122     0.0000     -0.4527     -0.3956
1               -0.1349     0.0310    -4.3445     0.0000     -0.1958     -0.0740
2                0.1225     0.0311     3.9341     0.0001      0.0615      0.1836
3               -0.1119     0.0310    -3.6052     0.0003     -0.1727     -0.0510
4                0.1584     0.0312     5.0806     0.0000      0.0973      0.2195
================================================================================

## table 2 model 7

In [ ]:
model = PanelOLS(panel_data.dropna().Issues,
                 panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                                                   'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4', 
                                                   'Liquidity_5','Liquidity_6']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6371
Estimator:                   PanelOLS   R-squared (Between):             -0.3072
No. Observations:                3028   R-squared (Within):               0.6372
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6371
Time:                        12:13:52   Log-likelihood                   -4383.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      441.05
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(12,3015)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             439.19
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(12,3015)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Market_returns_1p    -0.0019     0.0204    -0.0917     0.9270     -0.0418      0.0380
Market_returns        0.1062     0.0201     5.2770     0.0000      0.0667      0.1456
Market_returns_1      0.1139     0.0201     5.6682     0.0000      0.0745      0.1533
Market_returns_2     -0.1169     0.0200    -5.8325     0.0000     -0.1562     -0.0776
Market_returns_3     -0.0568     0.0201    -2.8238     0.0048     -0.0962     -0.0173
Market_returns_4     -0.0923     0.0201    -4.5999     0.0000     -0.1316     -0.0529
Issues_1             -1.0728     0.0166    -64.524     0.0000     -1.1054     -1.0402
Issues_2             -0.7973     0.0213    -37.405     0.0000     -0.8391     -0.7555
Issues_3             -0.4166     0.0166    -25.077     0.0000     -0.4492     -0.3840
1                    -0.2454     0.0390    -6.2980     0.0000     -0.3218     -0.1690
2                     0.1520     0.0390     3.9012     0.0001      0.0756      0.2284
3                    -0.1179     0.0397    -2.9704     0.0030     -0.1957     -0.0401
4                     0.2016     0.0391     5.1510     0.0000      0.1248      0.2783
=====================================================================================

In [ ]:
model = PanelOLS(panel_data.fillna(0).Issues,
                 panel_data.fillna(0).drop(columns=['Issues', 'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                                                   'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4', 
                                                   'Liquidity_5','Liquidity_6']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6213
Estimator:                   PanelOLS   R-squared (Between):             -4.2910
No. Observations:                4000   R-squared (Within):               0.6215
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6213
Time:                        12:13:52   Log-likelihood                   -5484.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      545.05
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(12,3987)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             544.93
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(12,3987)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Market_returns_1p    -0.0087     0.0161    -0.5415     0.5882     -0.0403      0.0229
Market_returns        0.0826     0.0160     5.1546     0.0000      0.0512      0.1140
Market_returns_1      0.0956     0.0161     5.9441     0.0000      0.0640      0.1271
Market_returns_2     -0.0914     0.0161    -5.6658     0.0000     -0.1230     -0.0598
Market_returns_3     -0.0505     0.0162    -3.1129     0.0019     -0.0823     -0.0187
Market_returns_4     -0.0643     0.0163    -3.9494     0.0001     -0.0962     -0.0324
Issues_1             -1.0608     0.0145    -73.317     0.0000     -1.0892     -1.0325
Issues_2             -0.7863     0.0185    -42.502     0.0000     -0.8226     -0.7501
Issues_3             -0.4193     0.0145    -28.887     0.0000     -0.4478     -0.3909
1                    -0.1672     0.0311    -5.3795     0.0000     -0.2282     -0.1063
2                     0.1327     0.0314     4.2270     0.0000      0.0712      0.1943
3                    -0.0963     0.0315    -3.0567     0.0023     -0.1580     -0.0345
4                     0.1710     0.0312     5.4767     0.0000      0.1098      0.2322
=====================================================================================

# Table 3 - replication

Again we need to define our data.

In [ ]:
# Defining Volatility, and its lags
Volatility = pd.read_excel(path, sheet_name='Volatility', skiprows=5)
Volatility = Volatility.set_index(['YearQuarter'])
Volatility = Volatility.diff()
Volatility_1p = Volatility.shift(-1)
Volatility_1 = Volatility.shift(1)
Volatility_2 = Volatility.shift(2)
Volatility_3 = Volatility.shift(3)
Volatility_4 = Volatility.shift(4)

v = [Volatility_1p, Volatility, Volatility_1,
             Volatility_2, Volatility_3, Volatility_4]
names = ['Volatility_1p', 'Volatility', 'Volatility_1',
             'Volatility_2', 'Volatility_3', 'Volatility_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Volatility_1p, Volatility, Volatility_1,
             Volatility_2, Volatility_3, Volatility_4] = v




# Defining Turnover, and its lags
Turnover = pd.read_excel(path, sheet_name='Turnover', skiprows=5)
Turnover = Turnover.set_index(['YearQuarter'])
Turnover = Turnover.diff()
Turnover_1p = Turnover.shift(-1)
Turnover_1 = Turnover.shift(1)
Turnover_2 = Turnover.shift(2)
Turnover_3 = Turnover.shift(3)
Turnover_4 = Turnover.shift(4)

v = [Turnover_1p, Turnover, Turnover_1,
             Turnover_2, Turnover_3, Turnover_4]
names = ['Turnover_1p', 'Turnover', 'Turnover_1',
             'Turnover_2', 'Turnover_3', 'Turnover_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Turnover_1p, Turnover, Turnover_1,
             Turnover_2, Turnover_3, Turnover_4] = v


# Defining Liquidity_risk, and its lags
Liquidity_risk = pd.read_excel(path, sheet_name='Liquidity risk', skiprows=5)
Liquidity_risk = Liquidity_risk.set_index(['YearQuarter'])
Liquidity_risk = Liquidity_risk.diff()
Liquidity_risk_1p = Liquidity_risk.shift(-1)
Liquidity_risk_1 = Liquidity_risk.shift(1)
Liquidity_risk_2 = Liquidity_risk.shift(2)
Liquidity_risk_3 = Liquidity_risk.shift(3)
Liquidity_risk_4 = Liquidity_risk.shift(4)

v = [Liquidity_risk_1p, Liquidity_risk, Liquidity_risk_1,
             Liquidity_risk_2, Liquidity_risk_3, Liquidity_risk_4]
names = ['Liquidity_risk_1p', 'Liquidity_risk', 'Liquidity_risk_1',
             'Liquidity_risk_2', 'Liquidity_risk_3', 'Liquidity_risk_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Liquidity_risk_1p, Liquidity_risk, Liquidity_risk_1,
             Liquidity_risk_2, Liquidity_risk_3, Liquidity_risk_4] = v




# Defining MB_ratio, and its lags
MB_ratio = pd.read_excel(path, sheet_name='Market-to-book ratio', skiprows=5)
MB_ratio = MB_ratio.set_index(['YearQuarter'])
MB_ratio = MB_ratio.diff()
MB_ratio_1p = MB_ratio.shift(-1)
MB_ratio_1 = MB_ratio.shift(1)
MB_ratio_2 = MB_ratio.shift(2)
MB_ratio_3 = MB_ratio.shift(3)
MB_ratio_4 = MB_ratio.shift(4)

v = [MB_ratio_1p, MB_ratio, MB_ratio_1,
             MB_ratio_2, MB_ratio_3, MB_ratio_4]
names = ['MB_ratio_1p', 'MB_ratio', 'MB_ratio_1',
             'MB_ratio_2', 'MB_ratio_3', 'MB_ratio_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[MB_ratio_1p, MB_ratio, MB_ratio_1,
             MB_ratio_2, MB_ratio_3, MB_ratio_4] = v


# Defining price_earning, and its lags
price_earning = pd.read_excel(path, sheet_name='Price earnings ratio', skiprows=5)
price_earning = price_earning.set_index(['YearQuarter'])
price_earning = price_earning.diff()
price_earning_1p = price_earning.shift(-1)
price_earning_1 = price_earning.shift(1)
price_earning_2 = price_earning.shift(2)
price_earning_3 = price_earning.shift(3)
price_earning_4 = price_earning.shift(4)

v = [price_earning_1p, price_earning, price_earning_1,
             price_earning_2, price_earning_3, price_earning_4]
names = ['price_earning_1p', 'price_earning', 'price_earning_1',
             'price_earning_2', 'price_earning_3', 'price_earning_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[price_earning_1p, price_earning, price_earning_1,
             price_earning_2, price_earning_3, price_earning_4] = v


# Defining Dividend_yield, and its lags
Dividend_yield = pd.read_excel(path, sheet_name='Dividend yield', skiprows=5)
Dividend_yield = Dividend_yield.set_index(['YearQuarter'])
Dividend_yield = Dividend_yield.diff()
Dividend_yield_1p = Dividend_yield.shift(-1)
Dividend_yield_1 = Dividend_yield.shift(1)
Dividend_yield_2 = Dividend_yield.shift(2)
Dividend_yield_3 = Dividend_yield.shift(3)
Dividend_yield_4 = Dividend_yield.shift(4)

v = [Dividend_yield_1p, Dividend_yield, Dividend_yield_1,
             Dividend_yield_2, Dividend_yield_3, Dividend_yield_4]
names = ['Dividend_yield_1p', 'Dividend_yield', 'Dividend_yield_1',
             'Dividend_yield_2', 'Dividend_yield_3', 'Dividend_yield_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Dividend_yield_1p, Dividend_yield, Dividend_yield_1,
             Dividend_yield_2, Dividend_yield_3, Dividend_yield_4] = v

Dividend_yield

                       Dividend_yield
Country   YearQuarter
ARG       19901                   NaN
AUS       19901                   NaN
AUT       19901                   NaN
BEL       19901                   NaN
BRA       19901                   NaN
...                               ...
SWE       20144              0.253131
THA       20144             -0.012640
USANASDAQ 20144                   NaN
USANYSE   20144                   NaN
ZAF       20144              0.851638

[4000 rows x 1 columns]

## Table 3 model 1

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6421
Estimator:                   PanelOLS   R-squared (Between):              0.3458
No. Observations:                3087   R-squared (Within):               0.6421
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6421
Time:                        12:13:56   Log-likelihood                   -4438.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      305.74
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(18,3068)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             304.54
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3068)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0237     0.0188    -1.2595     0.2080     -0.0606      0.0132
Liquidity             0.0817     0.0273     2.9953     0.0028      0.0282      0.1352
Liquidity_1           0.1301     0.0312     4.1715     0.0000      0.0689      0.1912
Liquidity_2           0.1253     0.0310     4.0471     0.0001      0.0646      0.1861
Liquidity_3           0.1165     0.0264     4.4075     0.0000      0.0647      0.1683
Liquidity_4           0.0335     0.0178     1.8872     0.0592     -0.0013      0.0684
Market_returns_1p     0.0019     0.0210     0.0902     0.9282     -0.0393      0.0431
Market_returns        0.0696     0.0208     3.3492     0.0008      0.0289      0.1104
Market_returns_1      0.0936     0.0212     4.4118     0.0000      0.0520      0.1352
Market_returns_2     -0.0881     0.0213    -4.1345     0.0000     -0.1299     -0.0463
Market_returns_3     -0.0323     0.0213    -1.5158     0.1297     -0.0741      0.0095
Market_returns_4     -0.0616     0.0211    -2.9135     0.0036     -0.1031     -0.0201
Issues_1             -1.0721     0.0164    -65.196     0.0000     -1.1044     -1.0399
Issues_2             -0.8022     0.0210    -38.206     0.0000     -0.8433     -0.7610
Issues_3             -0.4245     0.0165    -25.770     0.0000     -0.4568     -0.3922
1                    -0.2372     0.0389    -6.0955     0.0000     -0.3136     -0.1609
2                     0.1422     0.0389     3.6521     0.0003      0.0658      0.2185
3                    -0.1159     0.0387    -2.9920     0.0028     -0.1919     -0.0400
4                     0.2046     0.0393     5.2025     0.0000      0.1275      0.2817
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6273
Estimator:                   PanelOLS   R-squared (Between):             -4.6129
No. Observations:                4000   R-squared (Within):               0.6276
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6273
Time:                        12:13:57   Log-likelihood                   -5451.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      372.31
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             372.22
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0155    -1.5058     0.1322     -0.0539      0.0071
Liquidity             0.0700     0.0218     3.2079     0.0013      0.0272      0.1128
Liquidity_1           0.1164     0.0249     4.6777     0.0000      0.0676      0.1652
Liquidity_2           0.1181     0.0250     4.7216     0.0000      0.0690      0.1671
Liquidity_3           0.1157     0.0218     5.3170     0.0000      0.0731      0.1584
Liquidity_4           0.0281     0.0152     1.8446     0.0652     -0.0018      0.0579
Market_returns_1p    -0.0047     0.0166    -0.2845     0.7760     -0.0372      0.0278
Market_returns        0.0538     0.0165     3.2620     0.0011      0.0215      0.0862
Market_returns_1      0.0792     0.0169     4.6871     0.0000      0.0461      0.1123
Market_returns_2     -0.0707     0.0170    -4.1556     0.0000     -0.1040     -0.0373
Market_returns_3     -0.0358     0.0171    -2.0949     0.0362     -0.0693     -0.0023
Market_returns_4     -0.0370     0.0171    -2.1589     0.0309     -0.0706     -0.0034
Issues_1             -1.0627     0.0144    -73.552     0.0000     -1.0911     -1.0344
Issues_2             -0.7907     0.0185    -42.799     0.0000     -0.8269     -0.7545
Issues_3             -0.4249     0.0145    -29.264     0.0000     -0.4533     -0.3964
1                    -0.1601     0.0311    -5.1445     0.0000     -0.2211     -0.0991
2                     0.1248     0.0315     3.9672     0.0001      0.0631      0.1865
3                    -0.0996     0.0314    -3.1659     0.0016     -0.1612     -0.0379
4                     0.1719     0.0314     5.4758     0.0000      0.1104      0.2335
=====================================================================================

## Table 3 model 2

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Volatility_1p, Volatility, Volatility_1,
             Volatility_2, Volatility_3, Volatility_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6436
Estimator:                   PanelOLS   R-squared (Between):              0.3594
No. Observations:                3087   R-squared (Within):               0.6436
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6436
Time:                        12:13:57   Log-likelihood                   -4432.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      230.40
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(24,3062)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             229.49
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,3062)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0131     0.0193    -0.6788     0.4973     -0.0510      0.0248
Liquidity             0.0885     0.0281     3.1475     0.0017      0.0334      0.1436
Liquidity_1           0.1358     0.0322     4.2212     0.0000      0.0727      0.1988
Liquidity_2           0.1357     0.0321     4.2280     0.0000      0.0728      0.1986
Liquidity_3           0.1314     0.0278     4.7261     0.0000      0.0769      0.1859
Liquidity_4           0.0498     0.0188     2.6461     0.0082      0.0129      0.0866
Market_returns_1p     0.0104     0.0222     0.4715     0.6373     -0.0330      0.0539
Market_returns        0.0659     0.0219     3.0118     0.0026      0.0230      0.1088
Market_returns_1      0.0864     0.0223     3.8823     0.0001      0.0428      0.1300
Market_returns_2     -0.0805     0.0223    -3.6038     0.0003     -0.1243     -0.0367
Market_returns_3     -0.0348     0.0223    -1.5577     0.1194     -0.0785      0.0090
Market_returns_4     -0.0603     0.0221    -2.7320     0.0063     -0.1035     -0.0170
Volatility_1p         0.0383     0.0203     1.8826     0.0599     -0.0016      0.0782
Volatility            0.0318     0.0311     1.0236     0.3061     -0.0291      0.0927
Volatility_1          0.0205     0.0364     0.5628     0.5736     -0.0509      0.0918
Volatility_2          0.0422     0.0362     1.1649     0.2441     -0.0288      0.1132
Volatility_3          0.0379     0.0303     1.2490     0.2118     -0.0216      0.0974
Volatility_4          0.0495     0.0194     2.5566     0.0106      0.0115      0.0875
Issues_1             -1.0701     0.0165    -65.037     0.0000     -1.1024     -1.0378
Issues_2             -0.7994     0.0210    -38.041     0.0000     -0.8406     -0.7582
Issues_3             -0.4227     0.0165    -25.610     0.0000     -0.4551     -0.3903
1                    -0.2268     0.0392    -5.7828     0.0000     -0.3037     -0.1499
2                     0.1382     0.0392     3.5276     0.0004      0.0614      0.2150
3                    -0.1269     0.0392    -3.2415     0.0012     -0.2037     -0.0502
4                     0.2091     0.0397     5.2674     0.0000      0.1313      0.2869
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6290
Estimator:                   PanelOLS   R-squared (Between):             -4.7415
No. Observations:                4000   R-squared (Within):               0.6293
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6290
Time:                        12:13:57   Log-likelihood                   -5442.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      280.85
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             280.79
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0157     0.0160    -0.9855     0.3245     -0.0470      0.0156
Liquidity             0.0727     0.0225     3.2299     0.0012      0.0286      0.1169
Liquidity_1           0.1142     0.0257     4.4458     0.0000      0.0639      0.1646
Liquidity_2           0.1201     0.0259     4.6439     0.0000      0.0694      0.1708
Liquidity_3           0.1239     0.0227     5.4447     0.0000      0.0793      0.1684
Liquidity_4           0.0416     0.0160     2.6067     0.0092      0.0103      0.0729
Market_returns_1p    -0.0010     0.0171    -0.0570     0.9546     -0.0345      0.0325
Market_returns        0.0486     0.0170     2.8611     0.0042      0.0153      0.0820
Market_returns_1      0.0724     0.0174     4.1603     0.0000      0.0383      0.1065
Market_returns_2     -0.0642     0.0175    -3.6654     0.0003     -0.0986     -0.0299
Market_returns_3     -0.0307     0.0176    -1.7476     0.0806     -0.0652      0.0037
Market_returns_4     -0.0359     0.0176    -2.0371     0.0417     -0.0705     -0.0013
Volatility_1p         0.0247     0.0162     1.5248     0.1274     -0.0071      0.0566
Volatility            0.0108     0.0245     0.4430     0.6578     -0.0371      0.0588
Volatility_1         -0.0153     0.0286    -0.5346     0.5929     -0.0714      0.0408
Volatility_2          0.0089     0.0287     0.3101     0.7565     -0.0473      0.0651
Volatility_3          0.0181     0.0245     0.7394     0.4597     -0.0299      0.0661
Volatility_4          0.0422     0.0161     2.6207     0.0088      0.0106      0.0738
Issues_1             -1.0609     0.0145    -73.404     0.0000     -1.0893     -1.0326
Issues_2             -0.7876     0.0185    -42.571     0.0000     -0.8239     -0.7513
Issues_3             -0.4223     0.0145    -29.033     0.0000     -0.4508     -0.3937
1                    -0.1541     0.0312    -4.9421     0.0000     -0.2153     -0.0930
2                     0.1231     0.0315     3.9051     0.0001      0.0613      0.1849
3                    -0.1101     0.0316    -3.4874     0.0005     -0.1720     -0.0482
4                     0.1767     0.0315     5.6085     0.0000      0.1150      0.2385
=====================================================================================

## Table 3 model 3

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Turnover_1p, Turnover, Turnover_1,
                    Turnover_2, Turnover_3, Turnover_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6441
Estimator:                   PanelOLS   R-squared (Between):              0.3388
No. Observations:                3087   R-squared (Within):               0.6442
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6441
Time:                        12:13:58   Log-likelihood                   -4429.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      230.93
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(24,3062)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             230.02
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,3062)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0261     0.0188    -1.3888     0.1650     -0.0630      0.0108
Liquidity             0.0792     0.0273     2.9026     0.0037      0.0257      0.1327
Liquidity_1           0.1281     0.0312     4.1087     0.0000      0.0669      0.1892
Liquidity_2           0.1229     0.0309     3.9722     0.0001      0.0622      0.1836
Liquidity_3           0.1158     0.0264     4.3877     0.0000      0.0641      0.1676
Liquidity_4           0.0351     0.0178     1.9755     0.0483      0.0003      0.0700
Market_returns_1p     0.0009     0.0210     0.0448     0.9643     -0.0403      0.0422
Market_returns        0.0637     0.0209     3.0548     0.0023      0.0228      0.1046
Market_returns_1      0.0864     0.0213     4.0499     0.0001      0.0446      0.1283
Market_returns_2     -0.0864     0.0214    -4.0366     0.0001     -0.1284     -0.0444
Market_returns_3     -0.0269     0.0214    -1.2575     0.2087     -0.0688      0.0150
Market_returns_4     -0.0609     0.0212    -2.8710     0.0041     -0.1025     -0.0193
Turnover_1p          -0.0759     0.0221    -3.4336     0.0006     -0.1193     -0.0326
Turnover             -0.1573     0.0402    -3.9097     0.0001     -0.2362     -0.0784
Turnover_1           -0.1628     0.0514    -3.1667     0.0016     -0.2637     -0.0620
Turnover_2           -0.1124     0.0512    -2.1963     0.0281     -0.2127     -0.0121
Turnover_3           -0.0632     0.0400    -1.5802     0.1142     -0.1415      0.0152
Turnover_4           -0.0165     0.0220    -0.7503     0.4531     -0.0596      0.0266
Issues_1             -1.0786     0.0165    -65.363     0.0000     -1.1110     -1.0463
Issues_2             -0.8096     0.0211    -38.387     0.0000     -0.8509     -0.7682
Issues_3             -0.4280     0.0165    -25.885     0.0000     -0.4604     -0.3956
1                    -0.2271     0.0407    -5.5844     0.0000     -0.3068     -0.1473
2                     0.1123     0.0406     2.7685     0.0057      0.0328      0.1919
3                    -0.1232     0.0405    -3.0440     0.0024     -0.2026     -0.0439
4                     0.2326     0.0410     5.6792     0.0000      0.1523      0.3129
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6292
Estimator:                   PanelOLS   R-squared (Between):             -4.9933
No. Observations:                4000   R-squared (Within):               0.6294
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6292
Time:                        12:13:58   Log-likelihood                   -5441.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      281.01
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             280.95
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0244     0.0155    -1.5714     0.1162     -0.0549      0.0060
Liquidity             0.0693     0.0218     3.1782     0.0015      0.0266      0.1121
Liquidity_1           0.1158     0.0249     4.6584     0.0000      0.0671      0.1646
Liquidity_2           0.1163     0.0250     4.6573     0.0000      0.0674      0.1653
Liquidity_3           0.1150     0.0217     5.2867     0.0000      0.0723      0.1576
Liquidity_4           0.0287     0.0152     1.8807     0.0601     -0.0012      0.0585
Market_returns_1p    -0.0042     0.0166    -0.2523     0.8008     -0.0367      0.0283
Market_returns        0.0500     0.0166     3.0225     0.0025      0.0176      0.0825
Market_returns_1      0.0739     0.0170     4.3521     0.0000      0.0406      0.1071
Market_returns_2     -0.0685     0.0171    -4.0090     0.0001     -0.1020     -0.0350
Market_returns_3     -0.0322     0.0171    -1.8775     0.0605     -0.0657      0.0014
Market_returns_4     -0.0366     0.0172    -2.1328     0.0330     -0.0703     -0.0030
Turnover_1p          -0.0564     0.0165    -3.4269     0.0006     -0.0887     -0.0241
Turnover             -0.1131     0.0271    -4.1718     0.0000     -0.1663     -0.0600
Turnover_1           -0.1067     0.0332    -3.2169     0.0013     -0.1717     -0.0417
Turnover_2           -0.0632     0.0333    -1.8961     0.0580     -0.1285      0.0021
Turnover_3           -0.0234     0.0275    -0.8510     0.3948     -0.0772      0.0305
Turnover_4            0.0035     0.0167     0.2109     0.8330     -0.0292      0.0363
Issues_1             -1.0676     0.0145    -73.755     0.0000     -1.0960     -1.0393
Issues_2             -0.7965     0.0185    -43.009     0.0000     -0.8328     -0.7602
Issues_3             -0.4275     0.0145    -29.384     0.0000     -0.4560     -0.3990
1                    -0.1494     0.0322    -4.6349     0.0000     -0.2126     -0.0862
2                     0.1049     0.0325     3.2250     0.0013      0.0411      0.1686
3                    -0.1077     0.0326    -3.3047     0.0010     -0.1716     -0.0438
4                     0.1947     0.0326     5.9637     0.0000      0.1307      0.2587
=====================================================================================

## Table 3 model 4

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Liquidity_risk_1p, Liquidity_risk, Liquidity_risk_1,
                    Liquidity_risk_2, Liquidity_risk_3, Liquidity_risk_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6446
Estimator:                   PanelOLS   R-squared (Between):              0.1357
No. Observations:                3079   R-squared (Within):               0.6447
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6446
Time:                        12:13:58   Log-likelihood                   -4419.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      230.83
Entities:                          40   P-value                           0.0000
Avg Obs:                       76.975   Distribution:                 F(24,3054)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             230.74
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,3054)
Avg Obs:                       31.101
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0276     0.0189    -1.4610     0.1441     -0.0647      0.0094
Liquidity             0.0847     0.0275     3.0794     0.0021      0.0308      0.1386
Liquidity_1           0.1308     0.0316     4.1393     0.0000      0.0688      0.1927
Liquidity_2           0.1220     0.0314     3.8799     0.0001      0.0603      0.1836
Liquidity_3           0.1122     0.0269     4.1718     0.0000      0.0595      0.1650
Liquidity_4           0.0285     0.0180     1.5791     0.1144     -0.0069      0.0638
Market_returns_1p     0.0013     0.0210     0.0628     0.9499     -0.0399      0.0426
Market_returns        0.0711     0.0208     3.4138     0.0006      0.0303      0.1119
Market_returns_1      0.0955     0.0213     4.4906     0.0000      0.0538      0.1372
Market_returns_2     -0.0888     0.0214    -4.1507     0.0000     -0.1307     -0.0468
Market_returns_3     -0.0348     0.0214    -1.6242     0.1044     -0.0768      0.0072
Market_returns_4     -0.0656     0.0212    -3.0950     0.0020     -0.1072     -0.0241
Liquidity_risk_1p     0.0558     0.0195     2.8632     0.0042      0.0176      0.0940
Liquidity_risk        0.0157     0.0253     0.6216     0.5342     -0.0339      0.0653
Liquidity_risk_1      0.0057     0.0277     0.2042     0.8382     -0.0486      0.0599
Liquidity_risk_2     -0.0031     0.0273    -0.1139     0.9093     -0.0566      0.0504
Liquidity_risk_3      0.0137     0.0236     0.5823     0.5604     -0.0325      0.0599
Liquidity_risk_4      0.0240     0.0177     1.3569     0.1749     -0.0107      0.0587
Issues_1             -1.0743     0.0165    -65.236     0.0000     -1.1066     -1.0421
Issues_2             -0.8008     0.0210    -38.109     0.0000     -0.8420     -0.7596
Issues_3             -0.4232     0.0165    -25.667     0.0000     -0.4556     -0.3909
1                    -0.2338     0.0389    -6.0053     0.0000     -0.3101     -0.1575
2                     0.1406     0.0390     3.6039     0.0003      0.0641      0.2170
3                    -0.1158     0.0388    -2.9877     0.0028     -0.1918     -0.0398
4                     0.2049     0.0393     5.2180     0.0000      0.1279      0.2819
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6281
Estimator:                   PanelOLS   R-squared (Between):             -4.6245
No. Observations:                4000   R-squared (Within):               0.6283
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6281
Time:                        12:13:58   Log-likelihood                   -5447.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.68
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.66
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0238     0.0156    -1.5252     0.1273     -0.0544      0.0068
Liquidity             0.0734     0.0220     3.3411     0.0008      0.0303      0.1164
Liquidity_1           0.1209     0.0252     4.7958     0.0000      0.0715      0.1703
Liquidity_2           0.1188     0.0254     4.6768     0.0000      0.0690      0.1685
Liquidity_3           0.1138     0.0221     5.1407     0.0000      0.0704      0.1572
Liquidity_4           0.0246     0.0154     1.5963     0.1105     -0.0056      0.0549
Market_returns_1p    -0.0039     0.0166    -0.2331     0.8157     -0.0364      0.0287
Market_returns        0.0547     0.0165     3.3075     0.0009      0.0223      0.0871
Market_returns_1      0.0790     0.0169     4.6612     0.0000      0.0458      0.1122
Market_returns_2     -0.0712     0.0171    -4.1604     0.0000     -0.1048     -0.0377
Market_returns_3     -0.0371     0.0172    -2.1536     0.0313     -0.0708     -0.0033
Market_returns_4     -0.0392     0.0172    -2.2777     0.0228     -0.0729     -0.0055
Liquidity_risk_1p     0.0235     0.0142     1.6636     0.0963     -0.0042      0.0513
Liquidity_risk       -0.0002     0.0180    -0.0086     0.9932     -0.0354      0.0351
Liquidity_risk_1     -0.0158     0.0195    -0.8081     0.4191     -0.0541      0.0225
Liquidity_risk_2     -0.0182     0.0195    -0.9335     0.3506     -0.0564      0.0200
Liquidity_risk_3     -0.0050     0.0179    -0.2802     0.7793     -0.0400      0.0300
Liquidity_risk_4      0.0120     0.0141     0.8503     0.3952     -0.0157      0.0397
Issues_1             -1.0632     0.0145    -73.535     0.0000     -1.0916     -1.0349
Issues_2             -0.7906     0.0185    -42.737     0.0000     -0.8268     -0.7543
Issues_3             -0.4249     0.0145    -29.231     0.0000     -0.4534     -0.3964
1                    -0.1596     0.0311    -5.1268     0.0000     -0.2207     -0.0986
2                     0.1239     0.0315     3.9393     0.0001      0.0623      0.1856
3                    -0.0995     0.0314    -3.1655     0.0016     -0.1612     -0.0379
4                     0.1724     0.0314     5.4906     0.0000      0.1108      0.2340
=====================================================================================

## Table 3 model 5

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    MB_ratio_1p, MB_ratio, MB_ratio_1,
                    MB_ratio_2, MB_ratio_3, MB_ratio_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6397
Estimator:                   PanelOLS   R-squared (Between):              0.4357
No. Observations:                2901   R-squared (Within):               0.6397
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6397
Time:                        12:13:59   Log-likelihood                   -4188.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      212.78
Entities:                          40   P-value                           0.0000
Avg Obs:                       72.525   Distribution:                 F(24,2876)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             212.20
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2876)
Avg Obs:                       29.303
Min Obs:                       0.0000
Max Obs:                       36.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0176     0.0195    -0.9015     0.3674     -0.0559      0.0207
Liquidity             0.0691     0.0284     2.4339     0.0150      0.0134      0.1248
Liquidity_1           0.1156     0.0325     3.5599     0.0004      0.0519      0.1793
Liquidity_2           0.1192     0.0323     3.6873     0.0002      0.0558      0.1825
Liquidity_3           0.1084     0.0279     3.8802     0.0001      0.0536      0.1632
Liquidity_4           0.0279     0.0189     1.4738     0.1406     -0.0092      0.0650
Market_returns_1p     0.0066     0.0220     0.3000     0.7642     -0.0365      0.0496
Market_returns        0.0042     0.0284     0.1470     0.8832     -0.0516      0.0599
Market_returns_1      0.0837     0.0288     2.9062     0.0037      0.0272      0.1401
Market_returns_2     -0.0821     0.0285    -2.8773     0.0040     -0.1380     -0.0261
Market_returns_3     -0.0299     0.0281    -1.0649     0.2870     -0.0850      0.0252
Market_returns_4     -0.0437     0.0279    -1.5634     0.1181     -0.0984      0.0111
MB_ratio_1p           0.0825     0.0257     3.2152     0.0013      0.0322      0.1329
MB_ratio              0.0852     0.0322     2.6439     0.0082      0.0220      0.1484
MB_ratio_1            0.0742     0.0342     2.1711     0.0300      0.0072      0.1411
MB_ratio_2            0.0802     0.0324     2.4725     0.0135      0.0166      0.1437
MB_ratio_3            0.0584     0.0258     2.2631     0.0237      0.0078      0.1091
MB_ratio_4            0.0406     0.0190     2.1379     0.0326      0.0034      0.0778
Issues_1             -1.0780     0.0169    -63.613     0.0000     -1.1113     -1.0448
Issues_2             -0.8134     0.0216    -37.592     0.0000     -0.8558     -0.7710
Issues_3             -0.4315     0.0170    -25.330     0.0000     -0.4649     -0.3981
1                    -0.2430     0.0411    -5.9102     0.0000     -0.3237     -0.1624
2                     0.1358     0.0410     3.3126     0.0009      0.0554      0.2162
3                    -0.1005     0.0408    -2.4638     0.0138     -0.1805     -0.0205
4                     0.2090     0.0415     5.0322     0.0000      0.1276      0.2905
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6283
Estimator:                   PanelOLS   R-squared (Between):             -4.7717
No. Observations:                4000   R-squared (Within):               0.6285
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6283
Time:                        12:13:59   Log-likelihood                   -5446.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.91
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.85
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0213     0.0156    -1.3689     0.1711     -0.0518      0.0092
Liquidity             0.0725     0.0219     3.3148     0.0009      0.0296      0.1153
Liquidity_1           0.1204     0.0249     4.8248     0.0000      0.0714      0.1693
Liquidity_2           0.1217     0.0251     4.8524     0.0000      0.0725      0.1709
Liquidity_3           0.1190     0.0220     5.3981     0.0000      0.0758      0.1622
Liquidity_4           0.0289     0.0155     1.8655     0.0622     -0.0015      0.0593
Market_returns_1p    -0.0046     0.0166    -0.2790     0.7802     -0.0372      0.0279
Market_returns        0.0302     0.0200     1.5123     0.1305     -0.0090      0.0694
Market_returns_1      0.0795     0.0205     3.8724     0.0001      0.0393      0.1198
Market_returns_2     -0.0704     0.0207    -3.4075     0.0007     -0.1109     -0.0299
Market_returns_3     -0.0409     0.0205    -1.9927     0.0464     -0.0812     -0.0007
Market_returns_4     -0.0260     0.0206    -1.2614     0.2072     -0.0665      0.0144
MB_ratio_1p           0.0377     0.0178     2.1142     0.0346      0.0027      0.0726
MB_ratio              0.0363     0.0221     1.6407     0.1009     -0.0071      0.0797
MB_ratio_1            0.0323     0.0236     1.3681     0.1714     -0.0140      0.0787
MB_ratio_2            0.0435     0.0229     1.8966     0.0580     -0.0015      0.0884
MB_ratio_3            0.0270     0.0195     1.3870     0.1655     -0.0112      0.0652
MB_ratio_4            0.0335     0.0149     2.2458     0.0248      0.0043      0.0627
Issues_1             -1.0626     0.0145    -73.530     0.0000     -1.0910     -1.0343
Issues_2             -0.7909     0.0185    -42.797     0.0000     -0.8271     -0.7547
Issues_3             -0.4243     0.0145    -29.199     0.0000     -0.4528     -0.3958
1                    -0.1675     0.0316    -5.2934     0.0000     -0.2296     -0.1055
2                     0.1210     0.0318     3.8008     0.0001      0.0586      0.1834
3                    -0.0934     0.0318    -2.9353     0.0034     -0.1558     -0.0310
4                     0.1742     0.0319     5.4685     0.0000      0.1118      0.2367
=====================================================================================

## Table 3 model 6

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    price_earning_1p, price_earning, price_earning_1,
                    price_earning_2, price_earning_3, price_earning_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6393
Estimator:                   PanelOLS   R-squared (Between):              0.4358
No. Observations:                2903   R-squared (Within):               0.6393
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6393
Time:                        12:13:59   Log-likelihood                   -4191.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      212.55
Entities:                          40   P-value                           0.0000
Avg Obs:                       72.575   Distribution:                 F(24,2878)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             211.98
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2878)
Avg Obs:                       29.323
Min Obs:                       0.0000
Max Obs:                       36.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0190     0.0195    -0.9764     0.3290     -0.0573      0.0192
Liquidity             0.0673     0.0284     2.3699     0.0179      0.0116      0.1229
Liquidity_1           0.1102     0.0324     3.3957     0.0007      0.0466      0.1738
Liquidity_2           0.1115     0.0323     3.4539     0.0006      0.0482      0.1748
Liquidity_3           0.1021     0.0278     3.6742     0.0002      0.0476      0.1565
Liquidity_4           0.0242     0.0188     1.2889     0.1975     -0.0126      0.0610
Market_returns_1p     0.0059     0.0220     0.2702     0.7870     -0.0372      0.0490
Market_returns        0.0489     0.0238     2.0554     0.0399      0.0022      0.0955
Market_returns_1      0.0772     0.0242     3.1947     0.0014      0.0298      0.1245
Market_returns_2     -0.0939     0.0242    -3.8851     0.0001     -0.1413     -0.0465
Market_returns_3     -0.0328     0.0242    -1.3552     0.1755     -0.0802      0.0146
Market_returns_4     -0.0344     0.0241    -1.4276     0.1535     -0.0817      0.0129
price_earning_1p      0.0252     0.0208     1.2120     0.2256     -0.0156      0.0661
price_earning         0.0544     0.0273     1.9941     0.0462      0.0009      0.1079
price_earning_1       0.0769     0.0294     2.6131     0.0090      0.0192      0.1347
price_earning_2       0.0947     0.0285     3.3170     0.0009      0.0387      0.1506
price_earning_3       0.0481     0.0245     1.9625     0.0498   4.116e-05      0.0961
price_earning_4       0.0206     0.0181     1.1401     0.2543     -0.0149      0.0561
Issues_1             -1.0775     0.0170    -63.568     0.0000     -1.1107     -1.0443
Issues_2             -0.8125     0.0216    -37.543     0.0000     -0.8549     -0.7700
Issues_3             -0.4315     0.0170    -25.333     0.0000     -0.4649     -0.3981
1                    -0.2326     0.0405    -5.7475     0.0000     -0.3119     -0.1532
2                     0.1380     0.0404     3.4178     0.0006      0.0588      0.2172
3                    -0.1050     0.0401    -2.6202     0.0088     -0.1836     -0.0264
4                     0.1985     0.0407     4.8813     0.0000      0.1188      0.2783
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6280
Estimator:                   PanelOLS   R-squared (Between):             -4.4811
No. Observations:                4000   R-squared (Within):               0.6282
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6280
Time:                        12:13:59   Log-likelihood                   -5448.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.61
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.55
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0232     0.0155    -1.4945     0.1351     -0.0537      0.0072
Liquidity             0.0705     0.0219     3.2240     0.0013      0.0276      0.1133
Liquidity_1           0.1177     0.0249     4.7188     0.0000      0.0688      0.1666
Liquidity_2           0.1186     0.0251     4.7271     0.0000      0.0694      0.1678
Liquidity_3           0.1144     0.0220     5.2106     0.0000      0.0714      0.1575
Liquidity_4           0.0261     0.0154     1.6899     0.0911     -0.0042      0.0563
Market_returns_1p    -0.0052     0.0166    -0.3160     0.7520     -0.0378      0.0273
Market_returns        0.0506     0.0179     2.8327     0.0046      0.0156      0.0856
Market_returns_1      0.0798     0.0183     4.3545     0.0000      0.0439      0.1157
Market_returns_2     -0.0787     0.0184    -4.2724     0.0000     -0.1148     -0.0426
Market_returns_3     -0.0451     0.0185    -2.4365     0.0149     -0.0814     -0.0088
Market_returns_4     -0.0227     0.0186    -1.2177     0.2234     -0.0592      0.0138
price_earning_1p      0.0046     0.0157     0.2957     0.7675     -0.0261      0.0354
price_earning         0.0054     0.0202     0.2672     0.7894     -0.0342      0.0450
price_earning_1       0.0250     0.0220     1.1371     0.2556     -0.0181      0.0682
price_earning_2       0.0499     0.0216     2.3097     0.0210      0.0075      0.0923
price_earning_3       0.0218     0.0189     1.1563     0.2476     -0.0152      0.0589
price_earning_4       0.0111     0.0144     0.7716     0.4404     -0.0172      0.0394
Issues_1             -1.0632     0.0145    -73.538     0.0000     -1.0916     -1.0349
Issues_2             -0.7914     0.0185    -42.797     0.0000     -0.8276     -0.7551
Issues_3             -0.4253     0.0145    -29.258     0.0000     -0.4538     -0.3968
1                    -0.1593     0.0312    -5.1003     0.0000     -0.2205     -0.0980
2                     0.1246     0.0315     3.9550     0.0001      0.0628      0.1864
3                    -0.1000     0.0315    -3.1790     0.0015     -0.1617     -0.0383
4                     0.1708     0.0314     5.4319     0.0000      0.1091      0.2324
=====================================================================================

## Table 3 model 7

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Dividend_yield_1p, Dividend_yield, Dividend_yield_1,
                    Dividend_yield_2, Dividend_yield_3, Dividend_yield_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6394
Estimator:                   PanelOLS   R-squared (Between):              0.4409
No. Observations:                2903   R-squared (Within):               0.6394
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6394
Time:                        12:14:00   Log-likelihood                   -4191.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      212.63
Entities:                          40   P-value                           0.0000
Avg Obs:                       72.575   Distribution:                 F(24,2878)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             212.06
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2878)
Avg Obs:                       29.323
Min Obs:                       0.0000
Max Obs:                       36.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0228     0.0195    -1.1648     0.2442     -0.0611      0.0155
Liquidity             0.0537     0.0287     1.8727     0.0612     -0.0025      0.1098
Liquidity_1           0.0895     0.0329     2.7189     0.0066      0.0249      0.1540
Liquidity_2           0.0927     0.0328     2.8233     0.0048      0.0283      0.1571
Liquidity_3           0.0896     0.0286     3.1346     0.0017      0.0336      0.1456
Liquidity_4           0.0187     0.0195     0.9613     0.3365     -0.0195      0.0570
Market_returns_1p     0.0049     0.0220     0.2242     0.8227     -0.0382      0.0480
Market_returns        0.0224     0.0274     0.8168     0.4141     -0.0313      0.0761
Market_returns_1      0.0597     0.0276     2.1600     0.0309      0.0055      0.1139
Market_returns_2     -0.0751     0.0276    -2.7167     0.0066     -0.1293     -0.0209
Market_returns_3     -0.0075     0.0275    -0.2748     0.7835     -0.0614      0.0463
Market_returns_4     -0.0316     0.0277    -1.1424     0.2534     -0.0859      0.0226
Dividend_yield_1p    -0.0652     0.0270    -2.4175     0.0157     -0.1180     -0.0123
Dividend_yield       -0.1116     0.0331    -3.3719     0.0008     -0.1765     -0.0467
Dividend_yield_1     -0.0983     0.0344    -2.8605     0.0043     -0.1657     -0.0309
Dividend_yield_2     -0.0728     0.0323    -2.2562     0.0241     -0.1361     -0.0095
Dividend_yield_3     -0.0384     0.0254    -1.5083     0.1316     -0.0882      0.0115
Dividend_yield_4     -0.0151     0.0193    -0.7822     0.4341     -0.0528      0.0227
Issues_1             -1.0783     0.0169    -63.638     0.0000     -1.1116     -1.0451
Issues_2             -0.8132     0.0216    -37.582     0.0000     -0.8556     -0.7708
Issues_3             -0.4321     0.0170    -25.344     0.0000     -0.4655     -0.3987
1                    -0.2273     0.0408    -5.5672     0.0000     -0.3074     -0.1473
2                     0.1447     0.0407     3.5536     0.0004      0.0649      0.2246
3                    -0.1063     0.0403    -2.6383     0.0084     -0.1852     -0.0273
4                     0.1904     0.0408     4.6645     0.0000      0.1104      0.2704
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6276
Estimator:                   PanelOLS   R-squared (Between):             -4.7133
No. Observations:                4000   R-squared (Within):               0.6279
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6276
Time:                        12:14:00   Log-likelihood                   -5450.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.14
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.08
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0156    -1.5031     0.1329     -0.0539      0.0071
Liquidity             0.0685     0.0219     3.1189     0.0018      0.0254      0.1115
Liquidity_1           0.1132     0.0251     4.5061     0.0000      0.0640      0.1625
Liquidity_2           0.1140     0.0253     4.4995     0.0000      0.0643      0.1637
Liquidity_3           0.1107     0.0223     4.9662     0.0000      0.0670      0.1544
Liquidity_4           0.0243     0.0157     1.5434     0.1228     -0.0066      0.0551
Market_returns_1p    -0.0061     0.0166    -0.3682     0.7127     -0.0387      0.0265
Market_returns        0.0415     0.0195     2.1271     0.0335      0.0032      0.0797
Market_returns_1      0.0711     0.0200     3.5553     0.0004      0.0319      0.1104
Market_returns_2     -0.0686     0.0202    -3.4030     0.0007     -0.1081     -0.0291
Market_returns_3     -0.0347     0.0202    -1.7217     0.0852     -0.0743      0.0048
Market_returns_4     -0.0265     0.0203    -1.3044     0.1922     -0.0663      0.0133
Dividend_yield_1p    -0.0193     0.0177    -1.0933     0.2743     -0.0540      0.0153
Dividend_yield       -0.0319     0.0216    -1.4758     0.1401     -0.0742      0.0105
Dividend_yield_1     -0.0301     0.0228    -1.3222     0.1862     -0.0747      0.0145
Dividend_yield_2     -0.0312     0.0219    -1.4243     0.1544     -0.0741      0.0117
Dividend_yield_3     -0.0166     0.0184    -0.8996     0.3684     -0.0528      0.0196
Dividend_yield_4     -0.0070     0.0145    -0.4801     0.6312     -0.0354      0.0215
Issues_1             -1.0630     0.0145    -73.530     0.0000     -1.0914     -1.0347
Issues_2             -0.7912     0.0185    -42.796     0.0000     -0.8275     -0.7550
Issues_3             -0.4254     0.0145    -29.249     0.0000     -0.4539     -0.3969
1                    -0.1604     0.0314    -5.1089     0.0000     -0.2220     -0.0988
2                     0.1250     0.0316     3.9535     0.0001      0.0630      0.1870
3                    -0.1001     0.0315    -3.1773     0.0015     -0.1619     -0.0383
4                     0.1694     0.0315     5.3713     0.0000      0.1076      0.2312
=====================================================================================

## Table 3 model 8

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Volatility_1p, Volatility, Volatility_1,
                    Volatility_2, Volatility_3, Volatility_4,
                    Turnover_1p, Turnover, Turnover_1,
                    Turnover_2, Turnover_3, Turnover_4,
                    Liquidity_risk_1p, Liquidity_risk, Liquidity_risk_1,
                    Liquidity_risk_2, Liquidity_risk_3, Liquidity_risk_4,
                    MB_ratio_1p, MB_ratio, MB_ratio_1,
                    MB_ratio_2, MB_ratio_3, MB_ratio_4,
                    price_earning_1p, price_earning, price_earning_1,
                    price_earning_2, price_earning_3, price_earning_4,
                    Dividend_yield_1p, Dividend_yield, Dividend_yield_1,
                    Dividend_yield_2, Dividend_yield_3, Dividend_yield_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 56 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6486
Estimator:                   PanelOLS   R-squared (Between):              0.2804
No. Observations:                2894   R-squared (Within):               0.6487
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6486
Time:                        12:14:00   Log-likelihood                   -4144.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      97.047
Entities:                          40   P-value                           0.0000
Avg Obs:                       72.350   Distribution:                 F(54,2839)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             96.978
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(54,2839)
Avg Obs:                       29.232
Min Obs:                       0.0000
Max Obs:                       36.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0110     0.0201    -0.5478     0.5839     -0.0504      0.0284
Liquidity             0.0721     0.0294     2.4469     0.0145      0.0143      0.1298
Liquidity_1           0.1006     0.0340     2.9593     0.0031      0.0339      0.1672
Liquidity_2           0.0969     0.0342     2.8366     0.0046      0.0299      0.1639
Liquidity_3           0.0905     0.0301     3.0055     0.0027      0.0315      0.1496
Liquidity_4           0.0238     0.0205     1.1631     0.2449     -0.0163      0.0640
Market_returns_1p     0.0239     0.0234     1.0204     0.3076     -0.0221      0.0699
Market_returns       -0.0446     0.0338    -1.3194     0.1871     -0.1108      0.0217
Market_returns_1      0.0343     0.0338     1.0138     0.3107     -0.0320      0.1006
Market_returns_2     -0.0564     0.0337    -1.6760     0.0938     -0.1224      0.0096
Market_returns_3     -0.0086     0.0333    -0.2580     0.7964     -0.0738      0.0566
Market_returns_4     -0.0077     0.0332    -0.2320     0.8166     -0.0728      0.0574
Volatility_1p         0.0584     0.0228     2.5626     0.0104      0.0137      0.1030
Volatility            0.0390     0.0351     1.1102     0.2670     -0.0298      0.1078
Volatility_1         -0.0143     0.0412    -0.3468     0.7288     -0.0952      0.0666
Volatility_2         -0.0036     0.0411    -0.0866     0.9310     -0.0841      0.0770
Volatility_3         -0.0013     0.0351    -0.0365     0.9709     -0.0702      0.0676
Volatility_4          0.0329     0.0228     1.4472     0.1480     -0.0117      0.0776
Turnover_1p          -0.0952     0.0261    -3.6473     0.0003     -0.1464     -0.0440
Turnover             -0.1785     0.0472    -3.7791     0.0002     -0.2712     -0.0859
Turnover_1           -0.1421     0.0596    -2.3833     0.0172     -0.2589     -0.0252
Turnover_2           -0.0806     0.0589    -1.3684     0.1713     -0.1960      0.0349
Turnover_3           -0.0185     0.0454    -0.4070     0.6840     -0.1074      0.0705
Turnover_4            0.0067     0.0242     0.2755     0.7830     -0.0408      0.0541
Liquidity_risk_1p     0.0577     0.0200     2.8812     0.0040      0.0184      0.0970
Liquidity_risk        0.0200     0.0263     0.7616     0.4464     -0.0316      0.0716
Liquidity_risk_1      0.0088     0.0294     0.2993     0.7647     -0.0489      0.0665
Liquidity_risk_2     -0.0061     0.0290    -0.2115     0.8325     -0.0631      0.0508
Liquidity_risk_3      0.0058     0.0248     0.2355     0.8138     -0.0428      0.0545
Liquidity_risk_4      0.0160     0.0186     0.8635     0.3879     -0.0204      0.0524
MB_ratio_1p           0.0740     0.0267     2.7748     0.0056      0.0217      0.1263
MB_ratio              0.0581     0.0340     1.7103     0.0873     -0.0085      0.1247
MB_ratio_1            0.0439     0.0368     1.1949     0.2322     -0.0282      0.1160
MB_ratio_2            0.0471     0.0357     1.3186     0.1874     -0.0229      0.1171
MB_ratio_3            0.0414     0.0304     1.3625     0.1732     -0.0182      0.1009
MB_ratio_4            0.0456     0.0229     1.9927     0.0464      0.0007      0.0905
price_earning_1p      0.0083     0.0216     0.3824     0.7022     -0.0341      0.0507
price_earning         0.0322     0.0288     1.1195     0.2630     -0.0242      0.0886
price_earning_1       0.0508     0.0314     1.6146     0.1065     -0.0109      0.1124
price_earning_2       0.0680     0.0311     2.1850     0.0290      0.0070      0.1290
price_earning_3       0.0279     0.0276     1.0089     0.3131     -0.0263      0.0821
price_earning_4       0.0047     0.0206     0.2300     0.8181     -0.0357      0.0452
Dividend_yield_1p    -0.0524     0.0276    -1.8966     0.0580     -0.1066      0.0018
Dividend_yield       -0.0917     0.0344    -2.6689     0.0077     -0.1591     -0.0243
Dividend_yield_1     -0.0751     0.0363    -2.0691     0.0386     -0.1463     -0.0039
Dividend_yield_2     -0.0493     0.0348    -1.4169     0.1566     -0.1175      0.0189
Dividend_yield_3     -0.0248     0.0292    -0.8506     0.3951     -0.0821      0.0324
Dividend_yield_4      0.0081     0.0225     0.3610     0.7181     -0.0360      0.0522
Issues_1             -1.0888     0.0171    -63.784     0.0000     -1.1223     -1.0554
Issues_2             -0.8197     0.0218    -37.518     0.0000     -0.8626     -0.7769
Issues_3             -0.4325     0.0172    -25.161     0.0000     -0.4662     -0.3988
1                    -0.2022     0.0445    -4.5464     0.0000     -0.2895     -0.1150
2                     0.0845     0.0442     1.9119     0.0560     -0.0022      0.1711
3                    -0.1252     0.0437    -2.8659     0.0042     -0.2108     -0.0395
4                     0.2481     0.0444     5.5914     0.0000      0.1611      0.3351
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns=['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6343
Estimator:                   PanelOLS   R-squared (Between):             -5.0211
No. Observations:                4000   R-squared (Within):               0.6345
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6343
Time:                        12:14:00   Log-likelihood                   -5414.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      126.70
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(54,3945)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             126.69
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(54,3945)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0117     0.0161    -0.7274     0.4670     -0.0432      0.0198
Liquidity             0.0785     0.0227     3.4616     0.0005      0.0341      0.1230
Liquidity_1           0.1151     0.0261     4.4084     0.0000      0.0639      0.1663
Liquidity_2           0.1135     0.0265     4.2915     0.0000      0.0617      0.1654
Liquidity_3           0.1126     0.0236     4.7792     0.0000      0.0664      0.1588
Liquidity_4           0.0321     0.0166     1.9333     0.0533     -0.0005      0.0647
Market_returns_1p     0.0053     0.0172     0.3088     0.7575     -0.0285      0.0391
Market_returns        0.0118     0.0224     0.5270     0.5982     -0.0321      0.0558
Market_returns_1      0.0620     0.0230     2.6989     0.0070      0.0170      0.1071
Market_returns_2     -0.0613     0.0232    -2.6422     0.0083     -0.1068     -0.0158
Market_returns_3     -0.0378     0.0231    -1.6332     0.1025     -0.0832      0.0076
Market_returns_4     -0.0154     0.0233    -0.6626     0.5076     -0.0610      0.0302
Volatility_1p         0.0413     0.0170     2.4306     0.0151      0.0080      0.0747
Volatility            0.0152     0.0257     0.5920     0.5539     -0.0352      0.0657
Volatility_1         -0.0409     0.0300    -1.3620     0.1733     -0.0998      0.0180
Volatility_2         -0.0167     0.0301    -0.5547     0.5791     -0.0757      0.0423
Volatility_3         -0.0046     0.0264    -0.1731     0.8626     -0.0562      0.0471
Volatility_4          0.0321     0.0177     1.8168     0.0693     -0.0025      0.0667
Turnover_1p          -0.0724     0.0179    -4.0487     0.0001     -0.1075     -0.0373
Turnover             -0.1404     0.0290    -4.8473     0.0000     -0.1971     -0.0836
Turnover_1           -0.1048     0.0348    -3.0104     0.0026     -0.1731     -0.0366
Turnover_2           -0.0544     0.0349    -1.5601     0.1188     -0.1228      0.0140
Turnover_3           -0.0023     0.0288    -0.0789     0.9371     -0.0588      0.0542
Turnover_4            0.0154     0.0175     0.8819     0.3779     -0.0189      0.0497
Liquidity_risk_1p     0.0274     0.0142     1.9319     0.0534     -0.0004      0.0553
Liquidity_risk        0.0046     0.0180     0.2562     0.7978     -0.0308      0.0400
Liquidity_risk_1     -0.0091     0.0196    -0.4653     0.6417     -0.0476      0.0294
Liquidity_risk_2     -0.0116     0.0196    -0.5904     0.5550     -0.0499      0.0268
Liquidity_risk_3     -0.0035     0.0179    -0.1964     0.8443     -0.0385      0.0315
Liquidity_risk_4      0.0128     0.0141     0.9045     0.3658     -0.0149      0.0405
MB_ratio_1p           0.0343     0.0189     1.8184     0.0691     -0.0027      0.0713
MB_ratio              0.0235     0.0238     0.9858     0.3243     -0.0232      0.0701
MB_ratio_1            0.0241     0.0259     0.9312     0.3518     -0.0267      0.0749
MB_ratio_2            0.0292     0.0257     1.1372     0.2555     -0.0211      0.0795
MB_ratio_3            0.0254     0.0230     1.1043     0.2695     -0.0197      0.0704
MB_ratio_4            0.0442     0.0179     2.4655     0.0137      0.0091      0.0793
price_earning_1p     -0.0029     0.0164    -0.1767     0.8597     -0.0351      0.0293
price_earning        -0.0048     0.0214    -0.2243     0.8225     -0.0467      0.0371
price_earning_1       0.0110     0.0236     0.4679     0.6399     -0.0352      0.0572
price_earning_2       0.0355     0.0236     1.5082     0.1316     -0.0107      0.0817
price_earning_3       0.0119     0.0213     0.5585     0.5765     -0.0299      0.0537
price_earning_4      -0.0029     0.0164    -0.1768     0.8597     -0.0351      0.0293
Dividend_yield_1p    -0.0108     0.0181    -0.5943     0.5524     -0.0463      0.0248
Dividend_yield       -0.0172     0.0223    -0.7708     0.4409     -0.0610      0.0266
Dividend_yield_1     -0.0135     0.0239    -0.5665     0.5711     -0.0603      0.0333
Dividend_yield_2     -0.0180     0.0234    -0.7675     0.4428     -0.0640      0.0280
Dividend_yield_3     -0.0118     0.0208    -0.5656     0.5717     -0.0526      0.0291
Dividend_yield_4      0.0106     0.0166     0.6366     0.5244     -0.0220      0.0432
Issues_1             -1.0675     0.0145    -73.567     0.0000     -1.0959     -1.0390
Issues_2             -0.7935     0.0186    -42.656     0.0000     -0.8299     -0.7570
Issues_3             -0.4239     0.0146    -29.000     0.0000     -0.4526     -0.3953
1                    -0.1409     0.0333    -4.2334     0.0000     -0.2062     -0.0757
2                     0.0839     0.0335     2.5060     0.0122      0.0183      0.1495
3                    -0.1176     0.0334    -3.5208     0.0004     -0.1830     -0.0521
4                     0.2126     0.0336     6.3323     0.0000      0.1468      0.2784
=====================================================================================

# Table 4

Defining variables and data

In [ ]:
# Defining GDP_growth, and its lags
GDP_growth = pd.read_excel(path, sheet_name='GDP growth', skiprows=5)
GDP_growth = GDP_growth.set_index(['YearQuarter'])
#GDP_growth = GDP_growth.diff()
GDP_growth_1p = GDP_growth.shift(-1)
GDP_growth_1 = GDP_growth.shift(1)
GDP_growth_2 = GDP_growth.shift(2)
GDP_growth_3 = GDP_growth.shift(3)
GDP_growth_4 = GDP_growth.shift(4)

v = [GDP_growth_1p, GDP_growth, GDP_growth_1,
             GDP_growth_2, GDP_growth_3, GDP_growth_4]
names = ['GDP_growth_1p', 'GDP_growth', 'GDP_growth_1',
             'GDP_growth_2', 'GDP_growth_3', 'GDP_growth_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[GDP_growth_1p, GDP_growth, GDP_growth_1,
             GDP_growth_2, GDP_growth_3, GDP_growth_4] = v



# Defining Sales_growth, and its lags
Sales_growth = pd.read_excel(path, sheet_name='Sales growth', skiprows=5)
Sales_growth = Sales_growth.set_index(['YearQuarter'])
#Sales_growth = Sales_growth.diff()
Sales_growth_1p = Sales_growth.shift(-1)
Sales_growth_1 = Sales_growth.shift(1)
Sales_growth_2 = Sales_growth.shift(2)
Sales_growth_3 = Sales_growth.shift(3)
Sales_growth_4 = Sales_growth.shift(4)

v = [Sales_growth_1p, Sales_growth, Sales_growth_1,
             Sales_growth_2, Sales_growth_3, Sales_growth_4]
names = ['Sales_growth_1p', 'Sales_growth', 'Sales_growth_1',
             'Sales_growth_2', 'Sales_growth_3', 'Sales_growth_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Sales_growth_1p, Sales_growth, Sales_growth_1,
             Sales_growth_2, Sales_growth_3, Sales_growth_4] = v


# Defining LEI_growth, and its lags
LEI_growth = pd.read_excel(path, sheet_name='LEI growth', skiprows=5)
LEI_growth = LEI_growth.set_index(['YearQuarter'])
#LEI_growth = LEI_growth.diff()
LEI_growth_1p = LEI_growth.shift(-1)
LEI_growth_1 = LEI_growth.shift(1)
LEI_growth_2 = LEI_growth.shift(2)
LEI_growth_3 = LEI_growth.shift(3)
LEI_growth_4 = LEI_growth.shift(4)

v = [LEI_growth_1p, LEI_growth, LEI_growth_1,
             LEI_growth_2, LEI_growth_3, LEI_growth_4]
names = ['LEI_growth_1p', 'LEI_growth', 'LEI_growth_1',
             'LEI_growth_2', 'LEI_growth_3', 'LEI_growth_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[LEI_growth_1p, LEI_growth, LEI_growth_1,
             LEI_growth_2, LEI_growth_3, LEI_growth_4] = v




# Defining Idiosyncratic_volatility, and its lags
Idiosyncratic_volatility = pd.read_excel(path, sheet_name='Idiosyncratic volatility', skiprows=5)
Idiosyncratic_volatility = Idiosyncratic_volatility.set_index(['YearQuarter'])
Idiosyncratic_volatility = Idiosyncratic_volatility.diff()
Idiosyncratic_volatility_1p = Idiosyncratic_volatility.shift(-1)
Idiosyncratic_volatility_1 = Idiosyncratic_volatility.shift(1)
Idiosyncratic_volatility_2 = Idiosyncratic_volatility.shift(2)
Idiosyncratic_volatility_3 = Idiosyncratic_volatility.shift(3)
Idiosyncratic_volatility_4 = Idiosyncratic_volatility.shift(4)

v = [Idiosyncratic_volatility_1p, Idiosyncratic_volatility, Idiosyncratic_volatility_1,
             Idiosyncratic_volatility_2, Idiosyncratic_volatility_3, Idiosyncratic_volatility_4]
names = ['Idiosyncratic_volatility_1p', 'Idiosyncratic_volatility', 'Idiosyncratic_volatility_1',
             'Idiosyncratic_volatility_2', 'Idiosyncratic_volatility_3', 'Idiosyncratic_volatility_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Idiosyncratic_volatility_1p, Idiosyncratic_volatility, Idiosyncratic_volatility_1,
             Idiosyncratic_volatility_2, Idiosyncratic_volatility_3, Idiosyncratic_volatility_4] = v



# Defining Stock_price_synchronicity, and its lags
Stock_price_synchronicity = pd.read_excel(path, sheet_name='Stock price synchronicity', skiprows=5)
Stock_price_synchronicity = Stock_price_synchronicity.set_index(['YearQuarter'])
Stock_price_synchronicity = Stock_price_synchronicity.diff()
Stock_price_synchronicity_1p = Stock_price_synchronicity.shift(-1)
Stock_price_synchronicity_1 = Stock_price_synchronicity.shift(1)
Stock_price_synchronicity_2 = Stock_price_synchronicity.shift(2)
Stock_price_synchronicity_3 = Stock_price_synchronicity.shift(3)
Stock_price_synchronicity_4 = Stock_price_synchronicity.shift(4)

v = [Stock_price_synchronicity_1p, Stock_price_synchronicity, Stock_price_synchronicity_1,
             Stock_price_synchronicity_2, Stock_price_synchronicity_3, Stock_price_synchronicity_4]
names = ['Stock_price_synchronicity_1p', 'Stock_price_synchronicity', 'Stock_price_synchronicity_1',
             'Stock_price_synchronicity_2', 'Stock_price_synchronicity_3', 'Stock_price_synchronicity_4']             
i = 0             
for data in v: 
    v[i] = pd.DataFrame(data.stack(dropna = False ), columns= [names[i]])
    v[i].index = v[i].index.set_names(['YearQuarter', 'Country'])
    v[i] = v[i].reset_index().set_index(['Country', 'YearQuarter'])
    i += 1
[Stock_price_synchronicity_1p, Stock_price_synchronicity, Stock_price_synchronicity_1,
             Stock_price_synchronicity_2, Stock_price_synchronicity_3, Stock_price_synchronicity_4] = v

## Table 4 model 1

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6421
Estimator:                   PanelOLS   R-squared (Between):              0.3458
No. Observations:                3087   R-squared (Within):               0.6421
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6421
Time:                        12:14:04   Log-likelihood                   -4438.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      305.74
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(18,3068)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             304.54
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3068)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0237     0.0188    -1.2595     0.2080     -0.0606      0.0132
Liquidity             0.0817     0.0273     2.9953     0.0028      0.0282      0.1352
Liquidity_1           0.1301     0.0312     4.1715     0.0000      0.0689      0.1912
Liquidity_2           0.1253     0.0310     4.0471     0.0001      0.0646      0.1861
Liquidity_3           0.1165     0.0264     4.4075     0.0000      0.0647      0.1683
Liquidity_4           0.0335     0.0178     1.8872     0.0592     -0.0013      0.0684
Market_returns_1p     0.0019     0.0210     0.0902     0.9282     -0.0393      0.0431
Market_returns        0.0696     0.0208     3.3492     0.0008      0.0289      0.1104
Market_returns_1      0.0936     0.0212     4.4118     0.0000      0.0520      0.1352
Market_returns_2     -0.0881     0.0213    -4.1345     0.0000     -0.1299     -0.0463
Market_returns_3     -0.0323     0.0213    -1.5158     0.1297     -0.0741      0.0095
Market_returns_4     -0.0616     0.0211    -2.9135     0.0036     -0.1031     -0.0201
Issues_1             -1.0721     0.0164    -65.196     0.0000     -1.1044     -1.0399
Issues_2             -0.8022     0.0210    -38.206     0.0000     -0.8433     -0.7610
Issues_3             -0.4245     0.0165    -25.770     0.0000     -0.4568     -0.3922
1                    -0.2372     0.0389    -6.0955     0.0000     -0.3136     -0.1609
2                     0.1422     0.0389     3.6521     0.0003      0.0658      0.2185
3                    -0.1159     0.0387    -2.9920     0.0028     -0.1919     -0.0400
4                     0.2046     0.0393     5.2025     0.0000      0.1275      0.2817
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6273
Estimator:                   PanelOLS   R-squared (Between):             -4.6129
No. Observations:                4000   R-squared (Within):               0.6276
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6273
Time:                        12:14:05   Log-likelihood                   -5451.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      372.31
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             372.22
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0155    -1.5058     0.1322     -0.0539      0.0071
Liquidity             0.0700     0.0218     3.2079     0.0013      0.0272      0.1128
Liquidity_1           0.1164     0.0249     4.6777     0.0000      0.0676      0.1652
Liquidity_2           0.1181     0.0250     4.7216     0.0000      0.0690      0.1671
Liquidity_3           0.1157     0.0218     5.3170     0.0000      0.0731      0.1584
Liquidity_4           0.0281     0.0152     1.8446     0.0652     -0.0018      0.0579
Market_returns_1p    -0.0047     0.0166    -0.2845     0.7760     -0.0372      0.0278
Market_returns        0.0538     0.0165     3.2620     0.0011      0.0215      0.0862
Market_returns_1      0.0792     0.0169     4.6871     0.0000      0.0461      0.1123
Market_returns_2     -0.0707     0.0170    -4.1556     0.0000     -0.1040     -0.0373
Market_returns_3     -0.0358     0.0171    -2.0949     0.0362     -0.0693     -0.0023
Market_returns_4     -0.0370     0.0171    -2.1589     0.0309     -0.0706     -0.0034
Issues_1             -1.0627     0.0144    -73.552     0.0000     -1.0911     -1.0344
Issues_2             -0.7907     0.0185    -42.799     0.0000     -0.8269     -0.7545
Issues_3             -0.4249     0.0145    -29.264     0.0000     -0.4533     -0.3964
1                    -0.1601     0.0311    -5.1445     0.0000     -0.2211     -0.0991
2                     0.1248     0.0315     3.9672     0.0001      0.0631      0.1865
3                    -0.0996     0.0314    -3.1659     0.0016     -0.1612     -0.0379
4                     0.1719     0.0314     5.4758     0.0000      0.1104      0.2335
=====================================================================================

## Table 4 model 2

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    GDP_growth_1p, GDP_growth, GDP_growth_1,
             GDP_growth_2, GDP_growth_3, GDP_growth_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6644
Estimator:                   PanelOLS   R-squared (Between):              0.1374
No. Observations:                2514   R-squared (Within):               0.6645
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6644
Time:                        12:14:05   Log-likelihood                   -3557.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      205.32
Entities:                          40   P-value                           0.0000
Avg Obs:                       62.850   Distribution:                 F(24,2489)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             204.18
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2489)
Avg Obs:                       25.394
Min Obs:                       0.0000
Max Obs:                       32.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0253     0.0211    -1.2039     0.2288     -0.0666      0.0159
Liquidity             0.0825     0.0308     2.6782     0.0075      0.0221      0.1429
Liquidity_1           0.1033     0.0351     2.9403     0.0033      0.0344      0.1721
Liquidity_2           0.1081     0.0348     3.1092     0.0019      0.0399      0.1763
Liquidity_3           0.0962     0.0296     3.2468     0.0012      0.0381      0.1543
Liquidity_4           0.0254     0.0198     1.2845     0.1991     -0.0134      0.0642
Market_returns_1p    -0.0077     0.0233    -0.3287     0.7424     -0.0534      0.0381
Market_returns        0.0820     0.0237     3.4580     0.0006      0.0355      0.1286
Market_returns_1      0.1102     0.0245     4.5007     0.0000      0.0622      0.1581
Market_returns_2     -0.0795     0.0248    -3.2043     0.0014     -0.1281     -0.0308
Market_returns_3     -0.0274     0.0248    -1.1044     0.2695     -0.0760      0.0212
Market_returns_4     -0.0580     0.0246    -2.3557     0.0186     -0.1063     -0.0097
GDP_growth_1p        -0.0935     0.0480    -1.9460     0.0518     -0.1876      0.0007
GDP_growth            0.0756     0.0628     1.2025     0.2293     -0.0477      0.1988
GDP_growth_1          0.0025     0.0582     0.0425     0.9661     -0.1117      0.1166
GDP_growth_2         -0.0053     0.0579    -0.0922     0.9266     -0.1188      0.1081
GDP_growth_3         -0.0585     0.0613    -0.9549     0.3397     -0.1788      0.0617
GDP_growth_4          0.0796     0.0440     1.8090     0.0706     -0.0067      0.1658
Issues_1             -1.0949     0.0182    -60.149     0.0000     -1.1306     -1.0592
Issues_2             -0.8212     0.0235    -34.945     0.0000     -0.8672     -0.7751
Issues_3             -0.4324     0.0183    -23.674     0.0000     -0.4683     -0.3966
1                    -0.2411     0.0425    -5.6717     0.0000     -0.3245     -0.1578
2                     0.1670     0.0427     3.9106     0.0001      0.0833      0.2508
3                    -0.1403     0.0425    -3.2983     0.0010     -0.2237     -0.0569
4                     0.1985     0.0431     4.6013     0.0000      0.1139      0.2831
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6283
Estimator:                   PanelOLS   R-squared (Between):             -4.5495
No. Observations:                4000   R-squared (Within):               0.6285
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6283
Time:                        12:14:05   Log-likelihood                   -5446.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.93
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.87
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0247     0.0156    -1.5832     0.1134     -0.0552      0.0059
Liquidity             0.0671     0.0219     3.0614     0.0022      0.0241      0.1101
Liquidity_1           0.1140     0.0250     4.5530     0.0000      0.0649      0.1632
Liquidity_2           0.1155     0.0252     4.5838     0.0000      0.0661      0.1649
Liquidity_3           0.1136     0.0219     5.1770     0.0000      0.0706      0.1566
Liquidity_4           0.0265     0.0154     1.7258     0.0845     -0.0036      0.0566
Market_returns_1p    -0.0013     0.0167    -0.0755     0.9398     -0.0340      0.0315
Market_returns        0.0614     0.0168     3.6481     0.0003      0.0284      0.0944
Market_returns_1      0.0863     0.0173     4.9742     0.0000      0.0523      0.1203
Market_returns_2     -0.0618     0.0175    -3.5256     0.0004     -0.0962     -0.0274
Market_returns_3     -0.0261     0.0176    -1.4786     0.1393     -0.0607      0.0085
Market_returns_4     -0.0309     0.0177    -1.7524     0.0798     -0.0656      0.0037
GDP_growth_1p        -0.0917     0.0378    -2.4258     0.0153     -0.1658     -0.0176
GDP_growth            0.0789     0.0499     1.5805     0.1141     -0.0190      0.1767
GDP_growth_1         -0.0187     0.0470    -0.3990     0.6899     -0.1109      0.0734
GDP_growth_2          0.0064     0.0470     0.1363     0.8916     -0.0857      0.0986
GDP_growth_3         -0.0614     0.0498    -1.2329     0.2177     -0.1590      0.0362
GDP_growth_4          0.0771     0.0366     2.1083     0.0351      0.0054      0.1488
Issues_1             -1.0636     0.0144    -73.619     0.0000     -1.0919     -1.0353
Issues_2             -0.7923     0.0185    -42.882     0.0000     -0.8285     -0.7560
Issues_3             -0.4259     0.0145    -29.335     0.0000     -0.4544     -0.3974
1                    -0.1612     0.0311    -5.1800     0.0000     -0.2222     -0.1002
2                     0.1242     0.0314     3.9504     0.0001      0.0626      0.1859
3                    -0.0996     0.0314    -3.1694     0.0015     -0.1613     -0.0380
4                     0.1714     0.0314     5.4584     0.0000      0.1098      0.2329
=====================================================================================

## Table 4 model 3

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Sales_growth_1p, Sales_growth, Sales_growth_1,
             Sales_growth_2, Sales_growth_3, Sales_growth_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6720
Estimator:                   PanelOLS   R-squared (Between):              0.2110
No. Observations:                2310   R-squared (Within):               0.6721
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6720
Time:                        12:14:05   Log-likelihood                   -3277.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      195.07
Entities:                          40   P-value                           0.0000
Avg Obs:                       57.750   Distribution:                 F(24,2285)
Min Obs:                       0.0000
Max Obs:                       91.000   F-statistic (robust):             194.30
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2285)
Avg Obs:                       23.333
Min Obs:                       0.0000
Max Obs:                       30.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0211     0.0222    -0.9506     0.3419     -0.0647      0.0224
Liquidity             0.0889     0.0323     2.7536     0.0059      0.0256      0.1523
Liquidity_1           0.1116     0.0369     3.0285     0.0025      0.0393      0.1839
Liquidity_2           0.1079     0.0365     2.9538     0.0032      0.0363      0.1795
Liquidity_3           0.0907     0.0309     2.9386     0.0033      0.0302      0.1512
Liquidity_4           0.0165     0.0204     0.8119     0.4169     -0.0234      0.0565
Market_returns_1p    -0.0064     0.0242    -0.2643     0.7916     -0.0539      0.0411
Market_returns        0.0801     0.0242     3.3150     0.0009      0.0327      0.1275
Market_returns_1      0.1047     0.0248     4.2276     0.0000      0.0561      0.1532
Market_returns_2     -0.0947     0.0250    -3.7888     0.0002     -0.1437     -0.0457
Market_returns_3     -0.0388     0.0251    -1.5477     0.1218     -0.0880      0.0104
Market_returns_4     -0.0673     0.0250    -2.6896     0.0072     -0.1164     -0.0182
Sales_growth_1p      -0.0513     0.0426    -1.2050     0.2283     -0.1349      0.0322
Sales_growth          0.0499     0.0504     0.9899     0.3223     -0.0489      0.1487
Sales_growth_1       -0.0189     0.0466    -0.4045     0.6859     -0.1103      0.0726
Sales_growth_2       -0.0534     0.0459    -1.1628     0.2450     -0.1435      0.0367
Sales_growth_3        0.0556     0.0481     1.1581     0.2470     -0.0386      0.1499
Sales_growth_4        0.0101     0.0385     0.2614     0.7938     -0.0654      0.0855
Issues_1             -1.0956     0.0190    -57.714     0.0000     -1.1328     -1.0584
Issues_2             -0.8243     0.0244    -33.730     0.0000     -0.8723     -0.7764
Issues_3             -0.4362     0.0190    -22.938     0.0000     -0.4735     -0.3989
1                    -0.2515     0.0448    -5.6089     0.0000     -0.3394     -0.1636
2                     0.1912     0.0450     4.2455     0.0000      0.1029      0.2796
3                    -0.1551     0.0449    -3.4539     0.0006     -0.2431     -0.0670
4                     0.2173     0.0456     4.7617     0.0000      0.1278      0.3068
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6280
Estimator:                   PanelOLS   R-squared (Between):             -4.5873
No. Observations:                4000   R-squared (Within):               0.6282
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6280
Time:                        12:14:06   Log-likelihood                   -5448.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.55
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.55
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0238     0.0156    -1.5298     0.1261     -0.0544      0.0067
Liquidity             0.0676     0.0219     3.0868     0.0020      0.0247      0.1105
Liquidity_1           0.1139     0.0250     4.5558     0.0000      0.0649      0.1629
Liquidity_2           0.1156     0.0251     4.5982     0.0000      0.0663      0.1648
Liquidity_3           0.1138     0.0219     5.2052     0.0000      0.0709      0.1567
Liquidity_4           0.0278     0.0153     1.8206     0.0687     -0.0021      0.0578
Market_returns_1p    -0.0046     0.0166    -0.2795     0.7799     -0.0372      0.0279
Market_returns        0.0552     0.0166     3.3293     0.0009      0.0227      0.0877
Market_returns_1      0.0810     0.0170     4.7666     0.0000      0.0477      0.1143
Market_returns_2     -0.0676     0.0172    -3.9391     0.0001     -0.1012     -0.0339
Market_returns_3     -0.0332     0.0172    -1.9260     0.0542     -0.0669      0.0006
Market_returns_4     -0.0345     0.0173    -1.9971     0.0459     -0.0684     -0.0006
Sales_growth_1p      -0.0292     0.0304    -0.9583     0.3380     -0.0888      0.0305
Sales_growth          0.0407     0.0369     1.1010     0.2710     -0.0317      0.1131
Sales_growth_1       -0.0452     0.0350    -1.2943     0.1956     -0.1138      0.0233
Sales_growth_2       -0.0251     0.0350    -0.7172     0.4733     -0.0937      0.0435
Sales_growth_3        0.0484     0.0373     1.2962     0.1950     -0.0248      0.1216
Sales_growth_4       -0.0032     0.0306    -0.1045     0.9168     -0.0632      0.0568
Issues_1             -1.0626     0.0145    -73.521     0.0000     -1.0910     -1.0343
Issues_2             -0.7907     0.0185    -42.793     0.0000     -0.8270     -0.7545
Issues_3             -0.4256     0.0145    -29.306     0.0000     -0.4540     -0.3971
1                    -0.1595     0.0311    -5.1256     0.0000     -0.2205     -0.0985
2                     0.1246     0.0315     3.9598     0.0001      0.0629      0.1862
3                    -0.0991     0.0314    -3.1513     0.0016     -0.1608     -0.0374
4                     0.1708     0.0314     5.4390     0.0000      0.1092      0.2324
=====================================================================================

## Table 4 model 4

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    LEI_growth_1p, LEI_growth, LEI_growth_1,
             LEI_growth_2, LEI_growth_3, LEI_growth_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6629
Estimator:                   PanelOLS   R-squared (Between):              0.4064
No. Observations:                2478   R-squared (Within):               0.6630
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6629
Time:                        12:14:06   Log-likelihood                   -3520.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      201.01
Entities:                          40   P-value                           0.0000
Avg Obs:                       61.950   Distribution:                 F(24,2453)
Min Obs:                       0.0000
Max Obs:                       91.000   F-statistic (robust):             199.99
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,2453)
Avg Obs:                       25.030
Min Obs:                       0.0000
Max Obs:                       31.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0213     0.0216    -0.9856     0.3244     -0.0637      0.0211
Liquidity             0.0929     0.0318     2.9181     0.0036      0.0305      0.1553
Liquidity_1           0.1199     0.0365     3.2870     0.0010      0.0484      0.1914
Liquidity_2           0.1256     0.0361     3.4797     0.0005      0.0548      0.1964
Liquidity_3           0.1061     0.0307     3.4525     0.0006      0.0458      0.1663
Liquidity_4           0.0288     0.0204     1.4148     0.1573     -0.0111      0.0688
Market_returns_1p    -0.0078     0.0260    -0.2997     0.7644     -0.0587      0.0432
Market_returns        0.0936     0.0258     3.6203     0.0003      0.0429      0.1443
Market_returns_1      0.1134     0.0261     4.3463     0.0000      0.0622      0.1645
Market_returns_2     -0.0757     0.0262    -2.8897     0.0039     -0.1271     -0.0243
Market_returns_3     -0.0099     0.0261    -0.3779     0.7056     -0.0611      0.0414
Market_returns_4     -0.0626     0.0256    -2.4465     0.0145     -0.1127     -0.0124
LEI_growth_1p        -0.0004     0.1162    -0.0031     0.9975     -0.2283      0.2276
LEI_growth           -0.2959     0.2738    -1.0809     0.2798     -0.8328      0.2409
LEI_growth_1          0.5643     0.3640     1.5503     0.1212     -0.1495      1.2781
LEI_growth_2         -0.5822     0.3598    -1.6183     0.1057     -1.2877      0.1233
LEI_growth_3          0.3046     0.2625     1.1601     0.2461     -0.2102      0.8194
LEI_growth_4         -0.0860     0.1060    -0.8117     0.4170     -0.2938      0.1218
Issues_1             -1.0887     0.0183    -59.448     0.0000     -1.1247     -1.0528
Issues_2             -0.8126     0.0236    -34.503     0.0000     -0.8588     -0.7664
Issues_3             -0.4315     0.0183    -23.526     0.0000     -0.4674     -0.3955
1                    -0.2378     0.0431    -5.5141     0.0000     -0.3224     -0.1532
2                     0.1768     0.0433     4.0843     0.0000      0.0919      0.2617
3                    -0.1464     0.0431    -3.3979     0.0007     -0.2308     -0.0619
4                     0.1954     0.0438     4.4633     0.0000      0.1096      0.2813
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6280
Estimator:                   PanelOLS   R-squared (Between):             -4.5826
No. Observations:                4000   R-squared (Within):               0.6283
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6280
Time:                        12:14:06   Log-likelihood                   -5448.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      279.65
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             279.59
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0258     0.0156    -1.6512     0.0988     -0.0564      0.0048
Liquidity             0.0661     0.0220     3.0065     0.0027      0.0230      0.1092
Liquidity_1           0.1123     0.0251     4.4682     0.0000      0.0630      0.1615
Liquidity_2           0.1148     0.0253     4.5422     0.0000      0.0653      0.1644
Liquidity_3           0.1129     0.0221     5.1199     0.0000      0.0697      0.1562
Liquidity_4           0.0257     0.0155     1.6647     0.0961     -0.0046      0.0560
Market_returns_1p    -0.0035     0.0171    -0.2060     0.8368     -0.0371      0.0300
Market_returns        0.0603     0.0174     3.4697     0.0005      0.0262      0.0944
Market_returns_1      0.0897     0.0178     5.0471     0.0000      0.0549      0.1246
Market_returns_2     -0.0591     0.0179    -3.3074     0.0009     -0.0941     -0.0241
Market_returns_3     -0.0256     0.0179    -1.4319     0.1523     -0.0607      0.0095
Market_returns_4     -0.0298     0.0179    -1.6684     0.0953     -0.0649      0.0052
LEI_growth_1p        -0.0373     0.0638    -0.5846     0.5588     -0.1624      0.0878
LEI_growth           -0.0291     0.1242    -0.2340     0.8150     -0.2725      0.2144
LEI_growth_1          0.0384     0.1434     0.2680     0.7887     -0.2428      0.3196
LEI_growth_2         -0.0611     0.1441    -0.4241     0.6715     -0.3437      0.2215
LEI_growth_3          0.0280     0.1247     0.2248     0.8221     -0.2165      0.2725
LEI_growth_4         -0.0270     0.0625    -0.4318     0.6659     -0.1494      0.0955
Issues_1             -1.0636     0.0145    -73.585     0.0000     -1.0919     -1.0352
Issues_2             -0.7920     0.0185    -42.844     0.0000     -0.8282     -0.7558
Issues_3             -0.4258     0.0145    -29.287     0.0000     -0.4543     -0.3973
1                    -0.1609     0.0312    -5.1523     0.0000     -0.2221     -0.0997
2                     0.1241     0.0316     3.9292     0.0001      0.0622      0.1861
3                    -0.0995     0.0316    -3.1478     0.0017     -0.1614     -0.0375
4                     0.1720     0.0315     5.4597     0.0000      0.1102      0.2337
=====================================================================================

## Table 4 model 5

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    Idiosyncratic_volatility_1p, Idiosyncratic_volatility, Idiosyncratic_volatility_1,
             Idiosyncratic_volatility_2, Idiosyncratic_volatility_3, Idiosyncratic_volatility_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6437
Estimator:                   PanelOLS   R-squared (Between):              0.1528
No. Observations:                3070   R-squared (Within):               0.6438
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6437
Time:                        12:14:06   Log-likelihood                   -4405.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      229.26
Entities:                          40   P-value                           0.0000
Avg Obs:                       76.750   Distribution:                 F(24,3045)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             228.45
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,3045)
Avg Obs:                       31.010
Min Obs:                       0.0000
Max Obs:                       38.000

                                      Parameter Estimates
===============================================================================================
                             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------------------
Liquidity_1p                   -0.0189     0.0192    -0.9841     0.3251     -0.0565      0.0188
Liquidity                       0.0810     0.0279     2.9045     0.0037      0.0263      0.1358
Liquidity_1                     0.1354     0.0320     4.2357     0.0000      0.0727      0.1981
Liquidity_2                     0.1374     0.0318     4.3199     0.0000      0.0750      0.1997
Liquidity_3                     0.1251     0.0273     4.5821     0.0000      0.0716      0.1786
Liquidity_4                     0.0436     0.0184     2.3717     0.0178      0.0076      0.0796
Market_returns_1p              -0.0013     0.0214    -0.0592     0.9528     -0.0432      0.0407
Market_returns                  0.0682     0.0212     3.2223     0.0013      0.0267      0.1097
Market_returns_1                0.0995     0.0216     4.6161     0.0000      0.0572      0.1418
Market_returns_2               -0.0842     0.0217    -3.8889     0.0001     -0.1267     -0.0418
Market_returns_3               -0.0332     0.0217    -1.5350     0.1249     -0.0757      0.0092
Market_returns_4               -0.0709     0.0216    -3.2879     0.0010     -0.1132     -0.0286
Idiosyncratic_volatility_1p     0.0194     0.0188     1.0325     0.3019     -0.0174      0.0562
Idiosyncratic_volatility        0.0162     0.0260     0.6203     0.5351     -0.0349      0.0672
Idiosyncratic_volatility_1      0.0193     0.0298     0.6460     0.5183     -0.0392      0.0778
Idiosyncratic_volatility_2      0.0702     0.0296     2.3666     0.0180      0.0120      0.1283
Idiosyncratic_volatility_3      0.0374     0.0256     1.4621     0.1438     -0.0127      0.0875
Idiosyncratic_volatility_4      0.0431     0.0184     2.3460     0.0190      0.0071      0.0792
Issues_1                       -1.0697     0.0165    -64.718     0.0000     -1.1021     -1.0372
Issues_2                       -0.7979     0.0211    -37.738     0.0000     -0.8393     -0.7564
Issues_3                       -0.4217     0.0166    -25.453     0.0000     -0.4542     -0.3892
1                              -0.2249     0.0401    -5.6077     0.0000     -0.3035     -0.1463
2                               0.1298     0.0400     3.2475     0.0012      0.0514      0.2082
3                              -0.1293     0.0400    -3.2305     0.0012     -0.2078     -0.0508
4                               0.2218     0.0403     5.5072     0.0000      0.1428      0.3008
===============================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6288
Estimator:                   PanelOLS   R-squared (Between):             -4.6281
No. Observations:                4000   R-squared (Within):               0.6290
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6288
Time:                        12:14:07   Log-likelihood                   -5443.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      280.57
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             280.50
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                      Parameter Estimates
===============================================================================================
                             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------------------
Liquidity_1p                   -0.0192     0.0158    -1.2138     0.2249     -0.0502      0.0118
Liquidity                       0.0682     0.0223     3.0592     0.0022      0.0245      0.1118
Liquidity_1                     0.1151     0.0255     4.5178     0.0000      0.0651      0.1650
Liquidity_2                     0.1218     0.0256     4.7557     0.0000      0.0716      0.1720
Liquidity_3                     0.1194     0.0223     5.3462     0.0000      0.0756      0.1632
Liquidity_4                     0.0356     0.0156     2.2842     0.0224      0.0050      0.0662
Market_returns_1p              -0.0064     0.0167    -0.3851     0.7002     -0.0392      0.0263
Market_returns                  0.0521     0.0166     3.1313     0.0018      0.0195      0.0846
Market_returns_1                0.0798     0.0170     4.6936     0.0000      0.0465      0.1131
Market_returns_2               -0.0690     0.0171    -4.0317     0.0001     -0.1026     -0.0355
Market_returns_3               -0.0316     0.0172    -1.8394     0.0659     -0.0654      0.0021
Market_returns_4               -0.0418     0.0173    -2.4179     0.0157     -0.0756     -0.0079
Idiosyncratic_volatility_1p     0.0165     0.0149     1.1103     0.2669     -0.0126      0.0456
Idiosyncratic_volatility        0.0037     0.0201     0.1857     0.8527     -0.0356      0.0431
Idiosyncratic_volatility_1     -0.0099     0.0228    -0.4348     0.6637     -0.0546      0.0348
Idiosyncratic_volatility_2      0.0335     0.0228     1.4695     0.1418     -0.0112      0.0782
Idiosyncratic_volatility_3      0.0218     0.0201     1.0828     0.2790     -0.0176      0.0612
Idiosyncratic_volatility_4      0.0343     0.0150     2.2820     0.0225      0.0048      0.0637
Issues_1                       -1.0606     0.0145    -73.382     0.0000     -1.0889     -1.0322
Issues_2                       -0.7892     0.0185    -42.697     0.0000     -0.8254     -0.7530
Issues_3                       -0.4248     0.0145    -29.251     0.0000     -0.4533     -0.3964
1                              -0.1492     0.0317    -4.7090     0.0000     -0.2114     -0.0871
2                               0.1212     0.0319     3.7957     0.0001      0.0586      0.1839
3                              -0.1155     0.0321    -3.5985     0.0003     -0.1785     -0.0526
4                               0.1794     0.0319     5.6253     0.0000      0.1169      0.2419
===============================================================================================

## Table 4 model 6

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                   Stock_price_synchronicity_1p, Stock_price_synchronicity, Stock_price_synchronicity_1,
             Stock_price_synchronicity_2, Stock_price_synchronicity_3, Stock_price_synchronicity_4,
                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 26 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6429
Estimator:                   PanelOLS   R-squared (Between):              0.1279
No. Observations:                3070   R-squared (Within):               0.6430
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6429
Time:                        12:14:07   Log-likelihood                   -4408.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      228.44
Entities:                          40   P-value                           0.0000
Avg Obs:                       76.750   Distribution:                 F(24,3045)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             227.63
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(24,3045)
Avg Obs:                       31.010
Min Obs:                       0.0000
Max Obs:                       38.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
Liquidity_1p                    -0.0189     0.0190    -0.9969     0.3189     -0.0562      0.0183
Liquidity                        0.0833     0.0275     3.0254     0.0025      0.0293      0.1373
Liquidity_1                      0.1288     0.0314     4.0987     0.0000      0.0672      0.1905
Liquidity_2                      0.1246     0.0313     3.9793     0.0001      0.0632      0.1860
Liquidity_3                      0.1190     0.0270     4.4055     0.0000      0.0660      0.1719
Liquidity_4                      0.0379     0.0183     2.0714     0.0384      0.0020      0.0738
Market_returns_1p                0.0169     0.0222     0.7628     0.4457     -0.0265      0.0603
Market_returns                   0.0561     0.0219     2.5612     0.0105      0.0132      0.0991
Market_returns_1                 0.0894     0.0224     3.9845     0.0001      0.0454      0.1334
Market_returns_2                -0.0899     0.0225    -3.9950     0.0001     -0.1340     -0.0458
Market_returns_3                -0.0305     0.0225    -1.3601     0.1739     -0.0746      0.0135
Market_returns_4                -0.0503     0.0222    -2.2598     0.0239     -0.0939     -0.0066
Stock_price_synchronicity_1p     0.0397     0.0204     1.9444     0.0519     -0.0003      0.0797
Stock_price_synchronicity        0.0263     0.0316     0.8319     0.4055     -0.0356      0.0882
Stock_price_synchronicity_1      0.0031     0.0366     0.0849     0.9323     -0.0687      0.0749
Stock_price_synchronicity_2     -0.0099     0.0363    -0.2739     0.7842     -0.0811      0.0612
Stock_price_synchronicity_3     -0.0075     0.0307    -0.2445     0.8069     -0.0677      0.0527
Stock_price_synchronicity_4      0.0153     0.0192     0.8004     0.4235     -0.0222      0.0529
Issues_1                        -1.0723     0.0165    -64.805     0.0000     -1.1048     -1.0399
Issues_2                        -0.7984     0.0212    -37.704     0.0000     -0.8399     -0.7569
Issues_3                        -0.4200     0.0166    -25.294     0.0000     -0.4526     -0.3875
1                               -0.2379     0.0392    -6.0739     0.0000     -0.3147     -0.1611
2                                0.1375     0.0391     3.5154     0.0004      0.0608      0.2142
3                               -0.1168     0.0389    -3.0046     0.0027     -0.1930     -0.0406
4                                0.2134     0.0395     5.4017     0.0000      0.1359      0.2908
================================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6284
Estimator:                   PanelOLS   R-squared (Between):             -4.6079
No. Observations:                4000   R-squared (Within):               0.6287
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6284
Time:                        12:14:07   Log-likelihood                   -5446.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      280.09
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(24,3975)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             280.03
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(24,3975)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
Liquidity_1p                    -0.0197     0.0157    -1.2539     0.2100     -0.0504      0.0111
Liquidity                        0.0722     0.0220     3.2825     0.0010      0.0291      0.1153
Liquidity_1                      0.1147     0.0251     4.5760     0.0000      0.0655      0.1638
Liquidity_2                      0.1168     0.0252     4.6325     0.0000      0.0674      0.1662
Liquidity_3                      0.1167     0.0221     5.2787     0.0000      0.0734      0.1601
Liquidity_4                      0.0338     0.0156     2.1640     0.0305      0.0032      0.0644
Market_returns_1p                0.0038     0.0172     0.2225     0.8240     -0.0299      0.0375
Market_returns                   0.0476     0.0172     2.7710     0.0056      0.0139      0.0812
Market_returns_1                 0.0717     0.0176     4.0752     0.0000      0.0372      0.1062
Market_returns_2                -0.0682     0.0177    -3.8486     0.0001     -0.1029     -0.0334
Market_returns_3                -0.0329     0.0178    -1.8505     0.0643     -0.0677      0.0020
Market_returns_4                -0.0276     0.0178    -1.5500     0.1212     -0.0625      0.0073
Stock_price_synchronicity_1p     0.0258     0.0157     1.6443     0.1002     -0.0050      0.0567
Stock_price_synchronicity        0.0132     0.0234     0.5655     0.5718     -0.0326      0.0590
Stock_price_synchronicity_1     -0.0172     0.0268    -0.6412     0.5214     -0.0698      0.0354
Stock_price_synchronicity_2     -0.0217     0.0269    -0.8068     0.4198     -0.0744      0.0310
Stock_price_synchronicity_3     -0.0189     0.0235    -0.8034     0.4218     -0.0649      0.0272
Stock_price_synchronicity_4      0.0138     0.0155     0.8891     0.3740     -0.0166      0.0441
Issues_1                        -1.0628     0.0145    -73.502     0.0000     -1.0911     -1.0344
Issues_2                        -0.7903     0.0185    -42.735     0.0000     -0.8265     -0.7540
Issues_3                        -0.4240     0.0145    -29.164     0.0000     -0.4525     -0.3955
1                               -0.1639     0.0312    -5.2532     0.0000     -0.2250     -0.1027
2                                0.1229     0.0315     3.9046     0.0001      0.0612      0.1846
3                               -0.0989     0.0315    -3.1451     0.0017     -0.1606     -0.0373
4                                0.1757     0.0315     5.5862     0.0000      0.1140      0.2374
================================================================================================

## Table 4 model 7

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([panel3.drop(columns= ['Issues_1',	'Issues_2',
                                          'Issues_3' ,1, 2, 3, 4]),
                    GDP_growth_1p, GDP_growth, GDP_growth_1,
             GDP_growth_2, GDP_growth_3, GDP_growth_4,
             Sales_growth_1p, Sales_growth, Sales_growth_1,
             Sales_growth_2, Sales_growth_3, Sales_growth_4,
             
             LEI_growth_1p, LEI_growth, LEI_growth_1,
             LEI_growth_2, LEI_growth_3, LEI_growth_4,
             
             Idiosyncratic_volatility_1p, Idiosyncratic_volatility, Idiosyncratic_volatility_1,
             Idiosyncratic_volatility_2, Idiosyncratic_volatility_3, Idiosyncratic_volatility_4,
             
             Stock_price_synchronicity_1p, Stock_price_synchronicity, Stock_price_synchronicity_1,
             Stock_price_synchronicity_2, Stock_price_synchronicity_3, Stock_price_synchronicity_4,


                    panel3[['Issues_1',	'Issues_2',
                           'Issues_3' ,1, 2, 3, 4]]], axis = 1)

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 50 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6766
Estimator:                   PanelOLS   R-squared (Between):              0.2285
No. Observations:                2249   R-squared (Within):               0.6766
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6766
Time:                        12:14:08   Log-likelihood                   -3186.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      95.874
Entities:                          40   P-value                           0.0000
Avg Obs:                       56.225   Distribution:                 F(48,2200)
Min Obs:                       0.0000
Max Obs:                       91.000   F-statistic (robust):             95.469
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(48,2200)
Avg Obs:                       22.717
Min Obs:                       0.0000
Max Obs:                       29.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
Liquidity_1p                    -0.0132     0.0239    -0.5511     0.5816     -0.0600      0.0337
Liquidity                        0.0889     0.0353     2.5207     0.0118      0.0197      0.1580
Liquidity_1                      0.1246     0.0407     3.0579     0.0023      0.0447      0.2045
Liquidity_2                      0.1358     0.0406     3.3491     0.0008      0.0563      0.2153
Liquidity_3                      0.1258     0.0346     3.6367     0.0003      0.0580      0.1936
Liquidity_4                      0.0477     0.0228     2.0920     0.0366      0.0030      0.0924
Market_returns_1p                0.0120     0.0293     0.4108     0.6812     -0.0454      0.0695
Market_returns                   0.1037     0.0294     3.5242     0.0004      0.0460      0.1614
Market_returns_1                 0.1069     0.0296     3.6123     0.0003      0.0489      0.1650
Market_returns_2                -0.0701     0.0298    -2.3562     0.0185     -0.1285     -0.0118
Market_returns_3                -0.0226     0.0298    -0.7573     0.4489     -0.0810      0.0359
Market_returns_4                -0.0618     0.0295    -2.0940     0.0364     -0.1197     -0.0039
GDP_growth_1p                   -0.0912     0.0589    -1.5481     0.1218     -0.2068      0.0243
GDP_growth                       0.1058     0.0728     1.4542     0.1460     -0.0369      0.2485
GDP_growth_1                     0.0059     0.0672     0.0885     0.9295     -0.1258      0.1377
GDP_growth_2                    -0.0454     0.0666    -0.6811     0.4959     -0.1761      0.0853
GDP_growth_3                    -0.0891     0.0709    -1.2572     0.2088     -0.2281      0.0499
GDP_growth_4                     0.1303     0.0565     2.3072     0.0211      0.0195      0.2410
Sales_growth_1p                 -0.0199     0.0455    -0.4372     0.6620     -0.1091      0.0693
Sales_growth                     0.0336     0.0523     0.6419     0.5210     -0.0690      0.1362
Sales_growth_1                  -0.0340     0.0486    -0.7003     0.4838     -0.1293      0.0613
Sales_growth_2                  -0.0504     0.0481    -1.0476     0.2949     -0.1447      0.0439
Sales_growth_3                   0.0651     0.0503     1.2947     0.1956     -0.0335      0.1637
Sales_growth_4                  -0.0180     0.0418    -0.4298     0.6674     -0.0999      0.0640
LEI_growth_1p                    0.0720     0.1292     0.5575     0.5772     -0.1813      0.3253
LEI_growth                      -0.4661     0.3007    -1.5503     0.1212     -1.0557      0.1235
LEI_growth_1                     0.8271     0.4006     2.0646     0.0391      0.0415      1.6127
LEI_growth_2                    -0.7505     0.3980    -1.8857     0.0595     -1.5309      0.0300
LEI_growth_3                     0.3615     0.2911     1.2417     0.2145     -0.2094      0.9323
LEI_growth_4                    -0.0863     0.1193    -0.7233     0.4696     -0.3202      0.1476
Idiosyncratic_volatility_1p      0.0045     0.0231     0.1960     0.8446     -0.0408      0.0498
Idiosyncratic_volatility        -0.0068     0.0324    -0.2111     0.8329     -0.0704      0.0567
Idiosyncratic_volatility_1       0.0205     0.0377     0.5451     0.5858     -0.0534      0.0944
Idiosyncratic_volatility_2       0.0926     0.0374     2.4784     0.0133      0.0193      0.1658
Idiosyncratic_volatility_3       0.0448     0.0317     1.4120     0.1581     -0.0174      0.1070
Idiosyncratic_volatility_4       0.0504     0.0226     2.2356     0.0255      0.0062      0.0947
Stock_price_synchronicity_1p     0.0391     0.0241     1.6207     0.1052     -0.0082      0.0864
Stock_price_synchronicity        0.0337     0.0370     0.9102     0.3628     -0.0389      0.1063
Stock_price_synchronicity_1      0.0007     0.0428     0.0160     0.9872     -0.0833      0.0847
Stock_price_synchronicity_2     -0.0074     0.0425    -0.1748     0.8612     -0.0909      0.0760
Stock_price_synchronicity_3      0.0165     0.0363     0.4549     0.6493     -0.0546      0.0876
Stock_price_synchronicity_4      0.0340     0.0227     1.5008     0.1336     -0.0104      0.0785
Issues_1                        -1.0916     0.0193    -56.468     0.0000     -1.1295     -1.0536
Issues_2                        -0.8197     0.0249    -32.930     0.0000     -0.8686     -0.7709
Issues_3                        -0.4337     0.0194    -22.397     0.0000     -0.4717     -0.3958
1                               -0.2563     0.0477    -5.3716     0.0000     -0.3499     -0.1627
2                                0.1706     0.0478     3.5689     0.0004      0.0768      0.2643
3                               -0.1521     0.0479    -3.1728     0.0015     -0.2461     -0.0581
4                                0.2345     0.0483     4.8559     0.0000      0.1398      0.3292
================================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6315
Estimator:                   PanelOLS   R-squared (Between):             -4.5581
No. Observations:                4000   R-squared (Within):               0.6318
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6315
Time:                        12:14:08   Log-likelihood                   -5429.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      141.07
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(48,3951)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             141.07
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(48,3951)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
Liquidity_1p                    -0.0173     0.0160    -1.0807     0.2799     -0.0486      0.0141
Liquidity                        0.0664     0.0226     2.9397     0.0033      0.0221      0.1106
Liquidity_1                      0.1102     0.0259     4.2599     0.0000      0.0595      0.1609
Liquidity_2                      0.1159     0.0260     4.4502     0.0000      0.0648      0.1669
Liquidity_3                      0.1169     0.0228     5.1175     0.0000      0.0721      0.1617
Liquidity_4                      0.0385     0.0161     2.3991     0.0165      0.0070      0.0700
Market_returns_1p                0.0042     0.0178     0.2388     0.8113     -0.0306      0.0391
Market_returns                   0.0558     0.0181     3.0758     0.0021      0.0202      0.0914
Market_returns_1                 0.0827     0.0185     4.4594     0.0000      0.0463      0.1190
Market_returns_2                -0.0551     0.0186    -2.9592     0.0031     -0.0917     -0.0186
Market_returns_3                -0.0163     0.0187    -0.8707     0.3839     -0.0530      0.0204
Market_returns_4                -0.0234     0.0187    -1.2514     0.2109     -0.0601      0.0133
GDP_growth_1p                   -0.0727     0.0419    -1.7334     0.0831     -0.1549      0.0095
GDP_growth                       0.0740     0.0518     1.4299     0.1528     -0.0275      0.1755
GDP_growth_1                    -0.0049     0.0489    -0.0997     0.9206     -0.1007      0.0909
GDP_growth_2                     0.0045     0.0489     0.0921     0.9266     -0.0914      0.1004
GDP_growth_3                    -0.0657     0.0517    -1.2701     0.2041     -0.1671      0.0357
GDP_growth_4                     0.0745     0.0413     1.8041     0.0713     -0.0065      0.1555
Sales_growth_1p                 -0.0141     0.0319    -0.4409     0.6593     -0.0767      0.0485
Sales_growth                     0.0387     0.0377     1.0264     0.3048     -0.0352      0.1127
Sales_growth_1                  -0.0496     0.0357    -1.3884     0.1651     -0.1197      0.0204
Sales_growth_2                  -0.0256     0.0358    -0.7167     0.4736     -0.0958      0.0445
Sales_growth_3                   0.0515     0.0382     1.3498     0.1772     -0.0233      0.1264
Sales_growth_4                  -0.0210     0.0321    -0.6526     0.5140     -0.0839      0.0420
LEI_growth_1p                    0.0031     0.0675     0.0456     0.9636     -0.1293      0.1355
LEI_growth                      -0.0810     0.1283    -0.6313     0.5279     -0.3324      0.1705
LEI_growth_1                     0.0731     0.1475     0.4954     0.6204     -0.2162      0.3623
LEI_growth_2                    -0.0157     0.1488    -0.1055     0.9160     -0.3074      0.2760
LEI_growth_3                    -0.0360     0.1296    -0.2780     0.7810     -0.2902      0.2181
LEI_growth_4                    -0.0046     0.0663    -0.0692     0.9448     -0.1346      0.1254
Idiosyncratic_volatility_1p      0.0151     0.0153     0.9814     0.3264     -0.0150      0.0451
Idiosyncratic_volatility         0.0038     0.0210     0.1794     0.8577     -0.0374      0.0450
Idiosyncratic_volatility_1      -0.0080     0.0240    -0.3314     0.7404     -0.0551      0.0391
Idiosyncratic_volatility_2       0.0347     0.0241     1.4422     0.1493     -0.0125      0.0820
Idiosyncratic_volatility_3       0.0223     0.0211     1.0589     0.2897     -0.0190      0.0636
Idiosyncratic_volatility_4       0.0330     0.0155     2.1282     0.0334      0.0026      0.0633
Stock_price_synchronicity_1p     0.0262     0.0159     1.6511     0.0988     -0.0049      0.0573
Stock_price_synchronicity        0.0134     0.0236     0.5679     0.5701     -0.0328      0.0596
Stock_price_synchronicity_1     -0.0190     0.0272    -0.6970     0.4858     -0.0723      0.0344
Stock_price_synchronicity_2     -0.0278     0.0273    -1.0188     0.3083     -0.0814      0.0257
Stock_price_synchronicity_3     -0.0200     0.0239    -0.8367     0.4028     -0.0669      0.0269
Stock_price_synchronicity_4      0.0128     0.0157     0.8148     0.4152     -0.0180      0.0437
Issues_1                        -1.0618     0.0145    -73.337     0.0000     -1.0902     -1.0334
Issues_2                        -0.7906     0.0185    -42.689     0.0000     -0.8269     -0.7542
Issues_3                        -0.4255     0.0146    -29.214     0.0000     -0.4541     -0.3970
1                               -0.1568     0.0319    -4.9095     0.0000     -0.2194     -0.0942
2                                0.1166     0.0321     3.6305     0.0003      0.0536      0.1796
3                               -0.1116     0.0323    -3.4592     0.0005     -0.1749     -0.0484
4                                0.1832     0.0321     5.7128     0.0000      0.1203      0.2460
================================================================================================

# Table 5

## Upper tab, model 1, Full sample

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6421
Estimator:                   PanelOLS   R-squared (Between):              0.3458
No. Observations:                3087   R-squared (Within):               0.6421
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6421
Time:                        12:14:08   Log-likelihood                   -4438.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      305.74
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(18,3068)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             304.54
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3068)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0237     0.0188    -1.2595     0.2080     -0.0606      0.0132
Liquidity             0.0817     0.0273     2.9953     0.0028      0.0282      0.1352
Liquidity_1           0.1301     0.0312     4.1715     0.0000      0.0689      0.1912
Liquidity_2           0.1253     0.0310     4.0471     0.0001      0.0646      0.1861
Liquidity_3           0.1165     0.0264     4.4075     0.0000      0.0647      0.1683
Liquidity_4           0.0335     0.0178     1.8872     0.0592     -0.0013      0.0684
Market_returns_1p     0.0019     0.0210     0.0902     0.9282     -0.0393      0.0431
Market_returns        0.0696     0.0208     3.3492     0.0008      0.0289      0.1104
Market_returns_1      0.0936     0.0212     4.4118     0.0000      0.0520      0.1352
Market_returns_2     -0.0881     0.0213    -4.1345     0.0000     -0.1299     -0.0463
Market_returns_3     -0.0323     0.0213    -1.5158     0.1297     -0.0741      0.0095
Market_returns_4     -0.0616     0.0211    -2.9135     0.0036     -0.1031     -0.0201
Issues_1             -1.0721     0.0164    -65.196     0.0000     -1.1044     -1.0399
Issues_2             -0.8022     0.0210    -38.206     0.0000     -0.8433     -0.7610
Issues_3             -0.4245     0.0165    -25.770     0.0000     -0.4568     -0.3922
1                    -0.2372     0.0389    -6.0955     0.0000     -0.3136     -0.1609
2                     0.1422     0.0389     3.6521     0.0003      0.0658      0.2185
3                    -0.1159     0.0387    -2.9920     0.0028     -0.1919     -0.0400
4                     0.2046     0.0393     5.2025     0.0000      0.1275      0.2817
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6273
Estimator:                   PanelOLS   R-squared (Between):             -4.6129
No. Observations:                4000   R-squared (Within):               0.6276
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6273
Time:                        12:14:08   Log-likelihood                   -5451.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      372.31
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             372.22
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0155    -1.5058     0.1322     -0.0539      0.0071
Liquidity             0.0700     0.0218     3.2079     0.0013      0.0272      0.1128
Liquidity_1           0.1164     0.0249     4.6777     0.0000      0.0676      0.1652
Liquidity_2           0.1181     0.0250     4.7216     0.0000      0.0690      0.1671
Liquidity_3           0.1157     0.0218     5.3170     0.0000      0.0731      0.1584
Liquidity_4           0.0281     0.0152     1.8446     0.0652     -0.0018      0.0579
Market_returns_1p    -0.0047     0.0166    -0.2845     0.7760     -0.0372      0.0278
Market_returns        0.0538     0.0165     3.2620     0.0011      0.0215      0.0862
Market_returns_1      0.0792     0.0169     4.6871     0.0000      0.0461      0.1123
Market_returns_2     -0.0707     0.0170    -4.1556     0.0000     -0.1040     -0.0373
Market_returns_3     -0.0358     0.0171    -2.0949     0.0362     -0.0693     -0.0023
Market_returns_4     -0.0370     0.0171    -2.1589     0.0309     -0.0706     -0.0034
Issues_1             -1.0627     0.0144    -73.552     0.0000     -1.0911     -1.0344
Issues_2             -0.7907     0.0185    -42.799     0.0000     -0.8269     -0.7545
Issues_3             -0.4249     0.0145    -29.264     0.0000     -0.4533     -0.3964
1                    -0.1601     0.0311    -5.1445     0.0000     -0.2211     -0.0991
2                     0.1248     0.0315     3.9672     0.0001      0.0631      0.1865
3                    -0.0996     0.0314    -3.1659     0.0016     -0.1612     -0.0379
4                     0.1719     0.0314     5.4758     0.0000      0.1104      0.2335
=====================================================================================

## Upper tab, model 2, $ROA > 0$

In [ ]:
# Defining ROAp, and its lags
ROAp = pd.read_excel(path, sheet_name='Issues ROA>0', skiprows=5)
ROAp = ROAp.set_index(['YearQuarter'])
ROAp  = pd.DataFrame(ROAp.stack(dropna = False ), columns=['Issues ROA>0'])
ROAp.index = ROAp.index.set_names(['YearQuarter', 'Country'])
#ROAp = pd.DataFrame(index = ROAp.index, columns= list_of_variables)
ROAp = ROAp.reset_index().set_index(['Country', 'YearQuarter'])
ROAp

                       Issues ROA>0
Country   YearQuarter
ARG       19901                 NaN
AUS       19901                 NaN
AUT       19901                 NaN
BEL       19901                 NaN
BRA       19901                 NaN
...                             ...
SWE       20144            0.524806
THA       20144            2.305493
USANASDAQ 20144            0.192464
USANYSE   20144           -1.235691
ZAF       20144            0.637719

[4000 rows x 1 columns]

In [ ]:
panel3 = panel_data[['Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([ROAp, panel3], axis = 1)

panel3

                       Issues ROA>0  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                         ...
ARG       19901                 NaN           NaN        NaN  ...  0  0  0
AUS       19901                 NaN           NaN        NaN  ...  0  0  0
AUT       19901                 NaN           NaN        NaN  ...  0  0  0
BEL       19901                 NaN           NaN        NaN  ...  0  0  0
BRA       19901                 NaN           NaN        NaN  ...  0  0  0
...                             ...           ...        ...  ... .. .. ..
SWE       20144            0.524806           NaN   0.195308  ...  0  0  1
THA       20144            2.305493           NaN   0.514388  ...  0  0  1
USANASDAQ 20144            0.192464           NaN  -0.651659  ...  0  0  1
USANYSE   20144           -1.235691           NaN  -0.432412  ...  0  0  1
ZAF       20144            0.637719           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna()['Issues ROA>0'],
                 panel3.dropna().drop(columns = ['Issues ROA>0']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           Issues ROA>0   R-squared:                        0.1267
Estimator:                   PanelOLS   R-squared (Between):             -0.1855
No. Observations:                3096   R-squared (Within):               0.1267
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1267
Time:                        12:14:09   Log-likelihood                   -4292.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      24.790
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.400   Distribution:                 F(18,3077)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             24.396
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3077)
Avg Obs:                       31.273
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0346     0.0178    -1.9434     0.0521     -0.0694      0.0003
Liquidity             0.0314     0.0259     1.2145     0.2247     -0.0193      0.0822
Liquidity_1           0.0686     0.0296     2.3174     0.0205      0.0106      0.1266
Liquidity_2           0.0578     0.0294     1.9686     0.0491      0.0002      0.1155
Liquidity_3           0.0552     0.0251     2.2010     0.0278      0.0060      0.1043
Liquidity_4          -0.0023     0.0168    -0.1394     0.8891     -0.0353      0.0306
Market_returns_1p    -0.0147     0.0200    -0.7357     0.4620     -0.0538      0.0245
Market_returns        0.0849     0.0197     4.3072     0.0000      0.0463      0.1236
Market_returns_1      0.0992     0.0201     4.9255     0.0000      0.0597      0.1386
Market_returns_2     -0.0573     0.0202    -2.8328     0.0046     -0.0970     -0.0176
Market_returns_3     -0.0029     0.0202    -0.1423     0.8869     -0.0425      0.0368
Market_returns_4      0.0037     0.0201     0.1841     0.8539     -0.0357      0.0431
Issues_1             -0.1909     0.0156    -12.250     0.0000     -0.2215     -0.1604
Issues_2             -0.2216     0.0199    -11.133     0.0000     -0.2606     -0.1826
Issues_3             -0.1428     0.0156    -9.1511     0.0000     -0.1734     -0.1122
1                    -0.1354     0.0368    -3.6748     0.0002     -0.2077     -0.0632
2                     0.0929     0.0369     2.5138     0.0120      0.0204      0.1653
3                    -0.1842     0.0368    -5.0105     0.0000     -0.2562     -0.1121
4                     0.2142     0.0373     5.7499     0.0000      0.1412      0.2873
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0)['Issues ROA>0'],
                 panel3.fillna(0).drop(columns = ['Issues ROA>0']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           Issues ROA>0   R-squared:                        0.1116
Estimator:                   PanelOLS   R-squared (Between):          -8.659e+28
No. Observations:                4000   R-squared (Within):               0.1116
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1116
Time:                        12:14:09   Log-likelihood                   -5190.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      27.774
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             27.517
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0309     0.0146    -2.1222     0.0339     -0.0594     -0.0024
Liquidity             0.0331     0.0204     1.6177     0.1058     -0.0070      0.0732
Liquidity_1           0.0685     0.0233     2.9395     0.0033      0.0228      0.1143
Liquidity_2           0.0590     0.0234     2.5168     0.0119      0.0130      0.1049
Liquidity_3           0.0583     0.0204     2.8615     0.0042      0.0184      0.0983
Liquidity_4           0.0030     0.0143     0.2132     0.8312     -0.0249      0.0310
Market_returns_1p    -0.0161     0.0155    -1.0385     0.2991     -0.0466      0.0143
Market_returns        0.0673     0.0155     4.3547     0.0000      0.0370      0.0976
Market_returns_1      0.0787     0.0158     4.9693     0.0000      0.0476      0.1097
Market_returns_2     -0.0416     0.0159    -2.6088     0.0091     -0.0728     -0.0103
Market_returns_3     -0.0112     0.0160    -0.6993     0.4844     -0.0426      0.0202
Market_returns_4      0.0082     0.0161     0.5135     0.6076     -0.0232      0.0397
Issues_1             -0.1899     0.0135    -14.031     0.0000     -0.2165     -0.1634
Issues_2             -0.2106     0.0173    -12.167     0.0000     -0.2445     -0.1767
Issues_3             -0.1352     0.0136    -9.9417     0.0000     -0.1619     -0.1086
1                    -0.0945     0.0292    -3.2434     0.0012     -0.1517     -0.0374
2                     0.0829     0.0295     2.8140     0.0049      0.0252      0.1407
3                    -0.1468     0.0295    -4.9846     0.0000     -0.2046     -0.0891
4                     0.1621     0.0294     5.5110     0.0000      0.1044      0.2198
=====================================================================================

## Upper tab, model 3, $ROA < 0$

In [ ]:
# Defining ROAn, and its lags
ROAn = pd.read_excel(path, sheet_name='Issues ROA<0', skiprows=5)
ROAn = ROAn.set_index(['YearQuarter'])
ROAn  = pd.DataFrame(ROAn.stack(dropna = False ), columns=['Issues ROA<0'])
ROAn.index = ROAn.index.set_names(['YearQuarter', 'Country'])
#ROAn = pd.DataFrame(index = ROAn.index, columns= list_of_variables)
ROAn = ROAn.reset_index().set_index(['Country', 'YearQuarter'])
ROAn

                       Issues ROA<0
Country   YearQuarter
ARG       19901                 NaN
AUS       19901                 NaN
AUT       19901                 NaN
BEL       19901                 NaN
BRA       19901                 NaN
...                             ...
SWE       20144           -0.390022
THA       20144           -1.344931
USANASDAQ 20144            0.825653
USANYSE   20144            1.885841
ZAF       20144           -1.586646

[4000 rows x 1 columns]

In [ ]:
panel3 = panel_data[['Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([ROAn, panel3], axis = 1)

panel3

                       Issues ROA<0  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                         ...
ARG       19901                 NaN           NaN        NaN  ...  0  0  0
AUS       19901                 NaN           NaN        NaN  ...  0  0  0
AUT       19901                 NaN           NaN        NaN  ...  0  0  0
BEL       19901                 NaN           NaN        NaN  ...  0  0  0
BRA       19901                 NaN           NaN        NaN  ...  0  0  0
...                             ...           ...        ...  ... .. .. ..
SWE       20144           -0.390022           NaN   0.195308  ...  0  0  1
THA       20144           -1.344931           NaN   0.514388  ...  0  0  1
USANASDAQ 20144            0.825653           NaN  -0.651659  ...  0  0  1
USANYSE   20144            1.885841           NaN  -0.432412  ...  0  0  1
ZAF       20144           -1.586646           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna()['Issues ROA<0'],
                 panel3.dropna().drop(columns = ['Issues ROA<0']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           Issues ROA<0   R-squared:                        0.0544
Estimator:                   PanelOLS   R-squared (Between):             -0.1952
No. Observations:                3096   R-squared (Within):               0.0544
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.0544
Time:                        12:14:10   Log-likelihood                   -4464.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      9.8352
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.400   Distribution:                 F(18,3077)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             9.6049
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3077)
Avg Obs:                       31.273
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0465     0.0188    -2.4756     0.0134     -0.0834     -0.0097
Liquidity             0.0208     0.0274     0.7611     0.4467     -0.0328      0.0745
Liquidity_1           0.0642     0.0313     2.0534     0.0401      0.0029      0.1256
Liquidity_2           0.0659     0.0311     2.1224     0.0339      0.0050      0.1268
Liquidity_3           0.0887     0.0265     3.3477     0.0008      0.0367      0.1406
Liquidity_4           0.0583     0.0178     3.2795     0.0011      0.0235      0.0932
Market_returns_1p     0.0623     0.0211     2.9512     0.0032      0.0209      0.1037
Market_returns        0.0249     0.0209     1.1945     0.2324     -0.0160      0.0658
Market_returns_1      0.0228     0.0213     1.0713     0.2841     -0.0189      0.0645
Market_returns_2     -0.0636     0.0214    -2.9735     0.0030     -0.1055     -0.0217
Market_returns_3     -0.0037     0.0214    -0.1729     0.8628     -0.0456      0.0382
Market_returns_4     -0.0418     0.0212    -1.9676     0.0492     -0.0834     -0.0001
Issues_1             -0.1499     0.0165    -9.0953     0.0000     -0.1822     -0.1176
Issues_2             -0.1432     0.0210    -6.8064     0.0000     -0.1845     -0.1020
Issues_3             -0.1077     0.0165    -6.5283     0.0000     -0.1401     -0.0754
1                     0.0469     0.0390     1.2043     0.2286     -0.0295      0.1233
2                    -0.0163     0.0391    -0.4184     0.6757     -0.0929      0.0603
3                    -0.0332     0.0389    -0.8554     0.3924     -0.1094      0.0430
4                     0.0053     0.0394     0.1343     0.8932     -0.0719      0.0825
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0)['Issues ROA<0'],
                 panel3.fillna(0).drop(columns = ['Issues ROA<0']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:           Issues ROA<0   R-squared:                        0.0465
Estimator:                   PanelOLS   R-squared (Between):          -5.155e+28
No. Observations:                4000   R-squared (Within):               0.0466
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.0465
Time:                        12:14:10   Log-likelihood                   -5332.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      10.796
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             10.528
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0447     0.0151    -2.9640     0.0031     -0.0743     -0.0151
Liquidity             0.0172     0.0212     0.8098     0.4181     -0.0244      0.0587
Liquidity_1           0.0499     0.0242     2.0672     0.0388      0.0026      0.0973
Liquidity_2           0.0476     0.0243     1.9613     0.0499   1.777e-05      0.0952
Liquidity_3           0.0708     0.0211     3.3501     0.0008      0.0294      0.1122
Liquidity_4           0.0480     0.0148     3.2488     0.0012      0.0190      0.0770
Market_returns_1p     0.0470     0.0161     2.9198     0.0035      0.0154      0.0785
Market_returns        0.0210     0.0160     1.3104     0.1902     -0.0104      0.0524
Market_returns_1      0.0197     0.0164     1.2010     0.2298     -0.0125      0.0518
Market_returns_2     -0.0482     0.0165    -2.9193     0.0035     -0.0806     -0.0158
Market_returns_3     -0.0044     0.0166    -0.2646     0.7914     -0.0369      0.0281
Market_returns_4     -0.0369     0.0166    -2.2152     0.0268     -0.0695     -0.0042
Issues_1             -0.1363     0.0140    -9.7201     0.0000     -0.1638     -0.1088
Issues_2             -0.1299     0.0179    -7.2432     0.0000     -0.1650     -0.0947
Issues_3             -0.0963     0.0141    -6.8361     0.0000     -0.1240     -0.0687
1                     0.0275     0.0302     0.9116     0.3620     -0.0317      0.0867
2                    -0.0040     0.0305    -0.1308     0.8960     -0.0638      0.0559
3                    -0.0209     0.0305    -0.6837     0.4942     -0.0807      0.0390
4                 -6.259e-05     0.0305    -0.0021     0.9984     -0.0598      0.0597
=====================================================================================

## Lower tab, model 1, Full sample

In [ ]:
panel3 = panel_data[['Issues', 'Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3

                         Issues  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        1.498864           NaN   0.195308  ...  0  0  1
THA       20144        1.521491           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        1.481866           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.079183           NaN  -0.432412  ...  0  0  1
ZAF       20144        2.606112           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna().Issues,
                 panel3.dropna().drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6421
Estimator:                   PanelOLS   R-squared (Between):              0.3458
No. Observations:                3087   R-squared (Within):               0.6421
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6421
Time:                        12:14:11   Log-likelihood                   -4438.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      305.74
Entities:                          40   P-value                           0.0000
Avg Obs:                       77.175   Distribution:                 F(18,3068)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             304.54
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3068)
Avg Obs:                       31.182
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0237     0.0188    -1.2595     0.2080     -0.0606      0.0132
Liquidity             0.0817     0.0273     2.9953     0.0028      0.0282      0.1352
Liquidity_1           0.1301     0.0312     4.1715     0.0000      0.0689      0.1912
Liquidity_2           0.1253     0.0310     4.0471     0.0001      0.0646      0.1861
Liquidity_3           0.1165     0.0264     4.4075     0.0000      0.0647      0.1683
Liquidity_4           0.0335     0.0178     1.8872     0.0592     -0.0013      0.0684
Market_returns_1p     0.0019     0.0210     0.0902     0.9282     -0.0393      0.0431
Market_returns        0.0696     0.0208     3.3492     0.0008      0.0289      0.1104
Market_returns_1      0.0936     0.0212     4.4118     0.0000      0.0520      0.1352
Market_returns_2     -0.0881     0.0213    -4.1345     0.0000     -0.1299     -0.0463
Market_returns_3     -0.0323     0.0213    -1.5158     0.1297     -0.0741      0.0095
Market_returns_4     -0.0616     0.0211    -2.9135     0.0036     -0.1031     -0.0201
Issues_1             -1.0721     0.0164    -65.196     0.0000     -1.1044     -1.0399
Issues_2             -0.8022     0.0210    -38.206     0.0000     -0.8433     -0.7610
Issues_3             -0.4245     0.0165    -25.770     0.0000     -0.4568     -0.3922
1                    -0.2372     0.0389    -6.0955     0.0000     -0.3136     -0.1609
2                     0.1422     0.0389     3.6521     0.0003      0.0658      0.2185
3                    -0.1159     0.0387    -2.9920     0.0028     -0.1919     -0.0400
4                     0.2046     0.0393     5.2025     0.0000      0.1275      0.2817
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0).Issues,
                 panel3.fillna(0).drop(columns = ['Issues']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6273
Estimator:                   PanelOLS   R-squared (Between):             -4.6129
No. Observations:                4000   R-squared (Within):               0.6276
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6273
Time:                        12:14:11   Log-likelihood                   -5451.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      372.31
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             372.22
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0234     0.0155    -1.5058     0.1322     -0.0539      0.0071
Liquidity             0.0700     0.0218     3.2079     0.0013      0.0272      0.1128
Liquidity_1           0.1164     0.0249     4.6777     0.0000      0.0676      0.1652
Liquidity_2           0.1181     0.0250     4.7216     0.0000      0.0690      0.1671
Liquidity_3           0.1157     0.0218     5.3170     0.0000      0.0731      0.1584
Liquidity_4           0.0281     0.0152     1.8446     0.0652     -0.0018      0.0579
Market_returns_1p    -0.0047     0.0166    -0.2845     0.7760     -0.0372      0.0278
Market_returns        0.0538     0.0165     3.2620     0.0011      0.0215      0.0862
Market_returns_1      0.0792     0.0169     4.6871     0.0000      0.0461      0.1123
Market_returns_2     -0.0707     0.0170    -4.1556     0.0000     -0.1040     -0.0373
Market_returns_3     -0.0358     0.0171    -2.0949     0.0362     -0.0693     -0.0023
Market_returns_4     -0.0370     0.0171    -2.1589     0.0309     -0.0706     -0.0034
Issues_1             -1.0627     0.0144    -73.552     0.0000     -1.0911     -1.0344
Issues_2             -0.7907     0.0185    -42.799     0.0000     -0.8269     -0.7545
Issues_3             -0.4249     0.0145    -29.264     0.0000     -0.4533     -0.3964
1                    -0.1601     0.0311    -5.1445     0.0000     -0.2211     -0.0991
2                     0.1248     0.0315     3.9672     0.0001      0.0631      0.1865
3                    -0.0996     0.0314    -3.1659     0.0016     -0.1612     -0.0379
4                     0.1719     0.0314     5.4758     0.0000      0.1104      0.2335
=====================================================================================

## Lower tab, model 2, $SEO$s

In [ ]:
# Defining SEOs, and its lags
SEOs = pd.read_excel(path, sheet_name='SEOs', skiprows=5)
SEOs = SEOs.set_index(['YearQuarter'])
SEOs  = pd.DataFrame(SEOs.stack(dropna = False ), columns=['SEOs'])
SEOs.index = SEOs.index.set_names(['YearQuarter', 'Country'])
#SEOs = pd.DataFrame(index = SEOs.index, columns= list_of_variables)
SEOs = SEOs.reset_index().set_index(['Country', 'YearQuarter'])
SEOs

                           SEOs
Country   YearQuarter
ARG       19901             NaN
AUS       19901             NaN
AUT       19901             NaN
BEL       19901             NaN
BRA       19901             NaN
...                         ...
SWE       20144        0.210321
THA       20144        0.461566
USANASDAQ 20144        0.516548
USANYSE   20144       -0.885527
ZAF       20144       -0.618466

[4000 rows x 1 columns]

In [ ]:
panel3 = panel_data[['Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([SEOs, panel3], axis = 1)

panel3

                           SEOs  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144        0.210321           NaN   0.195308  ...  0  0  1
THA       20144        0.461566           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        0.516548           NaN  -0.651659  ...  0  0  1
USANYSE   20144       -0.885527           NaN  -0.432412  ...  0  0  1
ZAF       20144       -0.618466           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna()['SEOs'],
                 panel3.dropna().drop(columns = ['SEOs']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   SEOs   R-squared:                        0.1258
Estimator:                   PanelOLS   R-squared (Between):             -0.1335
No. Observations:                3031   R-squared (Within):               0.1258
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1258
Time:                        12:14:12   Log-likelihood                   -4135.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      24.076
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.775   Distribution:                 F(18,3012)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             23.949
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,3012)
Avg Obs:                       30.616
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0396     0.0178    -2.2313     0.0257     -0.0744     -0.0048
Liquidity             0.0513     0.0257     1.9944     0.0462      0.0009      0.1018
Liquidity_1           0.0972     0.0294     3.3018     0.0010      0.0395      0.1549
Liquidity_2           0.0854     0.0294     2.9105     0.0036      0.0279      0.1430
Liquidity_3           0.0970     0.0251     3.8712     0.0001      0.0479      0.1461
Liquidity_4           0.0360     0.0169     2.1262     0.0336      0.0028      0.0692
Market_returns_1p    -0.0016     0.0197    -0.0796     0.9366     -0.0402      0.0371
Market_returns        0.0798     0.0196     4.0793     0.0000      0.0414      0.1182
Market_returns_1      0.0619     0.0200     3.0984     0.0020      0.0227      0.1011
Market_returns_2     -0.0353     0.0201    -1.7561     0.0792     -0.0747      0.0041
Market_returns_3     -0.0172     0.0201    -0.8547     0.3928     -0.0566      0.0222
Market_returns_4     -0.0397     0.0200    -1.9885     0.0468     -0.0788     -0.0006
Issues_1             -0.2117     0.0153    -13.821     0.0000     -0.2418     -0.1817
Issues_2             -0.2544     0.0196    -13.006     0.0000     -0.2927     -0.2160
Issues_3             -0.1722     0.0154    -11.216     0.0000     -0.2023     -0.1421
1                    -0.1119     0.0365    -3.0674     0.0022     -0.1835     -0.0404
2                     0.0629     0.0366     1.7175     0.0860     -0.0089      0.1347
3                    -0.0633     0.0364    -1.7400     0.0820     -0.1346      0.0080
4                     0.1263     0.0369     3.4263     0.0006      0.0540      0.1986
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0)['SEOs'],
                 panel3.fillna(0).drop(columns = ['SEOs']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   SEOs   R-squared:                        0.1179
Estimator:                   PanelOLS   R-squared (Between):          -1.444e+29
No. Observations:                4000   R-squared (Within):               0.1180
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1179
Time:                        12:14:12   Log-likelihood                   -5034.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      29.570
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             29.548
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0370     0.0140    -2.6418     0.0083     -0.0644     -0.0095
Liquidity             0.0418     0.0197     2.1245     0.0337      0.0032      0.0803
Liquidity_1           0.0851     0.0224     3.7941     0.0002      0.0411      0.1290
Liquidity_2           0.0752     0.0225     3.3382     0.0009      0.0310      0.1194
Liquidity_3           0.0874     0.0196     4.4590     0.0000      0.0490      0.1259
Liquidity_4           0.0320     0.0137     2.3339     0.0196      0.0051      0.0589
Market_returns_1p    -0.0009     0.0149    -0.0626     0.9501     -0.0302      0.0283
Market_returns        0.0601     0.0149     4.0401     0.0001      0.0309      0.0892
Market_returns_1      0.0524     0.0152     3.4450     0.0006      0.0226      0.0823
Market_returns_2     -0.0337     0.0153    -2.1986     0.0280     -0.0637     -0.0036
Market_returns_3     -0.0199     0.0154    -1.2915     0.1966     -0.0501      0.0103
Market_returns_4     -0.0247     0.0154    -1.6001     0.1097     -0.0550      0.0056
Issues_1             -0.2073     0.0130    -15.924     0.0000     -0.2328     -0.1818
Issues_2             -0.2417     0.0166    -14.518     0.0000     -0.2743     -0.2090
Issues_3             -0.1637     0.0131    -12.515     0.0000     -0.1894     -0.1381
1                    -0.0983     0.0280    -3.5081     0.0005     -0.1533     -0.0434
2                     0.0652     0.0283     2.2998     0.0215      0.0096      0.1207
3                    -0.0631     0.0283    -2.2262     0.0261     -0.1186     -0.0075
4                     0.1009     0.0283     3.5665     0.0004      0.0454      0.1564
=====================================================================================

## Lower tab, model 4, $IPO$s

In [ ]:
# Defining IPOs, and its lags
IPOs = pd.read_excel(path, sheet_name='IPOs', skiprows=5)
IPOs = IPOs.set_index(['YearQuarter'])
IPOs  = pd.DataFrame(IPOs.stack(dropna = False ), columns=['IPOs'])
IPOs.index = IPOs.index.set_names(['YearQuarter', 'Country'])
#IPOs = pd.DataFrame(index = IPOs.index, columns= list_of_variables)
IPOs = IPOs.reset_index().set_index(['Country', 'YearQuarter'])
IPOs

                           IPOs
Country   YearQuarter
ARG       19901             NaN
AUS       19901             NaN
AUT       19901             NaN
BEL       19901             NaN
BRA       19901             NaN
...                         ...
SWE       20144             NaN
THA       20144             NaN
USANASDAQ 20144        0.183248
USANYSE   20144        0.544958
ZAF       20144             NaN

[4000 rows x 1 columns]

In [ ]:
panel3 = panel_data[['Liquidity_1p', 'Liquidity', 'Liquidity_1', 'Liquidity_2',
            'Liquidity_3', 'Liquidity_4', 'Market_returns_1p',
             'Market_returns',	'Market_returns_1',	'Market_returns_2',
            	'Market_returns_3',	'Market_returns_4',	'Issues_1',	'Issues_2',	'Issues_3', 1, 2, 3, 4]]

panel3 = pd.concat([IPOs, panel3], axis = 1)

panel3

                           IPOs  Liquidity_1p  Liquidity  ...  2  3  4
Country   YearQuarter                                     ...
ARG       19901             NaN           NaN        NaN  ...  0  0  0
AUS       19901             NaN           NaN        NaN  ...  0  0  0
AUT       19901             NaN           NaN        NaN  ...  0  0  0
BEL       19901             NaN           NaN        NaN  ...  0  0  0
BRA       19901             NaN           NaN        NaN  ...  0  0  0
...                         ...           ...        ...  ... .. .. ..
SWE       20144             NaN           NaN   0.195308  ...  0  0  1
THA       20144             NaN           NaN   0.514388  ...  0  0  1
USANASDAQ 20144        0.183248           NaN  -0.651659  ...  0  0  1
USANYSE   20144        0.544958           NaN  -0.432412  ...  0  0  1
ZAF       20144             NaN           NaN  -2.069796  ...  0  0  1

[4000 rows x 20 columns]

In [ ]:
model = PanelOLS(panel3.dropna()['IPOs'],
                 panel3.dropna().drop(columns = ['IPOs']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   IPOs   R-squared:                        0.1635
Estimator:                   PanelOLS   R-squared (Between):              0.1222
No. Observations:                2835   R-squared (Within):               0.1636
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1635
Time:                        12:14:13   Log-likelihood                   -3733.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      30.580
Entities:                          40   P-value                           0.0000
Avg Obs:                       70.875   Distribution:                 F(18,2816)
Min Obs:                       0.0000
Max Obs:                       92.000   F-statistic (robust):             30.358
                                        P-value                           0.0000
Time periods:                      99   Distribution:                 F(18,2816)
Avg Obs:                       28.636
Min Obs:                       0.0000
Max Obs:                       37.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0206     0.0174    -1.1827     0.2370     -0.0547      0.0135
Liquidity            -0.0004     0.0252    -0.0153     0.9878     -0.0498      0.0490
Liquidity_1           0.0238     0.0289     0.8209     0.4118     -0.0330      0.0805
Liquidity_2           0.0423     0.0288     1.4701     0.1417     -0.0141      0.0987
Liquidity_3           0.0365     0.0245     1.4898     0.1364     -0.0115      0.0845
Liquidity_4           0.0080     0.0164     0.4887     0.6251     -0.0242      0.0403
Market_returns_1p     0.0039     0.0193     0.1994     0.8419     -0.0341      0.0418
Market_returns        0.0401     0.0191     2.0999     0.0358      0.0027      0.0775
Market_returns_1      0.1384     0.0195     7.0883     0.0000      0.1001      0.1767
Market_returns_2     -0.0381     0.0196    -1.9382     0.0527     -0.0766      0.0004
Market_returns_3      0.0353     0.0197     1.7931     0.0731     -0.0033      0.0739
Market_returns_4     -0.0208     0.0196    -1.0588     0.2898     -0.0593      0.0177
Issues_1             -0.2106     0.0153    -13.743     0.0000     -0.2406     -0.1805
Issues_2             -0.1623     0.0197    -8.2507     0.0000     -0.2009     -0.1237
Issues_3             -0.1094     0.0154    -7.0893     0.0000     -0.1397     -0.0792
1                    -0.2892     0.0360    -8.0357     0.0000     -0.3598     -0.2187
2                     0.1919     0.0360     5.3225     0.0000      0.1212      0.2626
3                    -0.1507     0.0360    -4.1918     0.0000     -0.2212     -0.0802
4                     0.2260     0.0363     6.2308     0.0000      0.1548      0.2971
=====================================================================================

In [ ]:
model = PanelOLS(panel3.fillna(0)['IPOs'],
                 panel3.fillna(0).drop(columns = ['IPOs']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   IPOs   R-squared:                        0.1261
Estimator:                   PanelOLS   R-squared (Between):          -8.266e+28
No. Observations:                4000   R-squared (Within):               0.1261
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.1261
Time:                        12:14:13   Log-likelihood                   -4853.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      31.911
Entities:                          40   P-value                           0.0000
Avg Obs:                      100.000   Distribution:                 F(18,3981)
Min Obs:                      100.000
Max Obs:                      100.000   F-statistic (robust):             31.843
                                        P-value                           0.0000
Time periods:                     100   Distribution:                 F(18,3981)
Avg Obs:                       40.000
Min Obs:                       40.000
Max Obs:                       40.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0192     0.0134    -1.4331     0.1519     -0.0454      0.0071
Liquidity            -0.0042     0.0188    -0.2238     0.8229     -0.0411      0.0326
Liquidity_1           0.0199     0.0214     0.9273     0.3538     -0.0221      0.0619
Liquidity_2           0.0364     0.0215     1.6908     0.0909     -0.0058      0.0786
Liquidity_3           0.0419     0.0187     2.2369     0.0253      0.0052      0.0787
Liquidity_4           0.0050     0.0131     0.3837     0.7012     -0.0207      0.0307
Market_returns_1p    -0.0046     0.0143    -0.3188     0.7499     -0.0325      0.0234
Market_returns        0.0388     0.0142     2.7286     0.0064      0.0109      0.0666
Market_returns_1      0.0978     0.0145     6.7216     0.0000      0.0693      0.1263
Market_returns_2     -0.0222     0.0146    -1.5184     0.1290     -0.0510      0.0065
Market_returns_3      0.0118     0.0147     0.8025     0.4223     -0.0170      0.0407
Market_returns_4   6.869e-05     0.0148     0.0047     0.9963     -0.0289      0.0290
Issues_1             -0.1928     0.0124    -15.498     0.0000     -0.2172     -0.1684
Issues_2             -0.1550     0.0159    -9.7462     0.0000     -0.1862     -0.1239
Issues_3             -0.1116     0.0125    -8.9282     0.0000     -0.1361     -0.0871
1                    -0.1748     0.0268    -6.5254     0.0000     -0.2274     -0.1223
2                     0.1261     0.0271     4.6571     0.0000      0.0730      0.1792
3                    -0.1023     0.0271    -3.7775     0.0002     -0.1554     -0.0492
4                     0.1527     0.0270     5.6489     0.0000      0.0997      0.2057
=====================================================================================

# Extension

In [ ]:
Issues.columns

Index(['ARG', 'AUS', 'AUT', 'BEL', 'BRA', 'CAN', 'CHE', 'CHL', 'CHN', 'COL',
       'DEU', 'DNK', 'EGY', 'ESP', 'FIN', 'FRA', 'GBR', 'GRC', 'HKG', 'IDN',
       'IND', 'ISR', 'ITA', 'JPN', 'KOR', 'MEX', 'MYS', 'NLD', 'NOR', 'NZL',
       'PHL', 'POL', 'PRT', 'RUS', 'SGP', 'SWE', 'THA', 'USANASDAQ', 'USANYSE',
       'ZAF'],
      dtype='object')

### table 2 model 1 for different countries

In [ ]:
Asian_countries = ['CHN', 'HKG', 'IDN', 'IND', 
                   'ISR', 'JPN', 'KOR', 'KOR', 'MYS', 'RUS', 'SGP', 'THA', 'PHL']

Europian_countries = ['AUT', 'BEL', 'CHE', 'DNK', 'ESP','FIN', 'FRA', 'GBR',
                      'GRC', 'ITA', 'DEU', 'NLD', 'NOR', 'POL', 'PRT', 'SWE']

north_american_countries = ['CAN', 'USANASDAQ', 'USANYSE']
south_american_countries = ['ARG', 'BRA', 'COL', 'MEX', 'CHL', ]
Australia_Newzland = ['AUS', 'NZL',]
African_countries = ['EGY', 'ZAF']

list_name = ['Asian_countries', 'Europian_countries', 'north_american_countries', 
               'south_american_countries', 'Australia_Newzland', 'African_countries']

In [ ]:
jj = 0
for region in [Asian_countries, Europian_countries, north_american_countries, 
               south_american_countries, Australia_Newzland, African_countries]:


  print('=================================================')
  print('result for ', list_name[jj])
  jj += 1
  print('=================================================')

  path = '/content/drive/MyDrive/PhD/ECF/Hanselaar_Stulz_vanDijk_data/Hanselaar_Stulz_vanDijk_data.xlsx'
  Issues = pd.read_excel(path, sheet_name='Issues', skiprows=5)
  Issues = Issues.set_index(['YearQuarter']) 
  Issues = Issues[region]

  Issues = Issues.diff()
  Issues_1 = Issues.shift()
  Issues_2 = Issues.shift(2)
  Issues_3 = Issues.shift(3)
  #Issues['Quarter'] = Issues.YearQuarter % 10 

  Liquidity = pd.read_excel(path, sheet_name='Liquidity', skiprows=5)
  Liquidity = Liquidity.set_index(['YearQuarter'])  
  Liquidity = Liquidity[region]

  Liquidity = Liquidity.diff()
  Liquidity_2p = Liquidity.shift(-2)
  Liquidity_1p = Liquidity.shift(-1)
  Liquidity_1 = Liquidity.shift(1)
  Liquidity_2 = Liquidity.shift(2)
  Liquidity_3 = Liquidity.shift(3)
  Liquidity_4 = Liquidity.shift(4)
  Liquidity_5 = Liquidity.shift(5)
  Liquidity_6 = Liquidity.shift(6)

 
  Market_returns = pd.read_excel(path, sheet_name='Market returns', skiprows=5)
  Market_returns = Market_returns.set_index(['YearQuarter'])  
  Market_returns = Market_returns[region]

  Market_returns_1p = Market_returns.shift(-1)
  Market_returns_1 = Market_returns.shift(1)
  Market_returns_2 = Market_returns.shift(2)
  Market_returns_3 = Market_returns.shift(3)
  Market_returns_4 = Market_returns.shift(4)





  names_of_variables = [Issues, 
                        Liquidity_2p, Liquidity_1p, Liquidity,
                        Liquidity_1, Liquidity_2, Liquidity_3, Liquidity_4,
                        Liquidity_5, Liquidity_6,
                        Market_returns_1p, Market_returns, Market_returns_1,
                        Market_returns_2, Market_returns_3, Market_returns_4,
                        Issues_1, Issues_2, Issues_3]

  list_of_variables = ['Issues', 
                        'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                        'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4',
                        'Liquidity_5', 'Liquidity_6',
                        'Market_returns_1p', 'Market_returns', 'Market_returns_1',
                        'Market_returns_2', 'Market_returns_3', 'Market_returns_4',
                        'Issues_1', 'Issues_2', 'Issues_3']

  i = 0
  for data in names_of_variables:
    data  = pd.DataFrame(data.stack(dropna = False ), columns=[list_of_variables[i]])
    data.index = data.index.set_names(['YearQuarter', 'Country'])
    if i == 0: new_name_of_variables = pd.DataFrame(index = data.index, columns= list_of_variables)
    new_name_of_variables[list_of_variables[i]] = data
    i += 1


  panel_data = pd.concat([new_name_of_variables,
                          pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(0) % 10, 
                                                  index = new_name_of_variables.index)['YearQuarter'])], axis = 1)

  panel_data = panel_data.reset_index().set_index(['Country', 'YearQuarter'])


  model = PanelOLS(panel_data.dropna().Issues,
                  panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                    'Liquidity_5', 'Liquidity_6', 'Issues_2', 'Issues_3']))
  res = model.fit()

  print(res.summary)

=================================================
result for  Asian_countries
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.3722
Estimator:                   PanelOLS   R-squared (Between):             -1.5804
No. Observations:                 984   R-squared (Within):               0.3724
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.3722
Time:                        12:14:15   Log-likelihood                   -1628.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      35.835
Entities:                          12   P-value                           0.0000
Avg Obs:                       82.000   Distribution:                  F(16,967)
Min Obs:                       0.0000
Max Obs:                       178.00   F-statistic (robust):             35.814
                                        P-value                           0.0000
Time periods:                      98   Distribution:                  F(16,967)
Avg Obs:                       10.041
Min Obs:                       0.0000
Max Obs:                       12.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0549     0.0450    -1.2217     0.2221     -0.1432      0.0333
Liquidity             0.0527     0.0665     0.7923     0.4284     -0.0778      0.1832
Liquidity_1           0.1667     0.0758     2.1975     0.0282      0.0178      0.3155
Liquidity_2           0.0554     0.0763     0.7261     0.4679     -0.0944      0.2052
Liquidity_3           0.0177     0.0652     0.2715     0.7860     -0.1102      0.1456
Liquidity_4          -0.0330     0.0422    -0.7820     0.4344     -0.1159      0.0499
Market_returns_1p    -0.0182     0.0473    -0.3848     0.7005     -0.1109      0.0745
Market_returns        0.0721     0.0469     1.5366     0.1247     -0.0200      0.1641
Market_returns_1      0.0386     0.0477     0.8096     0.4183     -0.0550      0.1323
Market_returns_2     -0.1179     0.0477    -2.4727     0.0136     -0.2114     -0.0243
Market_returns_3      0.0210     0.0482     0.4349     0.6637     -0.0737      0.1156
Market_returns_4      0.0003     0.0480     0.0065     0.9948     -0.0940      0.0946
Issues_1             -0.5696     0.0264    -21.572     0.0000     -0.6215     -0.5178
1                    -0.3994     0.0844    -4.7341     0.0000     -0.5649     -0.2338
2                    -0.0294     0.0843    -0.3493     0.7269     -0.1948      0.1359
3                     0.2197     0.0853     2.5757     0.0102      0.0523      0.3871
4                     0.2102     0.0851     2.4703     0.0137      0.0432      0.3772
=====================================================================================


=================================================
result for  Europian_countries
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.5527
Estimator:                   PanelOLS   R-squared (Between):              0.4309
No. Observations:                1265   R-squared (Within):               0.5527
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.5527
Time:                        12:14:18   Log-likelihood                   -2013.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      96.361
Entities:                          16   P-value                           0.0000
Avg Obs:                       79.062   Distribution:                 F(16,1248)
Min Obs:                       49.000
Max Obs:                       89.000   F-statistic (robust):             95.271
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(16,1248)
Avg Obs:                       12.908
Min Obs:                       0.0000
Max Obs:                       16.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p          0.0114     0.0347     0.3291     0.7422     -0.0567      0.0796
Liquidity             0.0986     0.0502     1.9652     0.0496      0.0002      0.1971
Liquidity_1           0.1092     0.0570     1.9175     0.0554     -0.0025      0.2209
Liquidity_2           0.0631     0.0564     1.1190     0.2633     -0.0475      0.1737
Liquidity_3           0.0694     0.0477     1.4551     0.1459     -0.0242      0.1629
Liquidity_4           0.0075     0.0322     0.2332     0.8157     -0.0556      0.0706
Market_returns_1p    -0.0721     0.0395    -1.8243     0.0683     -0.1496      0.0054
Market_returns        0.0698     0.0391     1.7834     0.0748     -0.0070      0.1465
Market_returns_1      0.1002     0.0403     2.4851     0.0131      0.0211      0.1794
Market_returns_2     -0.1117     0.0402    -2.7787     0.0055     -0.1905     -0.0328
Market_returns_3     -0.0427     0.0399    -1.0693     0.2851     -0.1209      0.0356
Market_returns_4      0.0216     0.0400     0.5389     0.5901     -0.0569      0.1001
Issues_1             -0.6780     0.0210    -32.327     0.0000     -0.7191     -0.6368
1                    -0.1182     0.0708    -1.6691     0.0954     -0.2572      0.0207
2                     0.3033     0.0709     4.2770     0.0000      0.1642      0.4425
3                    -0.3405     0.0726    -4.6930     0.0000     -0.4828     -0.1981
4                     0.1419     0.0723     1.9637     0.0498      0.0001      0.2836
=====================================================================================


=================================================
result for  north_american_countries
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.7557
Estimator:                   PanelOLS   R-squared (Between):              0.9859
No. Observations:                 267   R-squared (Within):               0.7557
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.7557
Time:                        12:14:20   Log-likelihood                   -329.89
Cov. Estimator:            Unadjusted
                                        F-statistic:                      48.328
Entities:                           3   P-value                           0.0000
Avg Obs:                       89.000   Distribution:                  F(16,250)
Min Obs:                       89.000
Max Obs:                       89.000   F-statistic (robust):             43.196
                                        P-value                           0.0000
Time periods:                      98   Distribution:                  F(16,250)
Avg Obs:                       2.7245
Min Obs:                       0.0000
Max Obs:                       3.0000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.1023     0.0651    -1.5726     0.1171     -0.2305      0.0258
Liquidity             0.3808     0.0893     4.2661     0.0000      0.2050      0.5566
Liquidity_1           0.3299     0.1038     3.1785     0.0017      0.1255      0.5344
Liquidity_2          -0.0786     0.1010    -0.7781     0.4372     -0.2774      0.1203
Liquidity_3          -0.0886     0.0836    -1.0589     0.2907     -0.2533      0.0762
Liquidity_4           0.0453     0.0552     0.8215     0.4121     -0.0633      0.1539
Market_returns_1p     0.0662     0.0597     1.1080     0.2689     -0.0515      0.1838
Market_returns        0.0967     0.0590     1.6384     0.1026     -0.0196      0.2130
Market_returns_1      0.0069     0.0628     0.1107     0.9119     -0.1167      0.1306
Market_returns_2     -0.1640     0.0626    -2.6201     0.0093     -0.2872     -0.0407
Market_returns_3     -0.0139     0.0628    -0.2220     0.8245     -0.1376      0.1097
Market_returns_4     -0.1004     0.0629    -1.5965     0.1116     -0.2243      0.0235
Issues_1             -0.6558     0.0479    -13.677     0.0000     -0.7502     -0.5613
1                    -0.6283     0.1261    -4.9817     0.0000     -0.8768     -0.3799
2                     0.1622     0.1308     1.2397     0.2163     -0.0955      0.4199
3                    -0.0881     0.1269    -0.6939     0.4884     -0.3380      0.1619
4                     0.5345     0.1259     4.2453     0.0000      0.2866      0.7825
=====================================================================================


=================================================
result for  south_american_countries
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4306
Estimator:                   PanelOLS   R-squared (Between):             -0.6298
No. Observations:                 282   R-squared (Within):               0.4308
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4306
Time:                        12:14:22   Log-likelihood                   -481.65
Cov. Estimator:            Unadjusted
                                        F-statistic:                      12.524
Entities:                           5   P-value                           0.0000
Avg Obs:                       56.400   Distribution:                  F(16,265)
Min Obs:                       0.0000
Max Obs:                       88.000   F-statistic (robust):             11.937
                                        P-value                           0.0000
Time periods:                      98   Distribution:                  F(16,265)
Avg Obs:                       2.8776
Min Obs:                       0.0000
Max Obs:                       4.0000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0084     0.0747    -0.1123     0.9107     -0.1555      0.1387
Liquidity             0.0457     0.1122     0.4076     0.6839     -0.1752      0.2666
Liquidity_1          -0.0322     0.1303    -0.2470     0.8051     -0.2888      0.2244
Liquidity_2          -0.0805     0.1313    -0.6126     0.5406     -0.3391      0.1781
Liquidity_3          -0.1139     0.1134    -1.0043     0.3162     -0.3371      0.1094
Liquidity_4          -0.0616     0.0756    -0.8145     0.4161     -0.2104      0.0873
Market_returns_1p    -0.1798     0.1008    -1.7828     0.0758     -0.3783      0.0188
Market_returns        0.0345     0.0986     0.3496     0.7270     -0.1597      0.2286
Market_returns_1      0.2289     0.0975     2.3478     0.0196      0.0369      0.4208
Market_returns_2     -0.2669     0.0963    -2.7724     0.0060     -0.4564     -0.0773
Market_returns_3     -0.0598     0.0955    -0.6262     0.5317     -0.2478      0.1282
Market_returns_4      0.0559     0.0903     0.6191     0.5364     -0.1219      0.2337
Issues_1             -0.5876     0.0501    -11.740     0.0000     -0.6862     -0.4891
1                    -0.5119     0.1702    -3.0068     0.0029     -0.8471     -0.1767
2                     0.4023     0.1726     2.3302     0.0205      0.0624      0.7423
3                     0.0621     0.1724     0.3602     0.7190     -0.2774      0.4017
4                    -0.0147     0.1694    -0.0869     0.9308     -0.3482      0.3188
=====================================================================================


=================================================
result for  Australia_Newzland
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6530
Estimator:                   PanelOLS   R-squared (Between):              0.9924
No. Observations:                 175   R-squared (Within):               0.6530
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6530
Time:                        12:14:24   Log-likelihood                   -247.04
Cov. Estimator:            Unadjusted
                                        F-statistic:                      18.581
Entities:                           2   P-value                           0.0000
Avg Obs:                       87.500   Distribution:                  F(16,158)
Min Obs:                       87.000
Max Obs:                       88.000   F-statistic (robust):             18.239
                                        P-value                           0.0000
Time periods:                      98   Distribution:                  F(16,158)
Avg Obs:                       1.7857
Min Obs:                       0.0000
Max Obs:                       2.0000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0214     0.0864    -0.2482     0.8043     -0.1920      0.1492
Liquidity             0.0678     0.1296     0.5229     0.6018     -0.1882      0.3237
Liquidity_1           0.0035     0.1510     0.0231     0.9816     -0.2948      0.3018
Liquidity_2          -0.0960     0.1503    -0.6383     0.5242     -0.3929      0.2010
Liquidity_3          -0.0305     0.1237    -0.2467     0.8055     -0.2747      0.2137
Liquidity_4           0.0366     0.0804     0.4559     0.6491     -0.1221      0.1954
Market_returns_1p     0.1536     0.0871     1.7628     0.0799     -0.0185      0.3256
Market_returns        0.1130     0.0863     1.3090     0.1925     -0.0575      0.2835
Market_returns_1      0.0519     0.0912     0.5696     0.5698     -0.1282      0.2321
Market_returns_2     -0.4491     0.0949    -4.7327     0.0000     -0.6365     -0.2617
Market_returns_3      0.0425     0.0995     0.4272     0.6698     -0.1540      0.2390
Market_returns_4      0.1040     0.0976     1.0660     0.2881     -0.0887      0.2967
Issues_1             -0.6384     0.0619    -10.318     0.0000     -0.7606     -0.5162
1                    -0.8974     0.1686    -5.3219     0.0000     -1.2305     -0.5644
2                     0.5994     0.1788     3.3520     0.0010      0.2462      0.9526
3                     0.2700     0.1890     1.4287     0.1551     -0.1032      0.6432
4                     0.0115     0.1735     0.0663     0.9472     -0.3311      0.3541
=====================================================================================


=================================================
result for  African_countries
=================================================
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4743
Estimator:                   PanelOLS   R-squared (Between):              0.9220
No. Observations:                 144   R-squared (Within):               0.4743
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4743
Time:                        12:14:26   Log-likelihood                   -240.45
Cov. Estimator:            Unadjusted
                                        F-statistic:                      7.1610
Entities:                           2   P-value                           0.0000
Avg Obs:                       72.000   Distribution:                  F(16,127)
Min Obs:                       60.000
Max Obs:                       84.000   F-statistic (robust):             7.0279
                                        P-value                           0.0000
Time periods:                      98   Distribution:                  F(16,127)
Avg Obs:                       1.4694
Min Obs:                       0.0000
Max Obs:                       2.0000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.1705     0.1154    -1.4769     0.1422     -0.3989      0.0579
Liquidity            -0.0841     0.1588    -0.5295     0.5974     -0.3983      0.2302
Liquidity_1          -0.1412     0.1689    -0.8364     0.4045     -0.4754      0.1929
Liquidity_2          -0.0514     0.1654    -0.3111     0.7562     -0.3787      0.2758
Liquidity_3           0.1788     0.1484     1.2046     0.2306     -0.1149      0.4724
Liquidity_4           0.1379     0.1062     1.2983     0.1965     -0.0723      0.3480
Market_returns_1p     0.0874     0.1261     0.6927     0.4898     -0.1622      0.3370
Market_returns       -0.2158     0.1247    -1.7306     0.0860     -0.4625      0.0309
Market_returns_1      0.1523     0.1327     1.1469     0.2536     -0.1104      0.4149
Market_returns_2      0.0581     0.1321     0.4399     0.6607     -0.2033      0.3195
Market_returns_3     -0.1143     0.1282    -0.8914     0.3744     -0.3679      0.1394
Market_returns_4     -0.0817     0.1276    -0.6401     0.5233     -0.3342      0.1708
Issues_1             -0.6237     0.0712    -8.7540     0.0000     -0.7646     -0.4827
1                    -0.2168     0.2421    -0.8956     0.3722     -0.6958      0.2622
2                     0.0901     0.2422     0.3721     0.7105     -0.3891      0.5693
3                    -0.0781     0.2454    -0.3182     0.7508     -0.5637      0.4075
4                     0.3044     0.2437     1.2490     0.2140     -0.1778      0.7865
=====================================================================================

## Adding variables

In [ ]:
path = '/content/drive/MyDrive/PhD/ECF/Hanselaar_Stulz_vanDijk_data/Hanselaar_Stulz_vanDijk_data.xlsx'
Issues = pd.read_excel(path, sheet_name='Issues', skiprows=5)
Issues = Issues.set_index(['YearQuarter']) 
Issues = Issues.diff()
Issues_1 = Issues.shift()
Issues_2 = Issues.shift(2)
Issues_3 = Issues.shift(3)

Liquidity = pd.read_excel(path, sheet_name='Liquidity', skiprows=5)
Liquidity = Liquidity.set_index(['YearQuarter'])  
Liquidity = Liquidity.diff()
Liquidity_2p = Liquidity.shift(-2)
Liquidity_1p = Liquidity.shift(-1)
Liquidity_1 = Liquidity.shift(1)
Liquidity_2 = Liquidity.shift(2)
Liquidity_3 = Liquidity.shift(3)
Liquidity_4 = Liquidity.shift(4)
Liquidity_5 = Liquidity.shift(5)
Liquidity_6 = Liquidity.shift(6)


Market_returns = pd.read_excel(path, sheet_name='Market returns', skiprows=5)
Market_returns = Market_returns.set_index(['YearQuarter'])  

Market_returns_1p = Market_returns.shift(-1)
Market_returns_1 = Market_returns.shift(1)
Market_returns_2 = Market_returns.shift(2)
Market_returns_3 = Market_returns.shift(3)
Market_returns_4 = Market_returns.shift(4)



names_of_variables = [Issues, 
                      Liquidity_2p, Liquidity_1p, Liquidity, Liquidity ** 2,
                      Liquidity_1, Liquidity_2, Liquidity_3, Liquidity_4,
                      Liquidity_5, Liquidity_6,
                      Market_returns_1p, Market_returns, Market_returns ** 2, Market_returns_1,
                      Market_returns_2, Market_returns_3, Market_returns_4,
                      Issues_1, Issues_2, Issues_3]

list_of_variables = ['Issues', 
                      'Liquidity_2p', 'Liquidity_1p', 'Liquidity', 'Liquidity2', 
                      'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4',
                      'Liquidity_5', 'Liquidity_6',
                      'Market_returns_1p', 'Market_returns', 'Market_returns2', 'Market_returns_1',
                      'Market_returns_2', 'Market_returns_3', 'Market_returns_4',
                      'Issues_1', 'Issues_2', 'Issues_3']

i = 0
for data in names_of_variables:
  data  = pd.DataFrame(data.stack(dropna = False ), columns=[list_of_variables[i]])
  data.index = data.index.set_names(['YearQuarter', 'Country'])
  if i == 0: new_name_of_variables = pd.DataFrame(index = data.index, columns= list_of_variables)
  new_name_of_variables[list_of_variables[i]] = data
  i += 1

panel_data = pd.concat([new_name_of_variables,
                        pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(0) % 10, 
                                                index = new_name_of_variables.index)['YearQuarter'])], axis = 1)



panel_data

                         Issues  Liquidity_2p  Liquidity_1p  ...  2  3  4
YearQuarter Country                                          ...
19901       ARG             NaN           NaN           NaN  ...  0  0  0
            AUS             NaN           NaN           NaN  ...  0  0  0
            AUT             NaN           NaN           NaN  ...  0  0  0
            BEL             NaN           NaN           NaN  ...  0  0  0
            BRA             NaN           NaN           NaN  ...  0  0  0
...                         ...           ...           ...  ... .. .. ..
20144       SWE        1.498864           NaN           NaN  ...  0  0  1
            THA        1.521491           NaN           NaN  ...  0  0  1
            USANASDAQ  1.481866           NaN           NaN  ...  0  0  1
            USANYSE    0.079183           NaN           NaN  ...  0  0  1
            ZAF        2.606112           NaN           NaN  ...  0  0  1

[4000 rows x 25 columns]

In [ ]:
panel_data = panel_data.reset_index().set_index(['Country', 'YearQuarter'])


model = PanelOLS(panel_data.dropna().Issues,
                panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                  'Liquidity_5', 'Liquidity_6', 'Issues_2', 'Issues_3']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4751
Estimator:                   PanelOLS   R-squared (Between):             -0.3917
No. Observations:                3028   R-squared (Within):               0.4752
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4751
Time:                        12:14:28   Log-likelihood                   -4942.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      151.33
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(18,3009)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             151.17
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(18,3009)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0145     0.0234    -0.6189     0.5360     -0.0605      0.0315
Liquidity             0.1104     0.0348     3.1673     0.0016      0.0420      0.1787
Liquidity2           -0.0056     0.0036    -1.5608     0.1187     -0.0126      0.0014
Liquidity_1           0.1121     0.0387     2.9001     0.0038      0.0363      0.1879
Liquidity_2           0.0344     0.0381     0.9029     0.3667     -0.0403      0.1091
Liquidity_3           0.0409     0.0324     1.2608     0.2075     -0.0227      0.1044
Liquidity_4           0.0076     0.0218     0.3495     0.7267     -0.0351      0.0503
Market_returns_1p    -0.0375     0.0257    -1.4600     0.1444     -0.0878      0.0129
Market_returns        0.0657     0.0256     2.5711     0.0102      0.0156      0.1159
Market_returns2       0.0064     0.0138     0.4672     0.6404     -0.0206      0.0334
Market_returns_1      0.0898     0.0261     3.4418     0.0006      0.0386      0.1409
Market_returns_2     -0.1569     0.0260    -6.0349     0.0000     -0.2079     -0.1059
Market_returns_3     -0.0281     0.0261    -1.0789     0.2807     -0.0792      0.0230
Market_returns_4      0.0174     0.0259     0.6713     0.5021     -0.0334      0.0682
Issues_1             -0.6321     0.0142    -44.571     0.0000     -0.6599     -0.6042
1                    -0.3177     0.0485    -6.5500     0.0000     -0.4128     -0.2226
2                     0.2251     0.0493     4.5687     0.0000      0.1285      0.3218
3                    -0.0769     0.0506    -1.5177     0.1292     -0.1761      0.0224
4                     0.1919     0.0499     3.8472     0.0001      0.0941      0.2897
=====================================================================================

In [ ]:
panel_data = panel_data.reset_index().set_index(['Country', 'YearQuarter'])


model = PanelOLS(panel_data.dropna().Issues,
                panel_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                  'Liquidity_5', 'Liquidity_6']))
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.6428
Estimator:                   PanelOLS   R-squared (Between):             -0.2510
No. Observations:                3028   R-squared (Within):               0.6429
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.6428
Time:                        12:14:28   Log-likelihood                   -4359.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      270.51
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(20,3007)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             270.29
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(20,3007)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0211     0.0193    -1.0922     0.2748     -0.0591      0.0168
Liquidity             0.0877     0.0288     3.0469     0.0023      0.0312      0.1441
Liquidity2           -0.0030     0.0029    -1.0124     0.3114     -0.0088      0.0028
Liquidity_1           0.1306     0.0319     4.0935     0.0000      0.0680      0.1932
Liquidity_2           0.1171     0.0315     3.7126     0.0002      0.0552      0.1789
Liquidity_3           0.1098     0.0269     4.0826     0.0000      0.0571      0.1626
Liquidity_4           0.0307     0.0180     1.7021     0.0888     -0.0047      0.0660
Market_returns_1p     0.0011     0.0212     0.0533     0.9575     -0.0405      0.0427
Market_returns        0.0686     0.0211     3.2499     0.0012      0.0272      0.1101
Market_returns2       0.0070     0.0114     0.6186     0.5362     -0.0152      0.0293
Market_returns_1      0.0965     0.0215     4.4825     0.0000      0.0543      0.1387
Market_returns_2     -0.0866     0.0215    -4.0207     0.0001     -0.1288     -0.0444
Market_returns_3     -0.0383     0.0216    -1.7751     0.0760     -0.0805      0.0040
Market_returns_4     -0.0655     0.0215    -3.0475     0.0023     -0.1076     -0.0234
Issues_1             -1.0738     0.0166    -64.543     0.0000     -1.1064     -1.0411
Issues_2             -0.7999     0.0213    -37.529     0.0000     -0.8417     -0.7581
Issues_3             -0.4215     0.0166    -25.324     0.0000     -0.4541     -0.3889
1                    -0.2372     0.0405    -5.8584     0.0000     -0.3166     -0.1578
2                     0.1427     0.0410     3.4846     0.0005      0.0624      0.2230
3                    -0.1157     0.0420    -2.7532     0.0059     -0.1981     -0.0333
4                     0.2044     0.0417     4.9033     0.0000      0.1227      0.2861
=====================================================================================

## Cross sectional or time series regressions

In [ ]:
path = '/content/drive/MyDrive/PhD/ECF/Hanselaar_Stulz_vanDijk_data/Hanselaar_Stulz_vanDijk_data.xlsx'
Issues = pd.read_excel(path, sheet_name='Issues', skiprows=5)
Issues = Issues.set_index(['YearQuarter']) 
Issues = Issues.diff()
Issues_1 = Issues.shift()
Issues_2 = Issues.shift(2)
Issues_3 = Issues.shift(3)
#Issues['Quarter'] = Issues.YearQuarter % 10 

Liquidity = pd.read_excel(path, sheet_name='Liquidity', skiprows=5)
Liquidity = Liquidity.set_index(['YearQuarter'])  
Liquidity = Liquidity.diff()
Liquidity_2p = Liquidity.shift(-2)
Liquidity_1p = Liquidity.shift(-1)
Liquidity_1 = Liquidity.shift(1)
Liquidity_2 = Liquidity.shift(2)
Liquidity_3 = Liquidity.shift(3)
Liquidity_4 = Liquidity.shift(4)
Liquidity_5 = Liquidity.shift(5)
Liquidity_6 = Liquidity.shift(6)

#Liquidity['Quarter'] = Liquidity.YearQuarter % 10 

Market_returns = pd.read_excel(path, sheet_name='Market returns', skiprows=5)
Market_returns = Market_returns.set_index(['YearQuarter'])  

Market_returns_1p = Market_returns.shift(-1)
Market_returns_1 = Market_returns.shift(1)
Market_returns_2 = Market_returns.shift(2)
Market_returns_3 = Market_returns.shift(3)
Market_returns_4 = Market_returns.shift(4)

names_of_variables = [Issues, 
                      Liquidity_2p, Liquidity_1p, Liquidity,
                      Liquidity_1, Liquidity_2, Liquidity_3, Liquidity_4,
                      Liquidity_5, Liquidity_6,
                      Market_returns_1p, Market_returns, Market_returns_1,
                      Market_returns_2, Market_returns_3, Market_returns_4,
                      Issues_1, Issues_2, Issues_3]

list_of_variables = ['Issues', 
                      'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                      'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4',
                      'Liquidity_5', 'Liquidity_6',
                      'Market_returns_1p', 'Market_returns', 'Market_returns_1',
                      'Market_returns_2', 'Market_returns_3', 'Market_returns_4',
                      'Issues_1', 'Issues_2', 'Issues_3']

i = 0
for data in names_of_variables:
  data  = pd.DataFrame(data.stack(dropna = False ), columns=[list_of_variables[i]])
  data.index = data.index.set_names(['YearQuarter', 'Country'])
  if i == 0: new_name_of_variables = pd.DataFrame(index = data.index, columns= list_of_variables)
  new_name_of_variables[list_of_variables[i]] = data
  i += 1


panel_data = pd.concat([new_name_of_variables,
                        pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(0) % 10, 
                                                index = new_name_of_variables.index)['YearQuarter'])], axis = 1)

In [ ]:
columns = ['HKG', 'IDN', 'IND', 
            'ISR', 'JPN', 'KOR', 'KOR', 'MYS', 'RUS', 'SGP', 'THA', 'PHL',
            'AUT', 'BEL', 'CHE', 'DNK', 'ESP','FIN', 'FRA', 'GBR',
            'GRC', 'ITA', 'DEU', 'NLD', 'NOR', 'POL', 'PRT', 'SWE',
            'CAN', 'USANASDAQ', 'USANYSE', 'BRA', 'COL', 'MEX',
            'CHL','AUS', 'NZL', 'EGY', 'ZAF']


pvals = pd.DataFrame(index = panel_data.drop(columns=['Issues', 'Liquidity_2p',
                         'Liquidity_5', 'Liquidity_6']).columns, columns = columns)

coef = pd.DataFrame(index = panel_data.drop(columns=['Issues', 'Liquidity_2p',
                         'Liquidity_5', 'Liquidity_6']).columns, columns = columns)
for country in columns:

  my_data = panel_data[panel_data.index.get_level_values('Country') == country]
                                        
  model = sm.OLS(my_data.dropna().Issues,
                  my_data.dropna().drop(columns=['Issues', 'Liquidity_2p',
                                                    'Liquidity_5', 'Liquidity_6']))
  res = model.fit()
  pvals[country] = np.round(res.pvalues, decimals=3)
  coef[country] = np.round(res.params, decimals=2)

pvals.to_excel('pvals.xlsx')
coef.to_excel('coef.xlsx')

Controlling for regional effect

In [ ]:
path = '/content/drive/MyDrive/PhD/ECF/Hanselaar_Stulz_vanDijk_data/Hanselaar_Stulz_vanDijk_data.xlsx'
Issues = pd.read_excel(path, sheet_name='Issues', skiprows=5)
Issues = Issues.set_index(['YearQuarter']) 
Issues = Issues.diff()
Issues_1 = Issues.shift()
Issues_2 = Issues.shift(2)
Issues_3 = Issues.shift(3)

Liquidity = pd.read_excel(path, sheet_name='Liquidity', skiprows=5)
Liquidity = Liquidity.set_index(['YearQuarter'])  
Liquidity = Liquidity.diff()
Liquidity_2p = Liquidity.shift(-2)
Liquidity_1p = Liquidity.shift(-1)
Liquidity_1 = Liquidity.shift(1)
Liquidity_2 = Liquidity.shift(2)
Liquidity_3 = Liquidity.shift(3)
Liquidity_4 = Liquidity.shift(4)
Liquidity_5 = Liquidity.shift(5)
Liquidity_6 = Liquidity.shift(6)

Market_returns = pd.read_excel(path, sheet_name='Market returns', skiprows=5)
Market_returns = Market_returns.set_index(['YearQuarter'])  

Market_returns_1p = Market_returns.shift(-1)
Market_returns_1 = Market_returns.shift(1)
Market_returns_2 = Market_returns.shift(2)
Market_returns_3 = Market_returns.shift(3)
Market_returns_4 = Market_returns.shift(4)



names_of_variables = [Issues, 
                      Liquidity_2p, Liquidity_1p, Liquidity,
                      Liquidity_1, Liquidity_2, Liquidity_3, Liquidity_4,
                      Liquidity_5, Liquidity_6,
                      Market_returns_1p, Market_returns, Market_returns_1,
                      Market_returns_2, Market_returns_3, Market_returns_4,
                      Issues_1, Issues_2, Issues_3]

list_of_variables = ['Issues', 
                      'Liquidity_2p', 'Liquidity_1p', 'Liquidity',
                      'Liquidity_1', 'Liquidity_2', 'Liquidity_3', 'Liquidity_4',
                      'Liquidity_5', 'Liquidity_6',
                      'Market_returns_1p', 'Market_returns', 'Market_returns_1',
                      'Market_returns_2', 'Market_returns_3', 'Market_returns_4',
                      'Issues_1', 'Issues_2', 'Issues_3']

i = 0
for data in names_of_variables:
  data  = pd.DataFrame(data.stack(dropna = False ), columns=[list_of_variables[i]])
  data.index = data.index.set_names(['YearQuarter', 'Country'])
  if i == 0: new_name_of_variables = pd.DataFrame(index = data.index, columns= list_of_variables)
  new_name_of_variables[list_of_variables[i]] = data
  i += 1


panel_data = pd.concat([new_name_of_variables,
                        pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(0) % 10, 
                                                index = new_name_of_variables.index)['YearQuarter']),
                        pd.get_dummies(pd.DataFrame(new_name_of_variables.index.get_level_values(1), 
                        index = new_name_of_variables.index))], axis = 1)

panel_data = panel_data.reset_index().set_index(['Country', 'YearQuarter'])


panel_data

                         Issues  Liquidity_2p  ...  Country_USANYSE  Country_ZAF
Country   YearQuarter                          ...
ARG       19901             NaN           NaN  ...                0            0
AUS       19901             NaN           NaN  ...                0            0
AUT       19901             NaN           NaN  ...                0            0
BEL       19901             NaN           NaN  ...                0            0
BRA       19901             NaN           NaN  ...                0            0
...                         ...           ...  ...              ...          ...
SWE       20144        1.498864           NaN  ...                0            0
THA       20144        1.521491           NaN  ...                0            0
USANASDAQ 20144        1.481866           NaN  ...                0            0
USANYSE   20144        0.079183           NaN  ...                1            0
ZAF       20144        2.606112           NaN  ...                0            1

[4000 rows x 63 columns]

In [ ]:
panel_data = panel_data.dropna()
panel_data = panel_data.loc[:, (panel_data != 0).any(axis=0)]


model = PanelOLS(panel_data.Issues,
                 panel_data.drop(columns=['Issues', 'Liquidity_2p',
                 'Liquidity_5', 'Liquidity_6', 'Issues_2', 'Issues_3']),
                 check_rank = False)
res = model.fit()

print(res.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Issues   R-squared:                        0.4748
Estimator:                   PanelOLS   R-squared (Between):              1.0000
No. Observations:                3028   R-squared (Within):               0.4748
Date:                Wed, Jul 28 2021   R-squared (Overall):              0.4748
Time:                        12:24:49   Log-likelihood                   -4943.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      48.871
Entities:                          40   P-value                           0.0000
Avg Obs:                       75.700   Distribution:                 F(55,2973)
Min Obs:                       0.0000
Max Obs:                       89.000   F-statistic (robust):             71.583
                                        P-value                           0.0000
Time periods:                      98   Distribution:                 F(55,2973)
Avg Obs:                       30.898
Min Obs:                       0.0000
Max Obs:                       38.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
Liquidity_1p         -0.0197     0.0233    -0.8437     0.3989     -0.0653      0.0260
Liquidity             0.0955     0.0337     2.8320     0.0047      0.0294      0.1617
Liquidity_1           0.1025     0.0384     2.6702     0.0076      0.0272      0.1778
Liquidity_2           0.0306     0.0383     0.7998     0.4239     -0.0444      0.1056
Liquidity_3           0.0388     0.0326     1.1892     0.2345     -0.0252      0.1027
Liquidity_4           0.0077     0.0219     0.3504     0.7261     -0.0353      0.0507
Market_returns_1p    -0.0362     0.0258    -1.4001     0.1616     -0.0869      0.0145
Market_returns        0.0681     0.0256     2.6635     0.0078      0.0180      0.1182
Market_returns_1      0.0884     0.0262     3.3747     0.0007      0.0370      0.1398
Market_returns_2     -0.1580     0.0262    -6.0410     0.0000     -0.2093     -0.1067
Market_returns_3     -0.0273     0.0262    -1.0410     0.2980     -0.0787      0.0241
Market_returns_4      0.0169     0.0261     0.6468     0.5178     -0.0342      0.0679
Issues_1             -0.6323     0.0143    -44.336     0.0000     -0.6603     -0.6044
1                    -0.3262
2                     0.2181
3                    -0.0831
4                     0.1863
Country_AUS          -0.0004
Country_AUT          -0.0092
Country_BEL          -0.0075
Country_BRA           0.0262
Country_CAN          -0.0088
Country_CHE          -0.0313
Country_CHL          -0.0231
Country_COL          -0.0352
Country_DEU          -0.0039
Country_DNK          -0.0072
Country_EGY           0.0273
Country_ESP          -0.0044
Country_FIN          -0.0012
Country_FRA           0.0143
Country_GBR           0.0104
Country_GRC          -0.0191
Country_HKG          -0.0023
Country_IDN           0.0272
Country_IND           0.0255
Country_ISR          -0.0574
Country_ITA           0.0075
Country_JPN          -0.0146
Country_KOR           0.0027
Country_MEX           0.0024
Country_MYS           0.0122
Country_NLD           0.0024
Country_NOR           0.0061
Country_NZL          -0.0095
Country_PHL           0.0090
Country_POL           0.0144
Country_PRT          -0.0168
Country_RUS           0.0521
Country_SGP          -0.0243
Country_SWE           0.0161
Country_THA          -0.0047
Country_USANASDAQ    -0.0099
Country_USANYSE      -0.0091
Country_ZAF           0.0394
=====================================================================================

/usr/local/lib/python3.7/dist-packages/linearmodels/panel/results.py:85: RuntimeWarning: invalid value encountered in sqrt
  return Series(np.sqrt(np.diag(self.cov)), self._var_names, name="std_error")